title: Fearless Salary Negotiation
description: Salary Negotiation strategies and tactics for Senior Software Engineers and Engineering Manager
url: "https://fearlesssalarynegotiation.com"
avg_coach_increase_devs: $47,273

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.babel.js
  - LICENSE.md
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.config.js
  - netlify.toml

plugins: [jekyll-paginate]

permalink: /:title/

collections:
  book_chapters:
    output: true
    permalink: /book/:title/
  book_excerpts:
    output: true
    permalink: /book/:path/
  # book:
  #   output: true
  #   permalink: /book/:title/
  resources:
    output: true
    permalink: /resource-library/:title/
  success-stories:
    output: true
    permalink: /results/:path/
  case-studies:
    output: true
    permalink: /results/:path/
  media_podcasts:
    output: false
  media_articles:
    output: false
