title: Fearless Salary Negotiation
description: Proven salary negotiation strategies and tactics for Software Developers to ace job interviews

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.babel.js
  - LICENSE.md
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.config.js
  - netlify.toml

plugins: [jekyll-paginate]

permalink: /:day/:month/:year/:title/

# paginate: 3
# paginate_path: "/articles/page:num/"