title: Fearless Salary Negotiation
description: Proven salary negotiation strategies and tactics for Software Developers to ace job interviews
url: "https://fearlesssalarynegotiation.com"

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.babel.js
  - LICENSE.md
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.config.js
  - netlify.toml

plugins: [jekyll-paginate]

permalink: /:title/

collections:
  book_chapters:
    output: true
    permalink: /book/:title/
  book_excerpts:
    output: true
    permalink: /book/:path/
  # book:
  #   output: true
  #   permalink: /book/:title/
  resources:
    output: true
    permalink: /free-resources/:title/
  success-stories:
    output: true
    permalink: /success-stories/:path/