---
layout: about
title: About Josh Doody, Founder of Fearless Salary Negotiation
subhead: About
description: I'm Josh, a Salary Negotiation Coach for High Earners. This is your home for all-things Salary Negotiation.
heroImg: callout-josh-headshot.png
navTitle: About
navWeight: 5
bodyClass: about
---

<div class="container mx-auto pt-20">

  <div class="md:flex justify-between">

    <div class="md:w-6/12 about-content">

      <h2 class="sans-serif uppercase text-3xl mb-10">About Josh Doody</h2>

      <p>I'm a <a href=
				"/coach/">Salary Negotiation Coach</a> who helps High Earners negotiate their job offers. I have two primary goals for every client I work with: Maximize the value of your job offer without leaving anything on the table, and teach you exactly how to do what I do.</p>

      <p>On average, High Earners improve their first-year compensation by {{ site.avg_coach_increase_devs }} with my help.</p>

      <p>I love what I do!</p>

			<p><a href="/contact/">Get in touch <i class="fas fa-angle-double-right"></i></a></p>

      <h3 class="sans-serif uppercase text-2xl mb-5">My background</h3>

      <p>I studied Computer & Electrical Engineering at the University of Florida, and later returned to earn my MBA. I began my career as an electrical engineer before changing directions to work as a business analyst and project manager for s small software company in the Talent Management industry.</p>

      <p>I spent about 10 years consulting with companies on how to use software to do performance reviews, set and align goals, and plan compensation for their organizations. Once I understood how companies pay their employees, I began negotiating my own salary and eventually helping friends and family negotiate their salaries.</p>

			 <p>I eventually wrote <a href="/get-started/"><em>Fearless Salary Negotiation</em></a> to share my methodology with as many people as possible. And I've spent the past several years coaching High Earners through salary negotiations to make sure they're paid what they're worth.</p>

       <hr class="my-10">

      <h2 class="sans-serif uppercase text-3xl mb-10">About Fearless Salary Negotiation</h2>

      <p><a href="/get-started/"><em>Fearless Salary Negotiation</em></a> is my way of helping others understand their value and use collaborative strategies and tactics to finally get paid what they’re worth.</p>

      <p>It began as a book that quickly became a #1 Best Seller on Amazon. As I coached software developers and other professionals through their salary negotiations, I continued building this site to share everything I know about salary negotiation so others can benefit as well.</p>

      <p><a href="/get-started/"><em>Fearless Salary Negotiation</em></a> is now recognized as a go-to resource by the media and customers alike. The book and courses have been used by thousands of people to earn millions of dollars that they otherwise would have left on the table.</p>

			 <p><a href="/get-started/"><em>Fearless Salary Negotiation</em></a> offers a book, courses, and other resources to help you confidently negotiate your salary without leaving anything on the table:</p>

			 <br>

			 <ul>
				 <li>The <a href="/get-started/"><em>Fearless Salary Negotiation</em></a> book bundle</li>
				 <li><a href="/salary-negotiation-mastery/">Salary Negotiation Mastery</a></li>
				 <li><a href="/get-your-next-raise/">Get Your Next Raise</a></li>
			 </ul>
    </div>

    <div class="md:w-5/12 md:mt-0 mt-12 about-sidebar">

      <!-- <iframe class="mb-7" width="460" height="264" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p class="text-black text-sm">Short description here separated they live in Bookmark right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right </p>

      <hr class="w-100 my-16 hr-default"> -->

      <div class="help-callout p-8 pb-12">
        <h4 class="sans-serif uppercase text-lg brand-secondary mb-4">Get 1-on-1 Help</h4>
        <h3 class="sans-serif uppercase text-2xl text-black mb-10">Need full-service 1-on-1 support to help guide you through your salary negotiation?</h3>
        <p><a href="/coach/" class="btn btn-primary">Get 1-On-1 Help</a></p>
      </div>

    </div>

  </div>

</div>

<div class="container mx-auto my-24">

  {% include in-the-press.html %}

</div><!-- /in the press -->

<div>
  <div class="container mx-auto">
    <hr class="hr-default">
  </div>
</div>

<div class="container mx-auto my-24">

  {% include podcast-appearance.html %}

</div><!-- /podcast appearances -->