---
layout: about
title: Josh Doody
subhead:: About
description: Short introduction goes here they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks
heroImg: headshot-about-josh.png
navTitle: About
navWeight: 5
bodyClass: about
---

<div class="container mx-auto pt-20">

  <div class="md:flex justify-between">

    <div class="md:w-6/12 about-content">

      <h2 class="text-black sans-serif uppercase text-3xl mb-10">Short headline here</h2>

      <p class="serif text-xl">Big text tempor et tortor eu lorem egestas egestas. Magnis fermentum, aliquam tincidunt consequat in felis sit fringilla elit. Auctor ut arcu molestie turpis justo. Eu pretium pulvinar hendrerit turpis enim massa. Nisl elit malesuada est.</p>

      <hr class="my-10">

      <h3 class="text-black sans-serif uppercase text-2xl mb-5">H3 Medium length headline</h3>

      <p>Pellentesque enim sem dictum dignissim a augue sed tempus. Metus morbi suspendisse egestas massa morbi scelerisque quam. Feugiat posuere proin dignissim elit nisl vulputate id. Tortor, nec, risus, amet ut in gravida. Commodo lorem quis pellentesque eget ut ullamcorper. Leo vestibulum nisl massa diam gravida porta eget nibh iaculis. Turpis ullamcorper egestas in urna, risus tincidunt ac. Diam nisi proin vel gravida urna suspendisse feugiat iaculis odio. Duis aliquet leo hac donec mattis cursus euismod nec risus.</p>

      <h4 class="text-black sans-serif uppercase text-xl mb-5">h4 Medium length headline</h4>

      <p>Sed at nunc platea orci nulla quam adipiscing odio. Risus risus adipiscing sed dictum lorem nisi, donec diam felis. Sit molestie urna sed ullamcorper eget id vehicula tempus. Turpis et amet sed donec amet pretium leo magna. Ultrices arcu mauris, a sit sed semper malesuada penatibus felis. Amet lacus, et imperdiet euismod adipiscing. Sit neque odio fermentum, luctus orci. Elit cursus elit quam mi quam commodo, blandit ullamcorper. Nunc nulla porttitor quis egestas sagittis fermentum vitae amet. Ut semper integer facilisis tortor quis vel lorem consectetur tellus. Praesent in mi sagittis nec.</p>

      <h5 class="text-black sans-serif uppercase text-lg mb-5">H5 Medium length headline</h5>

      <p>Sed non nec turpis venenatis dui. Dolor sed senectus egestas ligula amet, tortor, aenean blandit proin. Purus dolor eu tellus lorem ut mauris quam sed. Morbi bibendum mi id ultricies habitant. Ac tempus, pellentesque et aliquet pharetra. Tellus magna tortor, sit sapien turpis vulputate parturient. Orci ut dictumst proin tortor, lacus. Morbi dui volutpat eget faucibus porttitor. </p>

    </div>

    <div class="md:w-5/12 md:mt-0 mt-12 about-sidebar">

      <iframe class="mb-7" width="460" height="264" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p class="text-black text-sm">Short description here separated they live in Bookmark right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right </p>

      <hr class="w-100 my-16 hr-default">

      <div class="help-callout p-8 pb-12">
        <h4 class="sans-serif uppercase text-lg brand-secondary mb-4">Get 1-on-1 Help</h4>
        <h3 class="sans-serif uppercase text-2xl text-black mb-10">Need full-service 1-on-1 support to help guide you through yoursalary negotiation?</h3>
        <p><a href="/one-on-one/" class="btn btn-primary">Get 1-On-1 Help</a></p>
      </div>

    </div>

  </div>

</div>

<div class="container mx-auto my-24">

  {% include in-the-press.html %}

</div><!-- /in the press -->

<div>
  <div class="container mx-auto">
    <hr class="hr-default">
  </div>
</div>

<div class="container mx-auto my-24">

  {% include podcast-appearance.html %}

</div><!-- /podcast appearances -->