---
layout: articles
title: Featured Article Title Goes here
subTitle: Articles
---

<div class="container mx-auto py-20">

  <div class="cat-nav">
    <ul class="list-none inline-flex items-center ml-0 mb-16">
      <li><a href="/articles/">All</a></li>
      {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
        <li><a href="{{category.url}}">{{ category_name }}</a></li>
      {% endfor %}
      <li>Search</li>
    </ul>
  </div><!-- /cat-nav -->

  <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4 flex flex-col">
    {% for post in site.posts %}
      <div class="bg-white">
        <div class="p-8">
          <p class="text-2xl"><a href="{{ post.url }}">{{ post.title }}</a></p>
          <hr class="my-6 w-16 hr-article">
          <p class="text-sm mb-6">{{ post.excerpt }}</p>
        </div>
        <div class="category flex items-center justify-between content-end">
          <div class="pl-8"><p>{{ post.categories }}</p></div>
          <div><a href="{{ post.url }}" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>