---
layout: articles
title: Salary Negotiation Articles for Software Engineers and Engineering Managers
subhead: Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.
description: Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.
heroImg: hero-maze.png
permalink: /articles/
navTitle: Articles
navWeight: 2
---

<div class="container mx-auto py-20">

  <div class="cat-nav">
    <ul class="list-none ml-0 mb-16 resource-cat-nav">
      <li class="cat-active inline-block"><button id="show-all">All</button></li>
      {% assign categories_array = "" | split:"|" %}
      {% for post in site.posts %}
        {% for category in post.categories %}
          {% assign categories_array = categories_array | push: category | uniq %}
        {% endfor %}
      {% endfor %}
      {% for category in categories_array %}
			<li class="inline-block"><button class="resource-filter" id="{{ category | slugify }}">{{ site.data.categories[category].title }}</button></li>        
      {% endfor %}
      <!-- <li class="inline-block">Search</li> -->
    </ul>
  </div><!-- /cat-nav -->

  <div class="blog-featured mb-20">
    <div class="md:grid md:grid-cols-2 gap-6 md:flex">
      {% assign featured = site.posts | where: 'featured', 'true' %}
      {% for feat in featured limit:2 %}
        <div class="p-10 border-4 border-white">
          <h4 class="text-xl pb-4 uppercase sans-serif">Featured</h4>
          <h3 class="color-black text-4xl uppercase sans-serif mb-4"><a href="{{ feat.url }}">{{ feat.title }}</a></h3>
          <p class="mb-10">{{ feat.description }}</p>
          <p><a href="{{ feat.url }}" class="btn-primary btn">Read More</a></p>
        </div>
      {% endfor %}
    </div>
  </div><!-- /blog-featured -->

  <div class="blog-list grid sm:grid-cols-1 lg:grid-cols-3 gap-4">
    {% for post in site.posts %}
      <div class="bg-white flex flex-col {{ post.categories }}">
        <div class="p-8 flex-grow flex-1">
          <p class="text-2xl"><a href="{{ post.url }}">{{ post.title }}</a></p>
          <hr class="my-6 w-16 hr-article">
          <p class="text-sm mb-6 sans-serif">{{ post.description }}</p>
        </div>
        <div class="category items-center justify-between flex">
          <div class="pl-8"><p class="sans-serif text-xs">{{ site.data.categories[post.categories.first].title }}</p></div>
          <div><a href="{{ post.url }}" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
    {% endfor %}
  </div><!-- /blog-list -->

  <div class="load-more mt-16">
    <p class="text-center uppercase sans-serif"><button>Load More Articles <i class="fas fa-angle-double-down ml-2"></i></button></p>
  </div>

</div>

{% include one-on-one-help.html %}