---
layout: default-alt
permalink: /crash-course/
title: Negotiate your job offer like a pro
subTitle: The Crash Course
description: At netus elit convallis nibh donec in feugiat libero euismod.Risus egestas eu in sit ut. Tortor in vitae libero magnis cursusjusto. Fermentum tortor, eu, sem nulla blandit purus.
heroImg: hero-crash-course.png
ctaUrl: index.html
ctaText: Get Instant Access
showAccessTag: hide
showAccessModal: show
---

<div class="container mx-auto pt-20 mt-20">

  <div class="book-intro mb-16">
    <h2 class="text-3xl sans-serif uppercase">Briefly describe the product in this section right here</h2>
    <hr class="my-8 w-16">
    <p class="serif">Velit diam ac, consequat, tortor vivamus vestibulum quisque. Quis est at diam id tortor justo. Vitae enim accumsan ac rhoncus et egestas at. Volutpat quisque nisl, tellus suscipit ultrices mauris imperdiet. Sed facilisi cursus pharetra orci morbi odio vitae posuere tellus. In egestas.</p>
  </div><!-- /book-intro -->

  <div class="flex grid grid-cols-3 gap-6 justify-items-center">
    <div class="book-block">
      <img src="{{ site.baseurl }}/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block">
      <img src="{{ site.baseurl }}/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block">
      <img src="{{ site.baseurl }}/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div>

  <hr class="my-24">

  <div class="product-group my-24">
    <div class="flex items-center grid grid-cols-2 mb-14">
      <div>
        <h3 class="sans-serif uppercase mb-2">What You Get</h3>
        <h2 class="text-3xl sans-serif uppercase">Get these essential tools to get paid what you're worth</h2>
      </div>
      <div class="text-right">
        <a class="btn-primary btn text-right btn-access-tag">Get Instant Access</a>
      </div>
    </div>

    <div class="flex grid grid-cols-4 gap-6 justify-items-center">
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-video-lesson.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Step-by-step video course</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> First detail in this checklist</li>
          <li><i class="fas fa-check-circle"></i> Another detail shown in the list</li>
          <li><i class="fas fa-check-circle"></i> And a third detail</li>
        </ul>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-email.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">10 Email templates</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> First detail in this checklist</li>
          <li><i class="fas fa-check-circle"></i> Another detail shown in the list</li>
        </ul>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-writing.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Essential Salary Negotiation Email Pack</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> First detail in this checklist</li>
          <li><i class="fas fa-check-circle"></i> Another detail shown in the list</li>
          <li><i class="fas fa-check-circle"></i> And a third detail</li>
        </ul>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-worksheet.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Salary Negotiation Worksheet </p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> First detail in this checklist</li>
          <li><i class="fas fa-check-circle"></i> Another detail shown in the list</li>
        </ul>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-cash.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Bonus Video: How to estimate your market value</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-marketing.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Bonus Worksheet: Market Value Estimation</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
      </div>
      <div class="book-block">
        <img src="{{ site.baseurl }}/assets/imgs/ico-structure.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Bonus Video: How companies manage their salary structures</p>
        <p class="serif mb-4">Short but detailed video lessons cover each step to build your case and request your raise.</p>
      </div>
    </div>

  </div><!-- /product-group -->

  <div class="flex justify-between mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Success Stories</h2>
    </div>
    <div>
      <a href="{{ site.baseurl }}/success-stories/" class="btn-primary btn text-right">More Success Stories</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="{{ site.baseurl }}/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes">
      <div>
        <p>I found the crash course at the perfect time because I was just about to start a salary negotiation after a long internal interview process. I work for a tech company and the offer was a little complex.</p>
        <p>Since this was an internal promotion, I was not sure how hard to push and may have let things like company loyalty or the fact that I would be working directly with the recruiter to build out my team if hired affect my choice to counter.</p>
        <p>I looked at a lot of salary negotiation materials and I’ll tell you where this process stands out:</p>
        <ul>
          <li><strong>Focusing on base salary</strong> and not losing sight of that compared to things “in the future.”</li>
          <li><strong>Calculating the aggression factor.</strong> Other material tells you to be aggressive but doesn’t give you tactical ideas to  simplify the process. The Salary Negotiation Crash Course really spelled it out clearly in a way that was easy to  conceptualize and act on.</li>
          <li><strong>The standard counter template was a godsend.</strong></li>
        </ul>
        <p>When I got my first offer, I knew it was above average based on my research. I made a counter based on my aggression factor and put it in the template. The next day, I closed the offer in a quick call. In fact, the hiring manager respected that I countered because I was being hired into a sales role and it showed my business acumen.</p>
        <p><strong>In the end, I had a 25x return on my investment of $97 — thanks Josh!</strong></p>
        <div class="flex items-center mt-6">
          <div class="mr-4"><img src="https://via.placeholder.com/80x80" class="rounded-full h-20 w-20"></div>
          <div>
            <p class="name m-0">First Name</p>
            <p class="title m-0">Job Title</p>
          </div>
        </div>
      </div>
    </div><!-- /suc-quotes -->

    <div class="flex suc-control">
      <button type="button" class="suc-prev"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots"></div>

  </div><!-- /success-slider -->

  <div class="flex mb-14">
    <div class="w-8/12 flex-auto">
      <h3 class="sans-serif uppercase mb-2">What You Learn</h3>
      <h2 class="text-3xl sans-serif uppercase">The complete course curriculum</h2>
      <hr class="hr-gray w-16 mt-6 mb-8">
      <p>Each lesson has a <strong>video</strong> where you will learn what you need to complete your action items for that lesson. You can approach the process in seven manageable lessons so you don't get overwhelmed. Each lesson also has clear action items to keep you moving forward. As you move through each lesson and complete the action items, you will move on to the next lesson.</p>
    </div>
    <div class="text-right flex-auto w-4/12 md:mt-12">
      <a class="btn-primary btn text-right btn-access-tag">Get Instant Access</a>
    </div>
  </div>
  <div class="grid grid-cols-4 toc-carousel book-toc">
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 1</h6>
        <p class="serif"><strong>Start now</strong>—How Get Your Next Raise will get you un-stuck.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 2</h6>
        <p class="serif"><strong>Estimate your market value</strong>—The first step to determine how much to ask for.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 3</h6>
        <p class="serif"><strong>Set your goal</strong>—Now that you know your market value, you can set your goal and ask for the right amount.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 4</h6>
        <p class="serif"><strong>Build your case</strong>—Show your boss you deserve a raise.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 5</h6>
        <p class="serif"><strong>Build your case</strong>—Show your boss you deserve a raise.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 6</h6>
        <p class="serif"><strong>Build your case</strong>—Show your boss you deserve a raise.</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
          <li><i class="fas fa-arrow-circle-right"></i> Subsection name or title</li>
        </ul>
      </div>
    </div>
  </div><!-- / book-toc -->

  <div class="book-video-block mt-28">
    <div class="video-callout p-6">
      <h3>Check out a Sample Lesson</h3>
      <hr>
      <p>Lobortis consectetur sagittis, tristique pretium tempor in ut proin vitae. Quis sed pretium lorem ipsum a nulla auctor. Duis facilisi turpis.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <iframe src="https://www.youtube-nocookie.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><!-- /book-video-block-->

  <div class="grid grid-cols-2 gap-x-8 book-perks mb-32">
    <div class="perk-group flex items-center p-6">
      <div class="mr-6 flex-grow"><img src="{{ site.baseurl }}/assets/imgs/ico-updates.svg" /></div>
      <div class="flex-grow">
        <h5 class="text-lg uppercase sans-serif mb-2">Lifetime Updates</h5>
        <p class="serif">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains.</p>
      </div>
    </div>
    <div class="perk-group flex items-center p-6">
      <div class="mr-6 flex-grow"><img src="{{ site.baseurl }}/assets/imgs/ico-guarantee.svg" /></div>
      <div class="flex-grow">
        <h5 class="text-lg uppercase sans-serif mb-2">Happy Customer Guarantee</h5>
        <p class="serif">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains.</p>
      </div>
    </div>
  </div><!-- /book-perks -->

</div><!-- /container -->

<div class="get-access mx-auto mb-28">

  <div class="container mx-auto pt-24 pb-20">

    <div class="flex">
      <div class="w-3/5"></div>
      <div class="w-2/5">
        <h4 class="uppercase text-xl mb-2 sans-serif">Get Instant Access</h4>
        <h3 class="uppercase text-3xl sans-serif">Headline prompting visitors to buy the book goes right here</h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> Checklist item name or description</li>
          <li><i class="fas fa-check-circle"></i> Checklist item name</li>
          <li><i class="fas fa-check-circle"></i> Checklist item description</li>
        </ul>
        <ul class="mb-8 nope">
          <li><i class="fas fa-times-circle"></i> Decorative liste item</li>
          <li><i class="fas fa-times-circle"></i> Checklist item name</li>
          <li><i class="fas fa-times-circle"></i> Decorative liste item</li>
          <li><i class="fas fa-times-circle"></i> Checklist item name</li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag">Get Instant Access</a> <span>$99</span>
        </div>
      </div>
    </div>

  </div>

</div><!-- /get-access -->

<div class="book-questions mx-auto grid grid-cols-1 w-1/2 mb-28 container">

  <div class="book-faq mb-12">
    <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
    <p class="serif text-lg">Viverra elit quam facilisi faucibus ultrices lectus tempus. Sit sagittis, eget id lobortis arcu adipiscing cursus consequat. Duis egestas ac nibh porttitor massa amet massa. Blandit egestas semper a blandit ipsum, suspendisse nec. </p>
  </div>

  <div class="accordion">
    <div class="acc-open">
      <h6>Question goes here far far away behind the word mountains far from?</h6>
      <div class="acc-hide">
        <p>Adipiscing bibendum sollicitudin rhoncus, sed placerat volutpat egestas sagittis. Malesuada molestie viverra vel neque nunc sed at arcu. Donec ac sodales faucibus vitae nisi, lorem parturient dui tempus. Viverra et nec ultricies egestas faucibus lobortis. Magna arcu nisl morbi mauris lorem quam a. In lorem ullamcorper mauris facilisis ut et elit turpis elementum. Lobortis urna integer sit morbi adipiscing ultrices.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6>Question goes here far far away behind the word mountains far from?</h6>
      <div class="acc-hide">
        <p>Adipiscing bibendum sollicitudin rhoncus, sed placerat volutpat egestas sagittis. Malesuada molestie viverra vel neque nunc sed at arcu. Donec ac sodales faucibus vitae nisi, lorem parturient dui tempus. Viverra et nec ultricies egestas faucibus lobortis. Magna arcu nisl morbi mauris lorem quam a. In lorem ullamcorper mauris facilisis ut et elit turpis elementum. Lobortis urna integer sit morbi adipiscing ultrices.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6>Question goes here far far away behind the word mountains far from?</h6>
      <div class="acc-hide">
        <p>Adipiscing bibendum sollicitudin rhoncus, sed placerat volutpat egestas sagittis. Malesuada molestie viverra vel neque nunc sed at arcu. Donec ac sodales faucibus vitae nisi, lorem parturient dui tempus. Viverra et nec ultricies egestas faucibus lobortis. Magna arcu nisl morbi mauris lorem quam a. In lorem ullamcorper mauris facilisis ut et elit turpis elementum. Lobortis urna integer sit morbi adipiscing ultrices.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6>Question goes here far far away behind the word mountains far from?</h6>
      <div class="acc-hide">
        <p>Adipiscing bibendum sollicitudin rhoncus, sed placerat volutpat egestas sagittis. Malesuada molestie viverra vel neque nunc sed at arcu. Donec ac sodales faucibus vitae nisi, lorem parturient dui tempus. Viverra et nec ultricies egestas faucibus lobortis. Magna arcu nisl morbi mauris lorem quam a. In lorem ullamcorper mauris facilisis ut et elit turpis elementum. Lobortis urna integer sit morbi adipiscing ultrices.</p>
      </div>
    </div>
  </div>

</div><!-- /book-questions -->

<div class="container mx-auto mb-20">

  <div class="flex justify-between mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Success Stories</h2>
    </div>
    <div>
      <a href="#" class="btn-primary btn text-right">More Success Stories</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="{{ site.baseurl }}/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes">
      <div>
        <p>I used the Fearless Salary Negotiation strategy for negotiating an offer and went <strong>from $95,000</strong> with a title of Software Engineer 1 <strong>to $105,000</strong> with a title of Software Engineer 2. Now I can pay off my student loans and buy a house more quickly. Six months later, I did it again! This time, I one-upped that by turning a <strong>$125,000 offer</strong> to a <strong>$145,000 offer</strong>. That's $30,000 in additional salary thanks to this truly wonderful resource.”</p>
        <div class="flex items-center mt-6">
          <div class="mr-4"><img src="https://via.placeholder.com/80x80" class="rounded-full h-20 w-20"></div>
          <div>
            <p class="name m-0">First Name</p>
            <p class="title m-0">Job Title</p>
          </div>
        </div>
      </div>
      <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ullam harum cum error itaque sint ipsa veniam dolorem et eligendi. Ut unde aliquid laborum, quibusdam iste libero quas nihil sed?</p>
        <div class="flex items-center mt-6">
          <div class="mr-4"><img src="https://via.placeholder.com/80x80" class="rounded-full h-20 w-20"></div>
          <div>
            <p class="name m-0">First Name</p>
            <p class="title m-0">Job Title</p>
          </div>
        </div>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolore odit, consectetur quos illo, id beatae reprehenderit adipisci quo, natus eaque deserunt magnam mollitia voluptatibus temporibus unde rem est deleniti voluptas ullam incidunt! Natus placeat perferendis magnam totam quod eligendi cum rem impedit nesciunt inventore fugiat ex fuga, iste modi deleniti voluptate accusamus commodi aspernatur vel. Repellendus error debitis provident nihil perspiciatis nam qui atque iure delectus est? Nobis quasi animi voluptate magnam iusto ut qui odio, aliquid nisi hic et tenetur distinctio, molestiae fuga vitae blanditiis error repudiandae magni porro. Veniam nobis quisquam suscipit aliquam quae amet blanditiis praesentium!</p>
        <div class="flex items-center mt-6">
          <div class="mr-4"><img src="https://via.placeholder.com/80x80" class="rounded-full h-20 w-20"></div>
          <div>
            <p class="name m-0">First Name</p>
            <p class="title m-0">Job Title</p>
          </div>
        </div>
      </div>
    </div><!-- /suc-quotes -->

    <div class="flex suc-control">
      <button type="button" class="suc-prev"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots"></div>

  </div><!-- /success-slider -->

</div>

{% include all-product-cards.html %}

{% include one-on-one-help.html %}