---
layout: default-alt
title: Stop Leaving Money on the Table. Get Paid What You're Worth.
headline: Tactfully negotiate your job offer without leaving anything on the table
description: Salary negotiation resources to get more job offers, maximize your salary when changing jobs, and get raises and promotions at work.
heroImg: hero-book.png
bodyClass: book
---

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	    <h2 class="text-3xl uppercase">"We would like to extend you a job offer..."</h2>
	    <hr class="my-8 w-16">
			
			<p>You didn't realize those words would be so terrifying until you heard them out loud. You simultaneously felt a sense of relief that you finally got a job offer and a sense of dread as you realized you didn't know what to do next.</p>

			<p>It doesn't feel right to simply accept their first offer. <strong>What if you leave money on the table?</strong></p>

			<p>So that means you should negotiate! <strong>But what if they retract the offer?</strong> Then what? All that work for nothing? That's a scary prospect.</p>

			<p>Fortunately, there is a method you can use to tactfully negotiate your job offer without seeming greedy so you don't leave money on the table.</p>

			<p>That method is <em>Fearless Salary Negotiation</em>, a valuable bundle of my essential resources, including a book, worksheets that do all the math for you, templates to help you say and write all the right things, and amazing bonuses to really help drive it all home so you get paid what you're worth.</p>
			
	    <h2 class="text-3xl uppercase">The most common salary negotiation mistake? Not negotiating at all.</h2>
	    <hr class="my-8 w-16">
			
			<p>The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
			<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
			<p>We scheduled a time to talk and I asked her some questions:</p>
			<ul>
			<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
			<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
			<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
			</ul>
			<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move.</p>
			<p>We began by focusing on how should could answer each interview question to position herself as <em>the</em> candidate for the job. That helped her get a stronger job offer with more room to negotiate.</p>
			<p>Once she had a strong offer in hand, she used the <em>Fearless Salary Negotiation</em> method to negotiate from a position of strength, building on the momentum she built during her interviews.</p>
			
	    <h2 class="text-3xl uppercase">This valuable method will earn you thousands of dollars</h2>
	    <hr class="my-8 w-16">
			
			<p>The best part? You can use the same <em>Fearless Salary Negotiation</em> method Ashley used over and over throughout your career when you change jobs and you can use it at your current job. It's easy and repeatable.</p>
			
      <h3 class="sans-serif uppercase mb-2">What is the <em>Fearless Salary Negotiation</em> method worth for you?</h3>
			
			<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <strong>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</strong> That’s a lot of money to leave on the table out of frustration or fear.</p>
		</div>
	</div>
	
  <div class="md:flex md:justify-between mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Results</h2>
    </div>
  </div>
	
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes">
      {% include success-story.html story-id="jared_allen" %}
      {% include success-story.html story-id="justin_abrahms" %}
      {% include success-story.html story-id="josh_c" %}
      {% include success-story.html story-id="john_miller" %}
      {% include success-story.html story-id="mike_g" %}
      {% include success-story.html story-id="j_d" %}
			{% include success-story.html story-id="jason_voegele" %}
    </div><!-- /suc-quotes -->

    <div class="flex suc-control">
      <button type="button" class="suc-prev"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots"></div>

  </div><!-- /success-slider -->
	
  <div class="md:flex mb-14">
    <div class="md:w-8/12 w-full flex-auto">
      <h3 class="sans-serif uppercase mb-2">What's in the Book</h3>
      <h2 class="text-3xl sans-serif uppercase">Table of Contents</h2>
      <hr class="hr-gray w-16 mt-6 mb-8">
      <p><em>Fearless Salary Negotiation</em> is your ultimate guide to tactfully negotiating your job offer without leaving anything on the table... and so much more! You'll also learn how to estimate your market value, ace your job interviews, and get raises and promotions when you're ready!</p>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a href="#basic" class="btn-primary btn text-right btn-access-tag">Get Instant Access</a>
    </div>
  </div>
  <div class="flex toc-control justify-end">
    <button type="button" class="toc-prev"><i class="fas fa-arrow-left"></i></button>
    <div class="toc-dots"></div>
    <button type="button" class="toc-next"><i class="fas fa-arrow-right"></i></button>
  </div>
  <div class="grid grid-cols-4 toc-carousel book-toc">
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Front Matter</h6>
        <p>Getting started</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> About the Author</li>
          <li><i class="fas fa-arrow-circle-right"></i> Introduction</li>
          <li><i class="fas fa-arrow-circle-right"></i> How to get the most out of this book</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Part 1</h6>
        <p>Understanding your market value</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> A few fundamental concepts</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 1. How coompanies manage their salary structures</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 2. How to estimate your market value</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Part 2</h6>
        <p>Getting paid what you're worth when changing comapnies</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Leveraging your best opportunity to significantly increase your salary</li>					
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 3. How to ace your next interview</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 4. How to negotiate your new salary</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 5. How to leave a job on the best possible terms</li>
        </ul>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Part 3</h6>
        <p>Getting paid what you're worth within your current company</p>
        <ul class="arrows">
          <li><i class="fas fa-arrow-circle-right"></i> Do you have to quit your job to get a big raise?</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 6. How to get your next promotion</li>
          <li><i class="fas fa-arrow-circle-right"></i> Chapter 7. How to get your next</li>
        </ul>
      </div>
    </div>
  </div><!-- / book-toc -->

  <hr class="my-24">

  <div class="product-group my-24">
    <div class="flex items-center grid md:grid-cols-2 mb-14">
      <div>
        <h3 class="sans-serif uppercase mb-2">What You Get With The Basic Bundle</h3>
        <h2 class="text-3xl sans-serif uppercase">Get these essential tools to get paid what you're worth</h2>
      </div>
      <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
        <a class="btn-primary btn text-right btn-access-tag" href="#basic">Get the Basic Bundle</a>
      </div>
    </div>

    <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 md:justify-items-center">
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-book.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">The Book!</p>
        <p class="mb-4">The <em>Fearless Salary Negotiation</em> in PDF, ePub and mobi formats</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> The PDF is 200 pages</li>
          <li><i class="fas fa-check-circle"></i> You also get ePub and mobi versions so you can read on your preferred device</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-worksheet.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">4 Worksheets</p>
        <p class="mb-4">4 detailed worksheets to help you implement everything you learn.</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> Build your case for your next raise or promotion</li>
          <li><i class="fas fa-check-circle"></i> Estimate the market value of your skillset and experience</li>
          <li><i class="fas fa-check-circle"></i> Navigate the entire salary negotiation process</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-email.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">7 Email Templates</p>
        <p class="mb-4">Taken from real-world examples to make communicating with recruiters, hiring managers, and bosses easy. Templates to...</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> Follow up throughout the interview process</li>
          <li><i class="fas fa-check-circle"></i> Deliver your counteroffer in a salary negotiation</li>
          <li><i class="fas fa-check-circle"></i> Request your next raise or promotion</li>
        </ul>
      </div>
    </div>

  </div><!-- /product-group -->

  <div class="product-group my-24">
    <div class="flex items-center grid md:grid-cols-2 mb-14">
      <div>
        <h3 class="sans-serif uppercase mb-2">Or Get The Basic Bundle And More...</h3>
        <h2 class="text-3xl sans-serif uppercase">With the Complete Bundle</h2>
      </div>
      <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
        <a href="#complete" class="btn-primary btn text-right">Get the Complete Bundle</a>
      </div>
    </div>

    <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 md:justify-items-center">
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-video-lesson.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Video Courses</p>
        <p class="mb-4">5 hours of easy-to-follow video courses show you how to...</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> Estimate your market value</li>
          <li><i class="fas fa-check-circle"></i> Ace your next interview</li>
          <li><i class="fas fa-check-circle"></i> Negotiate a new job offer</li>
          <li><i class="fas fa-check-circle"></i> Negotiate a raise or promotion</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-interview.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">The Interview Cheat Sheet </p>
        <p class="mb-4">Prepare for your next interview in 15 minutes</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> A script to answer the dreaded salary questions</li>
          <li><i class="fas fa-check-circle"></i> A checklist of basic facts to learn about the role</li>
          <li><i class="fas fa-check-circle"></i> Common question types to expect</li>
          <li><i class="fas fa-check-circle"></i> Questions you can ask</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-email.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">15 <em>more</em> email templates</p>
        <p class="mb-4">Bonus templates covering common interactions you'll have with your recruiter and hiring manager, including...</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> Asking for time to consider an offer</li>
          <li><i class="fas fa-check-circle"></i> Accepting and Declining job offers</li>
          <li><i class="fas fa-check-circle"></i> Tender your resignation</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-podium.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Detailed Case Studies</p>
        <p class="mb-4">See how others have negotiated their salaries when...</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> They already shared their salary expectations</li>
          <li><i class="fas fa-check-circle"></i> They underestimated their value</li>
          <li><i class="fas fa-check-circle"></i> Their offer is already very strong</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-interview.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Expert Interviews</p>
        <p class="mb-4">Learn what hiring managers are looking for</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> How to use positioning to stand out</li>
          <li><i class="fas fa-check-circle"></i> How to make your resume unique</li>
        </ul>
      </div>
      <div class="book-block mb-8 md:mb-0">
        <img src="/assets/imgs/ico-writing.svg" class="mb-4">
        <p class="sans-serif mb-4 font-bold">Mastering Business Email: How to write emails that get read</p>
        <p class="mb-4">Be more professional in your business communications</p>
        <ul class="checklist my-6">
          <li><i class="fas fa-check-circle"></i> How to structure your emails</li>
          <li><i class="fas fa-check-circle"></i> Get more responses</li>
          <li><i class="fas fa-check-circle"></i> Impress colleagues</li>
        </ul>
      </div>
    </div>

  </div><!-- /product-group -->

  <div class="book-video-block mt-28">
    <iframe src="https://www.youtube.com/embed/4N7mOR9yv2U?rel=0" title="'What's your current salary' is a trap question—Here's how to answer it" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="video-callout p-6">
      <h3>Check out this Sample Lesson</h3>
      <hr>
      <p>What do you say when they ask you for your current salary or your salary expectations?</p>
      <!-- <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p> -->
    </div>
  </div><!-- /book-video-block-->

  <div class="grid md:grid-cols-2 sm:grid-cols-1 sm:gap-x-4 md:gap-x-8 book-perks mb-32">
    <div class="perk-group flex items-center p-6 sm:mb-8 md:mb-0">
      <div class="mr-6 flex-grow"><img src="/assets/imgs/ico-updates.svg" /></div>
      <div class="flex-grow">
        <h5 class="text-lg uppercase sans-serif mb-2">Lifetime Updates</h5>
        <p><strong>You own the book and courses</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>

				<p>Plus I'll email you to let you know when I update the book or courses for the lifetime of the product.</p>
      </div>
    </div>
    <div class="perk-group flex items-center p-6 sm:mb-8 md:mb-0">
      <div class="mr-6 flex-grow"><img src="/assets/imgs/ico-guarantee.svg" /></div>
      <div class="flex-grow">
        <h5 class="text-lg uppercase sans-serif mb-2">Happy Customer Guarantee</h5>
        <p>You're protected by the Happy Customer Guarantee: If you’re not happy with the book or courses, reach out any time and <strong>I’ll refund your money</strong>.</p>

				<p><strong>That’s it—there’s no fine print.</strong> I know how valuable Fearless Salary Negotiation is and I know you’ll find it valuable.</p>
      </div>
    </div>
  </div><!-- /book-perks -->

</div><!-- /container -->

<div class="get-access mx-auto mb-28">

  <div class="container mx-auto pt-24 pb-20">

    <div id="basic" class="flex">
      <div class="w-3/5"></div>
      <div class="md:w-2/5 w-full">
        <h4 class="uppercase text-xl mb-2 sans-serif">Option #1 - The Basics</h4>
        <h3 class="uppercase text-3xl sans-serif">Just The Essentials for <em>Fearless Salary Negotiation</em></h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
          <li><i class="fas fa-check-circle"></i> <strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
          <li><i class="fas fa-check-circle"></i> <strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
        </ul>
        <ul class="mb-8 nope">
          <li><i class="fas fa-times-circle"></i>  5 hours of easy-to-follow video courses to learn concepts quickly and see them in action</li>
					<li><i class="fas fa-times-circle"></i> Interview Cheat Sheet to prepare for any interview in 15 minutes</li>
          <li><i class="fas fa-times-circle"></i> 15 more email templates in addition to the templates in the book</li>
          <li><i class="fas fa-times-circle"></i> 3 Case Studies show you how others negotiated their salaries</li>
          <li><i class="fas fa-times-circle"></i> 2 Expert Interviews to learn what hiring managers are looking for</li>
          <li><i class="fas fa-times-circle"></i> Mastering Business Email to help you write more professional business emails</li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://transactions.sendowl.com/packages/35512/C895E617/purchase">Get Instant Access</a> <span>$99</span>
        </div>
      </div>
    </div>

  </div>

</div><!-- Starter -->

<div class="get-access mx-auto mb-28">

  <div class="container mx-auto pt-24 pb-20">

    <div id = "complete" class="flex">
      <div class="w-3/5"></div>
      <div class="md:w-2/5 w-full">
        <h4 class="uppercase text-xl mb-2 sans-serif">Option #2 - The Complete Bundle</h4>
        <h3 class="uppercase text-3xl sans-serif">The Complete Bundle for <em>Fearless Salary Negotiation</em></h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
          <li><i class="fas fa-check-circle"></i> <strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
          <li><i class="fas fa-check-circle"></i> <strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
          <li><i class="fas fa-check-circle"></i>  <strong>5 hours of easy-to-follow video courses</strong> to learn concepts quickly and see them in action</li>
					<li><i class="fas fa-check-circle"></i> <strong>Interview Cheat Sheet</strong> to prepare for any interview in 15 minutes</li>
          <li><i class="fas fa-check-circle"></i> <strong>15 more email templates</strong> in addition to the templates in the book</li>
          <li><i class="fas fa-check-circle"></i> <strong>3 Case Studies</strong> show you how others negotiated their salaries</li>
          <li><i class="fas fa-check-circle"></i> <strong>2 Expert Interviews</strong> to learn what hiring managers are looking for</li>
          <li><i class="fas fa-check-circle"></i> <strong>Mastering Business Email</strong> to help you write more professional business emails</li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase">Get Instant Access</a> <span>$299</span>
        </div>
      </div>
    </div>

  </div>

</div><!-- Complete -->

<!-- <div class="mx-auto bg-gray-500 product-grid">
  <div class="md:grid grid-cols-2">
    <div class="product-column">
      <div class="md:flex">
        <div class="md:w-1/2">
          <img src="/assets/imgs/prod-book-transparent.png" alt="">
        </div>
        <div class="product-copy p-4 md:py-14 md:pr-16 md:pl-0 md:w-1/2">
          <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">The Book</h4>
          <p class="text-white text-base mb-8">The essential tools to get paid what you're worth</p>
          <p class="mb-8"><a href="/get-started/" class="btn btn-primary">Learn More</a></p>
          <p class="text-white text-base"><a href="#TKTK_SendOwl_Link_FSN">Or buy it now for just $99 <i class="fas fa-angle-double-right"></i></a></p>
        </div>
      </div>
    </div>
    <div class="product-column">
      <div>
        <div class="md:flex">
          <div class="product-copy p-4 md:py-14 md:pl-16 md:pr-0 md:w-1/2">
            <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">The Salary Negotiation Crash Course</h4>
            <p class="text-white text-base mb-8">Learn to negotiate your salary like a pro in 90 minutes</p>
            <p class="mb-8"><a href="/salary-negotiation-video-course/" class="btn btn-primary">Learn More</a></p>
            <p class="text-white text-base"><a href="#TKTK_SendOwl_Link_SNCC" class="btn-access-tag">Or buy it now for just $197 <i class="fas fa-angle-double-right"></i></a></p>
          </div>
          <div class="md:w-1/2">
            <img src="/assets/imgs/prod-devices-small.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="book-questions mx-auto grid grid-cols-1 lg:w-1/2 md:w-full mb-28 container">
  <div class="book-faq mb-12">
    <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
    <p class="text-lg"><em>Fearless Salary Negotiation</em> isn't for everyone...</p>
  </div>

  <div class="accordion">
    <div class="acc-open">
      <h6 class="text-black">I've never negotiated before. Will <em>Fearless Salary Negotiation</em> work for me?</h6>
      <div class="acc-hide">
        <p>You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I negotiate my salary if this is my first job?</h6>
      <div class="acc-hide">
        <p>The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">What if I'm not negotiating my salary right now?</h6>
      <div class="acc-hide">
        <p> Even if you just got a raise, <em>Fearless Salary Negotiation</em> will help you plan for your next raise or promotion. Or if you're changing jobs soon, you can use it to work on your interview skills so you get more job offers.</p>
				<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
				<p><em>Fearless Salary Negotiation</em> is designed to be useful at any point in your career. So you can use it now whether you just negotiated your salary or plan to soon.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">How long does this take?</h6>
      <div class="acc-hide">
        <p>You can read <em>Fearless Salary Negotiation</em> cover to cover in about 4 hours on a Sunday afternoon. I'll even send you short emails with one key takeaway from each chapter so you get the highlights if you can't start reading right away.</p>
				<p>The courses are about three hours total, so you could easily knock those out on Sunday afternoon. I don’t like fluff, so Fearless Salary Negotiation is a lean guide full of tactics and light on fluff.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">I've already read the book. Do I need the courses and expert interviews too?</h6>
      <div class="acc-hide">
        <p>My book is the 101 version of the content. The courses, expert interviews, Interview Cheat Sheet, Case Studies, and other bonuses are the 201 level of the content.</p>
				<p>The courses and other bonus contents allow use to go deeper and so you learn you more about how to get paid what you're worth.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I get my money back if I'm not happy?</h6>
      <div class="acc-hide">
        <p>Absolutely! You're protected by the Happy Customer Guarantee. If you buy <em>Fearless Salary Negotiation Starter</em> or Complete bundle and you're not happy with your purchase, just let me know and I'll refund your money.</p>
      </div>
    </div>
  </div>
</div><!-- /questions -->

<div class="container mx-auto mb-20">
	<div class="container bg-white mx-auto mt-28 mb-20 get-help">
	  <div class="flex">
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
	    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
	    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
	      <h2 class="mb-10 uppercase sans-serif">Strategy and Tactics from a Salary Negotiation Expert</h2>
				<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries</strong>. On average, the Software Engineers I work with improve their job offers by {{ site.avg_coach_increase_devs }}.</p>

				<p>I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>

				<p>Now I use everything I learned from my own experience to help others make tens of thousands more dollars negotiating with <strong>Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've heard of.</p>
	    </div>
	  </div>
	</div><!-- /get-help -->

  <div class="flex items-center grid md:grid-cols-2 mb-14">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Success Stories</h2>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a href="/results/" class="btn-primary btn text-right">More Success Stories</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="success-slider mb-32">
      <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
      <div class="suc-quotes-2">
        {% include success-story.html story-id="d_o" %}
        {% include success-story.html story-id="r_m" %}
        {% include success-story.html story-id="matt_wood" %}
        {% include success-story.html story-id="josh_kaufman" %}
        {% include success-story.html story-id="j_g" %}
        {% include success-story.html story-id="annie_margarita_yang" %}
				{% include success-story.html story-id="patrick_mckenzie" %}

      </div><!-- /suc-quotes -->

      <div class="flex suc-control-2">
        <button type="button" class="suc-prev-2"><i class="fas fa-arrow-left"></i></button>
        <button type="button" class="suc-next-2"><i class="fas fa-arrow-right"></i></button>
      </div><!-- /suc-control -->

      <div class="suc-dots-2"></div>

    </div><!-- /suc-quotes -->

  </div><!-- /success-slider -->

</div>

{% comment %}
{% include all-product-cards.html %}

{% include one-on-one-help.html %}
{% endcomment %}

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	    <h2 class="text-3xl uppercase">Getting paid what you're worth is tough. It's even tougher when you don't have a roadmap.</h2>
	    <hr class="my-8 w-16">
			
			<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>

			<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>

			<p>You have the proof that <em>Fearless Salary Negotiation</em> works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
			
			<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>

			<p>All the best</p>

			<p>Josh</p>

			<p><strong>PS</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. Fearless Salary Negotiation will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
		</div>
	</div>
</div>

  <!-- <div class="book-intro mb-16">
    <h2 class="text-3xl sans-serif uppercase">Briefly describe the product in this section right here</h2>
    <hr class="my-8 w-16">
    <p>Velit diam ac, consequat, tortor vivamus vestibulum quisque. Quis est at diam id tortor justo. Vitae enim accumsan ac rhoncus et egestas at. Volutpat quisque nisl, tellus suscipit ultrices mauris imperdiet. Sed facilisi cursus pharetra orci morbi odio vitae posuere tellus. In egestas.</p>
  </div> --><!-- /book-intro -->

  <!-- <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Briefly describe one of the primary benefits of this product, something the user will learn, etc. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div> -->