---
layout: default-alt
title: 'Get Your Next Raise: How to ask for a raise at work'
headline: How to get bigger paychecks in 2022
description: Get the raise you deserve at work with this self-paced course taught by a salary negotiation expert
heroImg: hero-raise.png
ctaUrl: '#buy'
ctaText: Get Instant Access
bodyClass: book
---

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
			<p>Not only did John know he was underpaid, but he could practically see the dollars flying out the window with every passing paycheck. </p>

			<p>Every time he decided to do something about it, he ran into a wall that stopped his momentum:</p>
	
			<p><strong><em>When</em> should he ask?</strong> During his performance review? Some other time? He wasn't sure.</p>

			<p><strong>How should he ask?</strong> Maybe he should get coffee with his boss. Or he could send an email, but what would he say?</p>
	
			<p><strong>How much should he ask for?</strong> He wasn't sure and didn't know how to find out.</p>
	
			<p>And maybe the most intimidating question of all: <strong>What if they say <em>no</em>?</strong> Then what would he do?</p>
			
			<div class="success-indi success-light ">
		    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
		    <div class="suc-indi-quotes">
					<div>
					 <p>I’ve used the skills and techniques I learned in this course <strong>again and again over the last four years</strong>. It’s been a huge part of reaching where I am today<strong>—earning 400% more in total compensation</strong> than when I first took the course.</p>

					 <p>When I first started the course, I was earning $75k. <strong>I wanted a raise, but didn’t know where to start.</strong> Josh’s course walked me through a simple process to prepare my case and ask for a raise. Each lesson had specific action items for me to make steady progress, and I got feedback on my work plus great answers to my questions every step of the way.</p>

					 <p>Since taking the course, <strong>I’ve negotiated several compensation increases ranging between $15k and $40k/year at different companies</strong>. At one role, negotiating helped me reach $210k/year in total compensation, which was the top-of-band salary and stock offered. Most recently, I negotiated for an extra $40k in RSUs before accepting an offer with Twitter.</p>

					 <p><strong>Josh's course has helped me practice and get comfortable with salary negotiation and it has really changed my life for the better.</strong> I needed a push and a process, and this course gave me both.</p>

          <div class="flex items-center mt-6">
              <div class="mr-4">
                <img src="/assets/imgs/results/john_li.jpeg" class="rounded-full h-20 w-20">
              </div>
            
            <div>
              <p class="name m-0">John Li, Senior Android Engineer, Twitter</p>
            </div>
          </div>
					</div>
				</div>
			</div>
			
			<p>With the right plan, you can finally able to <em>do something</em> about that too-small paycheck and start making real progress on your financial and professional goals, just like John did.</p>

			<p>The key is that you need to make it <em>super easy</em> for your manager to understand exactly what you deserve and communicate that to the higher-ups in your company.</p>

			<p>The easier you make it for your manager to communicate with the higher-ups, the sooner you'll get the raise you deserve.</p>

			<p><em>But how?!</em></p>

			<p>Based on my experience as a hiring manager, I will show you exactly how to determine what you <em>should</em> be paid so you know what to ask for, and you'll learn how to demonstrate that you deserve a raise based on the valuable work you do.</p>

			<p>I will show you how to make sure you have everything you need to talk to your manager about your raise, ho to schedule that meeting, and how to put everything in writing after you talk so it's <em>easy</em> for your manager to approve your request and pass it along to the higher-ups.</p>
			
			
			<div class="success-indi success-light ">
		    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
		    <div class="suc-indi-quotes">
					<div>
					 <p><strong>I wasn’t sure if the value was there but now that I’ve taken it I can say that EVERYONE should take this course.</strong></p>

					 <p>I wanted to make sure I wasn’t leaving money on the table and that I knew what my manager and company were looking for to give me a raise. This course taught me <em>exactly</em> what I needed to know, and Josh gave great answers to all of my questions about my specific situation.</p>

					 <p>Now I know that preparing for a raise is not difficult or overwhelming with the right guidance and the systemic process I learned in this course.</p>

          <div class="flex items-center mt-6">
              <div class="mr-4">
                <img src="/assets/imgs/results/thai.jpg" class="rounded-full h-20 w-20">
              </div>
            
            <div>
              <p class="name m-0">Thai, Senior Software Engineer</p>
            </div>
          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			
<div class="get-access mx-auto mb-28">
  <div class="container mx-auto pt-24 pb-20">
    <div id ="buy" class="flex">
      <div class="w-3/5"></div>
      <div class="md:w-2/5 w-full">
        <h4 class="uppercase text-xl mb-2 sans-serif">Learn to negotiate your salary like a pro in 90 minutes</h4>
        <h3 class="uppercase text-3xl sans-serif">The Salary Negotiation Crash Course</h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong>How to negotiate your starting salary</strong> video course and companion guide</li>
          <li><i class="fas fa-check-circle"></i> <strong>10 email templates</strong> to ask for time to consider your offer, negotiate your offer, and communicate your final decision</li>
          <li><i class="fas fa-check-circle"></i> <strong>Salary negotiation worksheet</strong> to make the math easy</li>
          <li><i class="fas fa-check-circle"></i>  <strong>The Essential Salary Negotiation Email Pack</strong> to make writing your counter offer easy</li>
					<li><i class="fas fa-check-circle"></i> <strong>BONUS: "How to estimate your market value" video course</strong></li>
					<li><i class="fas fa-check-circle"></i> <strong>BONUS: "How companies determine their salary structures" video course</strong></li>
          <li><i class="fas fa-check-circle"></i> <strong>BONUS: Market Value Estimation Worksheet</strong></li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://transactions.sendowl.com/packages/59748/11C74634/purchase">Get Instant Access</a> <span>$197</span>
        </div>
      </div>
    </div>
  </div>
</div><!-- Buy -->	
			
<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
			<div class="success-indi success-light ">
		    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
		    <div class="suc-indi-quotes">
					<div>
					  <p><strong>My employer adjusted my comp today to $160k. So $123k to $160k = $37k raise overnight.</strong></p>
					 
				 		<p>So thank you for creating Get Your Next Raise. Obviously I brought the goods in terms of bringing value to my employer. But, when I saw Get Your Next Raise it immediately made sense how it would improve how I communicate that value. All I needed to do was follow the plan, and see what they had to say.</p>
		
				 		<p><strong>It felt particularly empowering to have everything prepared in advance.</strong> I smiled inside when my manager asked me to send her an email with evidence to support my request, and I already had it queued up and ready to go. Also, doing market research was valuable so that I wasn’t just basing my request on what I want or think I’m worth, but that I was actually in line with the same numbers they would see in their own research.</p>

				 		<p>Also, I can’t be certain of this, but I’m pretty confident that the raise they would have given me as part of the normal review cycle is nowhere near what I got by making the request and backing it up.</p>

				 		<p><strong>Get Your Next Raise was easy to follow</strong>, and like I said, it made sense to me. <strong>I spent less than two hours doing the work to prepare everything. That’s an insane return :)</strong></p>

				 		<p>Best of all, I feel valued and respected not just by the individuals within the organization (which I’ve always felt), but also by the organization itself. I’m really looking forward to growing my contributions there... especially now that I have a system for recording and communicating the value I bring.</p>
		
				 		<p>Thank you again.</p>

          <div class="flex items-center mt-6">
              <div class="mr-4">
                <img src="/assets/imgs/results/pat_maddox.jpg" class="rounded-full h-20 w-20">
              </div>
            
            <div>
              <p class="name m-0">Pat Maddox, Software Developer</p>
            </div>
          </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
		
  <div class="md:flex mb-14">
    <div class="md:w-8/12 w-full flex-auto">
      <h3 class="sans-serif uppercase mb-2">What You Learn</h3>
      <h2 class="text-3xl sans-serif uppercase">The complete course curriculum</h2>
      <hr class="hr-gray w-16 mt-6 mb-8">
			<p><strong>Each lesson has a video where you will learn what you need to complete your action items for that lesson.</strong> You can approach the process in seven manageable lessons so you don't get overwhelmed.</p>
      <p><strong>Each lesson has clear action items to keep you moving forward.</strong> As you move through each lesson and complete the action items, you will move on to the next lesson.</p>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a class="btn-primary btn btn-access-tag">Get Instant Access</a>
    </div>
  </div>
	
  <div class="flex toc-control justify-end">
    <button type="button" class="toc-prev"><i class="fas fa-arrow-left"></i></button>
    <div class="toc-dots"></div>
    <button type="button" class="toc-next"><i class="fas fa-arrow-right"></i></button>
  </div>
		
  <div class="grid grid-cols-4 toc-carousel book-toc">
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 1: Start now</h6>
        <p class="serif">How <em>Get Your Next Raise</em> will get you un-stuck.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 2: Estimate your market value</h6>
        <p class="serif">The first step to determine how much to ask for.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 3: Set your goal</h6>
        <p class="serif">Now that you know your market value, you can set your goal—your target salary—so you ask for the right amount.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 4: Build your case</h6>
        <p class="serif">Show your boss you deserve a raise.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 5: Put your case in writing</h6>
        <p class="serif">Combine your target salary, accomplishments and accolades into a single email template to make your case for your next raise.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 6: Ask for your raise</h6>
        <p class="serif">How to ask your boss for the raise you deserve and follow up to get a definitive result.</p>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-6 pb-3">
        <h6 class="mb-5 uppercase sans-serif">Lesson 7: Plan your next steps</h6>
        <p class="serif">Learn exactly how to respond if your boss says no or asks you to wait a little longer.</p>
      </div>
    </div>
	</div>
</div>						
			
			
			
			
			
			
			
			
			
			
			
			
			
									
			
	    <h2 class="uppercase">You CAN ask for more, with confidence of a seasoned negotiator</h2>
	    <hr class="my-8 w-16">
			
			<p>What if you could confidently navigate the back and forth of your next salary negotiation like a seasoned pro (even if it’s your first time)? Not only land that dream job, but with a higher salary and an extra week of vacation?</p>
			<p>How great will it feel to read <strong>that</strong> confirmation email when it arrives?</p>
			<p>It’s true that an inexperienced negotiator can get tripped up in the complicated back and forth of asking a prospective employer for more, but it doesn’t have to be that way.</p>
			<p>And once you’ve negotiated successfully the first time, you’ll feel ready to do it again when it’s time for your next raise or job transition.</p>
			
			
			<div class="success-indi success-light ">
		    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
		    <div class="suc-indi-quotes">
					<div>
		       	<p><strong>I sent the first email template and then got an extra $2k base salary.</strong> I was hyperventilating waiting for the results, but <strong>it was the easiest $2k I ever made</strong>.</p>

		        <div class="flex items-center mt-6">
		          <div>
		            <p class="name m-0">Marvin</p>
		          </div>
		        </div>
					</div>
				</div>
			</div>
			
	    <h2 class="uppercase">You can learn to negotiate your job offer like a pro with my Salary Negotiation Crash Course</h2>
	    <hr class="my-8 w-16">
			
			<p>Time is of the essence, so <strong>in this focused series of 8 of videos I’ll show you exactly what to expect during the negotiation process.</strong> Instead of wondering what happens next you’ll be able to anticipate the recruiter’s every move.</p>
			<p>There’s no crystal ball necessary when you understand how the entire negotiation process works.</p>
			<p><strong>Once you understand the negotiation process, you’ll be able to save even more time drafting the “perfect” email by using my battle-tested negotiation scripts and templates.</strong> Instead of searching for the right words (or accidentally saying the wrong ones), you can know exactly what words to say when they push back on the phone and what to write in every email with battle-tested negotiation scripts and email templates.</p>
			<p>Ready to get started? Get your my entire Salary Negotiation Crash Course right now and confidently send your counter-offer email within 90 minutes.</p>
			
			<div class="success-indi success-light ">
		    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
		    <div class="suc-indi-quotes">
					<div>
		       	<p><strong>I got an extra $6k in salary and a signing bonus of $6k.</strong> Very happy with the outcome.</p>

		        <div class="flex items-center mt-6">
		          <div>
		            <p class="name m-0">Darryl N., Software Engineer</p>
		          </div>
		        </div>
					</div>
				</div>
			</div>
		</div>
			

		
	  <div class="product-group my-24">
	    <div class="flex items-center grid md:grid-cols-2 mb-14">
	      <div>
	        <h3 class="sans-serif uppercase mb-2">What's in the course</h3>
	        <h2 class="text-3xl sans-serif uppercase">Tools to help you learn</h2>
	      </div>
	      <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
	        <a href="#buy" class="btn-primary btn text-right">Get the Crash Course</a>
	      </div>
	    </div>

	    <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 md:justify-items-center">
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-video-lesson.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">Video course</p>
	        <p class="serif mb-4">A step-by-step guide, showing you how to...</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Prepare for your negotiation</li>
	          <li><i class="fas fa-check-circle"></i> Ask for time to consider the offer</li>
	          <li><i class="fas fa-check-circle"></i> Evaluate the offer</li>
	          <li><i class="fas fa-check-circle"></i> Counter offer</li>
	          <li><i class="fas fa-check-circle"></i> Finalize the deal</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-email.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">10 Email templates</p>
	        <p class="serif mb-4">Real world examples to make communicating with recruiters and hiring managers easy. Templates to...</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Ask for time to consider your offer</li>
	          <li><i class="fas fa-check-circle"></i> Counter offer in a collaborative way</li>
	          <li><i class="fas fa-check-circle"></i> Convey your final decision after your negotiation</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-email.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">Essential Salary Negotiation Email Pack</p>
	        <p class="serif mb-4">A detailed walkthrough of the included counter offer template</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> 11-minute video walkthrough to help you write your counter offer email</li>
	          <li><i class="fas fa-check-circle"></i> Inputs you need before you start writing your counter offer</li>
	          <li><i class="fas fa-check-circle"></i> The exact guidance I give my coaching clients</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-worksheet.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">Salary Negotiation Worksheet</p>
	        <p class="serif mb-4">Make the math easy</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Determine the right counter offer amount</li>
	          <li><i class="fas fa-check-circle"></i> Plan the details of your salary negotiation</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-video-lesson.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">BONUS: Video courses</p>
	        <p class="serif mb-4">An overview of how companies pay people, and how to know how much you should be paid</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> How to estimate your market value</li>
	          <li><i class="fas fa-check-circle"></i> How companies manage their salary structures</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-worksheet.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">BONUS: Market Value Estimation Worksheet</p>
	        <p class="serif mb-4">Know your worth</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Methodically collect data from multiple sources</li>
	          <li><i class="fas fa-check-circle"></i> Determine your market value from that data</li>
	        </ul>
	      </div>
	    </div>

	  </div><!-- /product-group -->
		
	  <div class="book-video-block mt-28">
	    <iframe src="https://www.youtube.com/embed/effQltGYtF8?rel=0" title="What is your Minimum Acceptable Salary?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    <div class="video-callout p-6">
	      <h3>Check out this Sample Lesson</h3>
	      <hr>
	      <p>What is your Minimum Acceptable Salary to take this job?</p>
	      <!-- <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p> -->
	    </div>
	  </div><!-- /book-video-block-->

	  <div class="grid md:grid-cols-2 sm:grid-cols-1 sm:gap-x-4 md:gap-x-8 book-perks mb-32">
	    <div class="perk-group flex items-center p-6 sm:mb-8 md:mb-0">
	      <div class="mr-6 flex-grow"><img src="/assets/imgs/ico-updates.svg" /></div>
	      <div class="flex-grow">
	        <h5 class="text-lg uppercase sans-serif mb-2">Lifetime Updates</h5>
	        <p><strong>You own everything</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>

					<p>Plus I'll email you to let you know when I add new materials for the lifetime of the product.</p>
	      </div>
	    </div>
	    <div class="perk-group flex items-center p-6 sm:mb-8 md:mb-0">
	      <div class="mr-6 flex-grow"><img src="/assets/imgs/ico-guarantee.svg" /></div>
	      <div class="flex-grow">
	        <h5 class="text-lg uppercase sans-serif mb-2">Happy Customer Guarantee</h5>
	        <p>You're protected by the Happy Customer Guarantee: If you’re not happy with the book or courses, reach out any time and <strong>I’ll refund your money</strong>.</p>

					<p><strong>That’s it—there’s no fine print.</strong> I know how valuable Fearless Salary Negotiation is and I know you’ll find it valuable.</p>
	      </div>
	    </div>
		</div>
	</div>
</div>
		
<div class="get-access mx-auto mb-28">
  <div class="container mx-auto pt-24 pb-20">
    <div id ="buy" class="flex">
      <div class="w-3/5"></div>
      <div class="md:w-2/5 w-full">
        <h4 class="uppercase text-xl mb-2 sans-serif">Learn to negotiate your salary like a pro in 90 minutes</h4>
        <h3 class="uppercase text-3xl sans-serif">The Salary Negotiation Crash Course</h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong>How to negotiate your starting salary</strong> video course and companion guide</li>
          <li><i class="fas fa-check-circle"></i> <strong>10 email templates</strong> to ask for time to consider your offer, negotiate your offer, and communicate your final decision</li>
          <li><i class="fas fa-check-circle"></i> <strong>Salary negotiation worksheet</strong> to make the math easy</li>
          <li><i class="fas fa-check-circle"></i>  <strong>The Essential Salary Negotiation Email Pack</strong> to make writing your counter offer easy</li>
					<li><i class="fas fa-check-circle"></i> <strong>BONUS: "How to estimate your market value" video course</strong></li>
					<li><i class="fas fa-check-circle"></i> <strong>BONUS: "How companies determine their salary structures" video course</strong></li>
          <li><i class="fas fa-check-circle"></i> <strong>BONUS: Market Value Estimation Worksheet</strong></li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://transactions.sendowl.com/packages/59748/11C74634/purchase">Get Instant Access</a> <span>$197</span>
        </div>
      </div>
    </div>

  </div>

</div><!-- Buy -->

<div class="book-questions mx-auto grid grid-cols-1 lg:w-1/2 md:w-full mb-28 container">
  <div class="book-faq mb-12">
    <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
    <p class="serif text-lg">The Salary Negotiation Crash Course isn't for everyone...</p>
  </div>

  <div class="accordion">
    <div class="acc-open">
      <h6 class="text-black">I've never negotiated before. Will this work for me?</h6>
      <div class="acc-hide">
        <p>You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I negotiate my salary if this is my first job?</h6>
      <div class="acc-hide">
        <p>The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">What if I'm not negotiating my salary right now?</h6>
      <div class="acc-hide">
        <p> Even if you just got a raise, <em>Fearless Salary Negotiation</em> will help you plan for your next raise or promotion. Or if you're changing jobs soon, you can use it to work on your interview skills so you get more job offers.</p>
				<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">How long does this take?</h6>
      <div class="acc-hide">
        <p> The salary negotiation video course takes about 50 minutes. If you watch the course and then use the other video supplements, worksheets, and email templates, you can be ready to negotiate your salary in less than 90 minutes.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I get my money back if I'm not happy?</h6>
      <div class="acc-hide">
        <p>Absolutely! You're protected by the Happy Customer Guarantee. If you're not happy with your purchase for any reason, just let me know and I'll refund your money.</p>
      </div>
    </div>
  </div>
</div><!-- /book-questions -->

<div class="container mx-auto mb-20">
	<div class="container bg-white mx-auto mt-28 mb-20 get-help">
	  <div class="flex">
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
	    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
	    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
	      <h2 class="mb-10 uppercase sans-serif">Strategy and Tactics from a Salary Negotiation Expert</h2>
				<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries</strong>. On average, the Software Engineers I work with improve their job offers by {{ site.avg_coach_increase_devs }}.</p>

				<p>I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>

				<p>Now I use everything I learned from my own experience to help others make tens of thousands more dollars negotiating with <strong>Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've heard of.</p>
	    </div>
	  </div>
	</div><!-- /get-help -->

  <div class="flex items-center grid md:grid-cols-2 mb-14">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Success Stories</h2>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a href="/results/" class="btn-primary btn text-right">More Success Stories</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="success-slider mb-32">
      <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
      <div class="suc-quotes-2">
        {% include success-story.html story-id="andrew" %}
        {% include success-story.html story-id="jared_allen" %}
        {% include success-story.html story-id="josh_c" %}
        {% include success-story.html story-id="justin_abrahms" %}
        {% include success-story.html story-id="jesse_dumond" %}
        {% include success-story.html story-id="j_d" %}
				{% include success-story.html story-id="jason_voegele" %}
        {% include success-story.html story-id="candace_barnes" %}
				{% include success-story.html story-id="natalie" %}
      </div><!-- /suc-quotes -->

      <div class="flex suc-control-2">
        <button type="button" class="suc-prev-2"><i class="fas fa-arrow-left"></i></button>
        <button type="button" class="suc-next-2"><i class="fas fa-arrow-right"></i></button>
      </div><!-- /suc-control -->

      <div class="suc-dots-2"></div>

    </div><!-- /suc-quotes -->

  </div><!-- /success-slider -->

</div>

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	    <h2 class="text-3xl uppercase">Getting paid what you're worth is tough. It's even tougher when you don't have a roadmap.</h2>
	    <hr class="my-8 w-16">
			
			<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>

			<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>

			<p>You have the proof that The Salary Negotiation Crash Course works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
			
			<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>

			<p>All the best</p>

			<p>Josh</p>

			<p><strong>PS</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. The Salary Negotiation Crash Course will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
		</div>
	</div>
</div>

{% comment %}
{% include all-product-cards.html %}
{% endcomment %}
