---
layout: default
title: Interviews and Media Appearances
subhead: This is a collection of Television, Podcast, and Media appearances featuring Josh Doody and Fearless Salary Negotiation
description: This is a collection of Television, Podcast, and Media appearances featuring Josh Doody and Fearless Salary Negotiation
navTitle: Press
navWeight: 3
bodyClass: home
---

<div class="container mx-auto my-24">

  {% include in-the-press.html %}

</div><!-- /in the press -->

<div>
  <div class="container mx-auto">
    <hr class="hr-default">
  </div>
</div>

<div class="container mx-auto my-24">

  {% include podcast-appearance.html %}

</div><!-- /podcast appearances -->