---
layout: default
title: Getting paid what you're worth is tough. Let me help.
subhead: Fearless Salary Negotiation Products to help you get paid what you're worth
description: Fearless Salary Negotiation Products to help you get paid what you're worth
heroImg: hero-products.png
ctaUrl:
ctaText:
navTitle: Products
navWeight: 1
showAccessTag: hide
showAccessModal: hide
bodyClass: products
---

<div class="container mx-auto py-20 mt-20">
  <div class="flex grid grid-cols-2 gap-x-14 items-center">
    <div>
      <h2 class="sans-serif uppercase text-4xl mb-6 text-black">The Complete Bundle</h2>
      <p class="mb-8"><em>Fearless Salary Negotiation</em> is your ultimate guide to tactfully negotiating your job offer without leaving anything on the table... and so much more! You'll also learn how to estimate your market value, ace your job interviews, and get raises and promotions when you're ready!</p>
      <p class="mb-8"><a href="/get-started/" class="btn-primary">Learn More</a></p>
      <!-- <p><a class="serif btn-access-tag">See a Sample Lesson <i class="fas fa-angle-double-right" aria-hidden="true"></i></a></p> -->
    </div>
    <div>
      <img src="/assets/imgs/fsn-complete-product-image.png" alt="The Fearless Salary Negotiation Complete Bundle">
    </div>
  </div>
  
  <hr class="hr-default my-24">
	<div class="flex grid grid-cols-2 gap-x-14 items-center">
    <div>
      <h2 class="sans-serif uppercase text-4xl mb-6 text-black">The Salary Negotiation Crash Course</h2>
      <p class="mb-8">Time is of the essence, so <strong>in this focused series of 8 of videos I’ll show you exactly what to expect during the negotiation process</strong>. Instead of wondering what happens next you’ll be able to anticipate the recruiter’s every move.</p>
      <p class="mb-8"><a href="/salary-negotiation-video-course/" class="btn-primary">Learn More</a></p>
      <!-- <p><a class="serif btn-access-tag">See a Sample Lesson <i class="fas fa-angle-double-right" aria-hidden="true"></i></a></p> -->
    </div>
    <div>
      <img src="/assets/imgs/mobile-sncc-product-image.png" alt="The Salary Negotiation Crash Course">
    </div>
  </div>

  <hr class="hr-default my-24">

  <div class="flex grid grid-cols-2 gap-x-14 items-center">
    <div>
      <h2 class="sans-serif uppercase text-4xl mb-6 text-black">Get Your Next Raise</h2>
      <p class="mb-8">Based on my experience as a hiring manager, I will show you exactly how to determine what you <em>should</em> be paid so you know what to ask for, and you'll learn how to demonstrate that you deserve a raise based on the valuable work you do.</p>
			
			<p class="mb-8">I will show you how to make sure you have everything you need to talk to your manager about your raise, how to schedule that meeting, and how to put everything in writing after you talk so it's <em>easy</em> for your manager to approve your request and pass it along to the higher-ups.</p>
      <p class="mb-8"><a href="/get-your-next-raise/" class="btn-primary">Learn More</a></p>
      <!-- <p><a class="serif btn-access-tag">See a Sample Lesson <i class="fas fa-angle-double-right" aria-hidden="true"></i></a></p> -->
    </div>
    <div>
      <img src="/assets/imgs/mobile-gynr-product-image.png" alt="Get Your Next Raise">
    </div>
  </div>

  <div class="md:flex md:justify-between mb-8 sm:mt-14">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Success Stories</h2>
    </div>
    <div class="md:mt-0 sm:mt-8 mt-8">
      <a href="/results/" class="btn-primary btn text-right">More Success Stories</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes-2">
      {% include success-story.html story-id="amy_esnep" %}
      {% include success-story.html story-id="claire" %}
      {% include success-story.html story-id="d" %}
    </div><!-- /suc-quotes -->

    <div class="flex suc-control-2">
      <button type="button" class="suc-prev-2"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next-2"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots-2"></div>

  </div><!-- /success-slider -->

<div class="container mx-auto my-24">
  <div class="md:flex justify-between mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Popular Articles</h2>
    </div>
    <div class="mt-8 sm:mt-6 md:mt-0">
      <a href="/articles/" class="btn-primary btn text-right">More Articles</a>
    </div>
  </div>
  <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4">

		{% comment %}
		{% killing automated loop to manually populate %}
    {% assign popular = site.posts | where: 'popularArticle', 'true' %}
    {% for popular in popular limit:3 %}
      <!-- <div class="bg-white flex flex-col">
        <div class="p-8 flex-grow flex-1">
          <p class="text-2xl"><a href="{{ popular.url }}" class="no-border">{{ popular.title }}</a></p>
          <hr class="my-6 w-16 hr-article">
          <p class="text-sm mb-6">{{ popular.description }}</p>
        </div>
        <div class="category items-center justify-between flex">
          <div class="pl-8"><p class="text-xs">{{ popular.categories | join: ', ' }}</p></div>
          <div><a href="{{ popular.url }}" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div> -->
    {% endfor %}
		{% endcomment %}
		
    <div class="bg-white flex flex-col">
      <div class="p-8 flex-grow flex-1">
        <p class="text-2xl"><a href="/coach/" class="no-border">Salary Negotiation Service</a></p>
        <hr class="my-6 w-16 hr-article">
        <p class="text-sm mb-6 sans-serif">Are you looking at an offer letter wondering, "How am I supposed to negotiate this?" My <a href="/coach/">salary negotiation service</a> can help you negotiate a higher offer. (I’ve helped Software Engineers at <a href="/facebook-salary-negotiation/">Facebook</a>, <a href="/apple-salary-negotiation/">Apple</a>, <a href="/amazon-salary-negotiation/">Amazon</a>, <a href="/microsoft-salary-negotiation/">Microsoft</a>, <a href="/google-salary-negotiation/">Google</a>, and more.)</p>
      </div>
      <div class="category items-center justify-between flex">
        <div class="pl-8"><p class="sans-serif text-xs">Salary Negotiation Coaching</p></div>
        <div><a href="/coach/" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-8 flex-grow flex-1">
        <p class="text-2xl"><a href="/salary-negotiation-script/" class="no-border">Counter offer calculator and email script</a></p>
        <hr class="my-6 w-16 hr-article">
        <p class="text-sm mb-6 sans-serif">Struggling to calculate your counter offer? This <a href="/salary-negotiation-script/">calculator and email script</a> will help. You can also read a free chapter on <a href="/book/negotiate/how-to-determine-your-counter-offer/">how to negotiate your salary counter-offer</a> from <a href="/book/">my book</a>.</p>
      </div>
      <div class="category items-center justify-between flex">
        <div class="pl-8"><p class="sans-serif text-xs">Negotiate</p></div>
        <div><a href="/salary-negotiation-script/" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>
    <div class="bg-white flex flex-col">
      <div class="p-8 flex-grow flex-1">
        <p class="text-2xl"><a href="/salary-negotiation-script-example/" class="no-border">Salary Negotiation Script</a></p>
        <hr class="my-6 w-16 hr-article">
        <p class="text-sm mb-6 sans-serif">Use this script to maximize your starting salary and benefits. This is the real <a href="/salary-negotiation-script-example/">salary negotiation script</a> that I use during my salary negotiations. You’ll also learn my recommended steps to take after receiving a verbal job offer from a hiring manager.</p>
      </div>
      <div class="category items-center justify-between flex">
        <div class="pl-8"><p class="sans-serif text-xs">Negotiate</p></div>
        <div><a href="/salary-negotiation-script-example/" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>

    <!-- <div class="bg-white flex flex-col">
      <div class="p-8 flex-grow flex-1">
        <p class="text-2xl"><a href="/salary-expectations-interview-question/">Salary expectations questions - How should you answer them?</a></p>
        <hr class="my-6 w-16 hr-article">
        <p class="text-sm mb-6 sans-serif">Don't panic! Here's how to tactfully answer salary expectations questions without costing yourself a ton of money (updated for 2021)</p>
      </div>
      <div class="category items-center justify-between flex">
        <div class="pl-8"><p class="sans-serif text-xs">Salary Negotiation</p></div>
        <div><a href="/salary-expectations-interview-question/" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div> -->

  </div>
</div><!-- /popular articles -->

</div>

{% include one-on-one-help.html %}