---
layout: default-alt
title: Salary Negotiation Mastery
headline: How do maximize your compensation…without losing the offer?
description: Negotiate your software job offer with the confidence of a pro without leaving anything on the table
heroImg: hero-crash-course.png
ctaUrl: '#buy'
ctaText: Pre-Order Today
---

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	 		<p>“Just hit reply to let us know when you accept the offer and we’ll get started on the paperwork.”</p>		
	 		<p>There it is! You finally got the job offer you’ve been searching for and have spent <em>months</em> interviewing for!</p>
			
	    <h2 class="uppercase">Then you felt that sinking feeling in the pit of your stomach</h2>
	    <hr class="my-8 w-16">
			
			<p>You know the one. First, you thought ”I wonder if that’s the absolute best compensation they can offer?” and then “Even if this <em>isn’t</em> their best and final offer, it’s going to be so awkward to ask for more when they clearly expect me to just accept it.”</p>
			
			<p>Still, you play out the scenario in your mind… Ok, so you respond by asking for more money but it feels awkward and uncomfortable. You’re not even sure where to begin and they’ll immediately know you’ve never done this before. Plus, what if they already offered the maximum or, worse, what if asking for more scares them off and they just take the offer back?<p>
				
			<p><strong>Now you have nothing.</strong> A perfectly good offer just disappeared because they thought you were being greedy.</p>
			
	    <h2 class="uppercase">That isn't how this has to play out</h2>
	    <hr class="my-8 w-16">
			
	 		<p>What if you could wave a magic wand so you suddenly know exactly what to say and how much to ask for like you’ve done this 100 times? What if you could make such a compelling case that they say, “Wow! What’s it going to take to get this person on our team? It would be a shame to lose them over the comp.”</p>
			
			<p>I’m building that magic wand for you right now. It’s called Salary Negotiation Mastery, and it’s the culmination of more than six years of working full-time with over 150 clients and over 1,000 customers who purchased my flagship courses on salary negotiation to negotiate job offers with phenomenal results.</p>
			
			{% include standalone-success-story.html story-id="erica" %}
			{% include standalone-success-story.html story-id="josh_johnson" %}
			{% include standalone-success-story.html story-id="justin_garrison" %}
			
	 		<p>Salary Negotiation Mastery is a clear, easy-to-follow methodology with all the tools and templates you need to confidently negotiate your next job offer like a seasoned veteran as though I’m sitting there right next to you, telling you exactly what to do and say next.</p>
			
	 		<p>Step-by-step, lesson-by-lesson, I’ll walk you through your salary negotiation giving you the same expert advice that my clients have used to negotiate over $7.3M more income in just the first year after working with me without ever losing a single job offer from any tech company.</p>
						
			<p>You’ll know exactly how to negotiate confidently, aggressively advocating for yourself while you collaborate with your recruiter to find the maximum compensation available to you. That sinking feeling in your stomach will be replaced with that same feeling you get when you bowl a strike or make a hole-in-one in mini-golf. It’ll feel <em>that</em> good.</p>
			
			{% include standalone-success-story.html story-id="anon_engineer_3" %}
		</div>
	</div>
</div>

<div class="get-access get-access-no-image mx-auto mb-28">
  <div class="container mx-auto pt-24 pb-20">
    <div id ="buy" class="flex">
      <div class="md:w-3/5 w-full mx-auto">
        <h4 class="uppercase text-xl mb-2 sans-serif">Confidently negotiate your job offer without leaving anything on the table or endangering the offer</h4>
        <h3 class="uppercase text-3xl sans-serif">Salary Negotiation Mastery</h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong>Premium video course</strong> where I'll teach you everything I know about negotiating job offers with tech companies</li>
          <li><i class="fas fa-check-circle"></i> <strong>Worksheets and email templates</strong> to guide you through every step of your negotiation</li>
					<li><i class="fas fa-check-circle"></i> <strong>PRE-ORDER BONUS: Big Tech Pack</strong></li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://fearlesssalarynegotiation.thrivecart.com/salary-negotiation-mastery/?coupon=SNMPREORDER1">Pre-Order Today</a> <span>$997</span>
        </div>
      </div>
    </div>
  </div>
</div><!-- Buy -->

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">				
	  <div class="product-group my-24">
	    <div class="flex items-center grid md:grid-cols-2 mb-14">
	      <div>
	        <h3 class="sans-serif uppercase mb-2">What's in the course</h3>
	        <h2 class="text-3xl sans-serif uppercase">Tools to help you learn</h2>
	      </div>
	      <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
	        <a href="#buy" class="btn-primary btn text-right">Pre-Order Today</a>
	      </div>
	    </div>

	    <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 md:justify-items-center">
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-video-lesson.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">Video course</p>
	        <p class="mb-4">A step-by-step guide, showing you how to...</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Stand out in your interviews</li>
	          <li><i class="fas fa-check-circle"></i> Prepare for your negotiation</li>
	          <li><i class="fas fa-check-circle"></i> Ask for time to consider the offer</li>
	          <li><i class="fas fa-check-circle"></i> Evaluate the offer</li>
	          <li><i class="fas fa-check-circle"></i> Counter offer</li>
	          <li><i class="fas fa-check-circle"></i> Finalize the deal</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-worksheet.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">Worksheets and Email Templates</p>
	        <p class="mb-4">Step-by-step guidance to...</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Estimate your market value</li>
	          <li><i class="fas fa-check-circle"></i> Plan your negotiation</li>
	          <li><i class="fas fa-check-circle"></i> Determine your counter offer</li>
	          <li><i class="fas fa-check-circle"></i> Ask for time to consider your offer</li>
	          <li><i class="fas fa-check-circle"></i> Counter offer in a collaborative way</li>
	          <li><i class="fas fa-check-circle"></i> Convey your final decision after your negotiation</li>
	        </ul>
	      </div>
	      <div class="book-block mb-8 md:mb-0">
	        <img src="/assets/imgs/ico-video-lesson.svg" class="mb-4">
	        <p class="sans-serif mb-4 font-bold">PRE-ORDER BONUS: Big Tech Pack</p>
	        <p class="mb-4">Specific guidance to negotiate with these big tech companies</p>
	        <ul class="checklist my-6">
	          <li><i class="fas fa-check-circle"></i> Amazon</li>
	          <li><i class="fas fa-check-circle"></i> Meta</li>
	          <li><i class="fas fa-check-circle"></i> Google</li>
	          <li><i class="fas fa-check-circle"></i> Apple</li>
	          <li><i class="fas fa-check-circle"></i> Microsoft</li>
	        </ul>
	      </div>
	    </div>

	  </div><!-- /product-group -->
		
	  <div class="book-video-block mt-28">
	    <iframe src="https://youtu.be/sTbIXkgSuUk?rel=0" title="Salary Negotiation Mastery course - Announcement" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    <div class="video-callout p-6">
	      <h3>Announcing Salary Negotiation Mastery</h3>
	      <hr>
	      <p>Salary Negotiation Mastery course - Announcement</p>
	      <!-- <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p> -->
	    </div>
	  </div><!-- /book-video-block-->

	  <div class="grid grid-cols-1 book-perks mb-32">
	    <div class="perk-group flex items-center p-6 sm:mb-8 md:mb-0">
	      <div class="mr-6 flex-grow"><img src="/assets/imgs/ico-guarantee.svg" /></div>
	      <div class="flex-grow">
	        <h5 class="text-lg uppercase sans-serif mb-2">Happy Customer Guarantee</h5>
	        <p>I’m so confident this will work for you that if you use it and don’t <em>at least</em> make your investment back within six months after you buy it, I’ll refund your money.</p>

					<p><strong>That’s it—there’s no fine print.</strong> I know how valuable Salary Negotiation Mastery is and I know you’ll find it valuable.</p>
	      </div>
	    </div>
		</div>

	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
			
			{% include standalone-success-story.html story-id="martin" %}
			{% include standalone-success-story.html story-id="jane" %}
			{% include standalone-success-story.html story-id="taylor" %}
			{% include standalone-success-story.html story-id="william_cro" %}
			
		</div>
	</div>
</div>
		
					
<div class="get-access get-access-no-image mx-auto mb-28">
  <div class="container mx-auto pt-24 pb-20">
    <div id ="buy" class="flex">
      <div class="md:w-3/5 w-full mx-auto">
        <h4 class="uppercase text-xl mb-2 sans-serif">Confidently negotiate your job offer without leaving anything on the table or endangering the offer</h4>
        <h3 class="uppercase text-3xl sans-serif">Salary Negotiation Mastery</h3>
        <hr class="my-8 w-16">
        <ul class="mb-0 checklist">
          <li><i class="fas fa-check-circle"></i> <strong>Premium video course</strong> where I'll teach you everything I know about negotiating job offers with tech companies</li>
          <li><i class="fas fa-check-circle"></i> <strong>Worksheets and email templates</strong> to guide you through every step of your negotiation</li>
					<li><i class="fas fa-check-circle"></i> <strong>PRE-ORDER BONUS: Big Tech Pack</strong></li>
        </ul>
        <div class="flex items-center">
          <a class="btn-primary mr-8 btn-access-tag" href="https://fearlesssalarynegotiation.thrivecart.com/salary-negotiation-mastery/?coupon=SNMPREORDER1">Pre-Order Today</a> <span>$997</span>
        </div>
      </div>
    </div>

  </div>

</div><!-- Buy -->

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	    <h2 class="uppercase">This is a pre-order price that is only available for the next week</h2>
	    <hr class="my-8 w-16">
	 		
			<p>This is the lowest price I’ll ever offer for Salary Negotiation Mastery.</p>		
	 		<p>The full course will be launching in January, but when you order now and you’ll have access to the course portal immediately, and you’ll see there are already a couple lessons in there for you. As I create new lessons, I’ll add them directly to the portal and you’ll be the first to know.</p>
			
		</div>
	</div>
</div>



<div class="book-questions mx-auto grid grid-cols-1 lg:w-1/2 md:w-full mb-28 container">
  <div class="book-faq mb-12">
    <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
    <p class="text-lg">Salary Negotiation Mastery isn't for everyone...</p>
  </div>

  <div class="accordion">
    <div class="acc-open">
      <h6 class="text-black">I've never negotiated before. Will this work for me?</h6>
      <div class="acc-hide">
        <p>You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I negotiate my salary if this is my first job?</h6>
      <div class="acc-hide">
        <p>The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">What if I'm not negotiating my salary right now?</h6>
      <div class="acc-hide">
        <p>If you're planning to change jobs in the next three to six months, this is the perfect time to Pre-Order Salary Negotiation Mastery. You'll get each lesson as I create it and you'll have the full course by the time it launches in Janaury 2023.</p>
      </div>
    </div>
    <div class="acc-open">
      <h6 class="text-black">Can I get my money back if I'm not happy?</h6>
      <div class="acc-hide">
        <p>If you use Salary Negotiation Mastery and don't <em>at least</em> make your money back within six months after you purchase it, I'll happily refund your money.</p>
      </div>
    </div>
  </div>
</div><!-- /book-questions -->

<div class="container mx-auto mb-20">
	<div class="container bg-white mx-auto mt-28 mb-20 get-help">
	  <div class="flex">
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
	    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
	    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
	      <h2 class="mb-10 uppercase sans-serif">Strategy and Tactics from a Salary Negotiation Expert</h2>
				<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries</strong>. On average, the Software Engineers I work with improve their job offers by {{ site.avg_coach_increase_devs }}.</p>

				<p>I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>

				<p>Now I use everything I learned from my own experience to help others make tens of thousands more dollars negotiating with <strong>Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've heard of.</p>
	    </div>
	  </div>
	</div><!-- /get-help -->
</div>

<div class="container mx-auto pt-20 mt-20">
	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12"> 
	    <h2 class="text-3xl uppercase">Getting paid what you're worth is tough. It's even tougher when you don't have a roadmap.</h2>
	    <hr class="my-8 w-16">
			
			<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>

			<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>

			<p>You have the proof that my methodology works. You've seen results from professionals who finally got paid what they're worth—people just like you.</p>
			
			<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>

			<p>All the best</p>

			<p>Josh</p>

			<p><strong>PS</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. Salary Negotiation Mastery will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
		</div>
	</div>
</div>

{% comment %}
{% include all-product-cards.html %}
{% endcomment %}
