<div class="mx-auto bg-gray-800 product-grid">
  <div class="md:grid grid-cols-1">		
    <div class="product-column">
      <div>
        <div class="md:flex">
          <div class="product-copy p-4 md:py-14 md:pl-16 md:pr-0 md:w-1/2">
            <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">Fearless Salary Negotiation</h4>
            <p class="text-white text-base mb-8">The essential tools to get paid what you're worth</p>
            <p class="mb-8"><a href="/salary-negotiation-video-course/" class="btn btn-primary">Learn More</a></p>
            <p class="text-white text-base"><a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase">Or buy it now for just $299 <i class="fas fa-angle-double-right"></i></a></p>
          </div>
          <div class="md:w-1/2">
            <img src="/assets/imgs/homepage-book-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /product-grid -->