<div class="mx-auto bg-gray-800 product-grid">
  <div class="md:grid grid-cols-1">		
    <div class="product-column">
      <div>
        <div class="md:flex">
          <div class="product-copy p-4 md:py-14 md:pl-16 md:pr-0 md:w-3/4">
            <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">Finally get the raise you deserve with this proven strategy</h4>
            <p class="text-white text-base mb-8">A former hiring manager tells you exactly what you need to know to ask for the raise you want.</p>
		        <ul class="mb-0 checklist text-white">
		          <li><i class="fas fa-check-circle"></i> <strong>7 short video lessons</strong>—Short but detailed video lessons cover each step to build your case and request your raise.</li>
		          <li><i class="fas fa-check-circle"></i>  <strong>Worksheets to help you build your case</strong>—Estimate your market value and bulid your case with simple worksheets.</li>
		          <li><i class="fas fa-check-circle"></i>  <strong>7 email templates</strong>—Tactfully communicate with your manager throughout the process.</li>
		        </ul>
						<br>
            <p class="text-white text-base mb-8">And much, much more.</p>
            <p class="mb-8"><a href="/salary-negotiation-video-course/" class="btn btn-primary">Read more about Get Your Next Raise</a></p>
            <p class="text-white text-base"><a href="https://transactions.sendowl.com/packages/35515/2DFA8744/purchase">Or buy it now for just $199 <i class="fas fa-angle-double-right"></i></a></p>
          </div>
          <div class="md:w-1/4">
            <img src="/assets/imgs/gynr-product-image.png" alt="Get Your Next Raise course contents">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /product-grid -->