<div class="mx-auto bg-gray-800 product-grid">
  <div class="md:grid grid-cols-1">
    <div class="product-column">
      <div>
        <div class="md:flex">
          <div class="product-copy p-4 md:py-14 md:pl-16 md:pr-0 md:w-3/4">
            <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">You’ve been offered your dream job in software engineering, now let’s make sure you get paid exactly what you deserve</h4>
            <p class="text-white text-base mb-8">Learn how to ask for more money during your salary negotiation without endangering your offer.</p>
		        <ul class="mb-0 checklist text-white">
		          <li><i class="fas fa-check-circle"></i> <strong>Concise video lessons</strong> guiding you step-by-step through my proven, premium methodology on negotiating your job offer to get the best possible outcome</li>
		          <li><i class="fas fa-check-circle"></i> <strong>Supporting worksheets</strong> to take any and all guesswork out of the negotiation process and ensure you’re asking for what your skills are truly worth</li>
		          <li><i class="fas fa-check-circle"></i> <strong>Email templates</strong> so you have the exact words to use when conducting your negotiation and can press “send” with complete confidence (the same words that have helped my clients add thousands to their salary)</li>
		          <li><i class="fas fa-check-circle"></i> <strong>Telephone call scripts</strong> so you can handle any verbal communication with ease and avoid common pitfalls</li>
		        </ul>
						<br>
            <p class="text-white text-base mb-8">And much, much more.</p>
            <p class="mb-8"><a href="/salary-negotiation-mastery/" class="btn btn-primary">Read more about Salary Negotiation Mastery</a></p>
            <p class="text-white text-base"><a href="https://fearlesssalarynegotiation.thrivecart.com/salary-negotiation-mastery/">Or buy it now for just $1,297 <i class="fas fa-angle-double-right"></i></a></p>
          </div>
          <div class="md:w-1/4">
            <img src="/assets/imgs/homepage-sncc-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /product-grid -->