<div class="mx-auto bg-gray-800 product-grid">
  <div class="md:grid grid-cols-1">		
    <div class="product-column">
      <div>
        <div class="md:flex">
          <div class="product-copy p-4 md:py-14 md:px-16 md:full">
            <h4 class="brand-secondary uppercase sans-serif text-3xl mb-5">Looking for salary negotiation help?</h4>
            <p class="text-white text-base mb-8">You've come to the right place!</p>
            <p class="text-white text-base mb-8">Just answer a few questions and I'll point you to the best Fearless Salary Negotiation resource for you!</p>
            <div class="text-center"><p class="my-8"><a href="/thanks/wizard/" class="btn btn-primary">Go to Question #1</a></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /product-grid -->