{% if page.showAccessTag == "show" or page.layout == "resource_page" %}
  <div class="container mx-auto relative">
    <div class="access-tag">
      <button href="#" class="btn-access-tag">Get instant access for just $99</button>
    </div>
  </div>
{% endif %}

<!-- <div class="access-modal">
  <span class="access-close"><i class="fas fa-times"></i></span>

  <div class="access-gate-inline">
    <form action="https://www.getdrip.com/forms/78743461/submissions" method="post" data-drip-embedded-form="78743461">
      <h3 class="text-3xl uppercase sans-serif" data-drip-attribute="x-headline">Get the &lt;Free Resource Title Goes Here&gt; Now!</h3>
      <hr class="w-16 my-8">
      <div data-drip-attribute="x-description"><p class="text-base serif">Plus a short introduction or description far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p></div>
      <div class="flex grid grid-cols-2 gap-8 mt-8">
        <div>
          <label class="brand-secondary text-base serif mb-1" for="fields[first_name]">First Name</label>
          <input type="text" name="fields[first_name]" placeholder="First Name" value="" />
        </div>
        <div>
          <label class="brand-secondary text-base serif mb-1" for="fields[email]">Email Address</label>
          <input type="email" name="fields[email]" placeholder="Email Address" value="" />
        </div>
      </div>
       <div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
      <div class="mt-8">
        <input class="btn-primary" type="submit" name="submit" value="Get The Template" data-drip-attribute="sign-up-button" />
      </div>
    </form>
  </div>

</div>

<div class="access-overlay"></div> -->

<!-- /access-overlay -->