<div class="container mx-auto mt-32 mb-20 three-card-prod">
  <div class="flex items-center mb-14">
    <div class="w-9/12">
      <h3 class="sans-serif uppercase mb-2">NOT SURE ABOUT ‘GET A RAISE’?</h3>
      <h2 class="text-3xl sans-serif uppercase">Check out these other options</h2>
    </div>
    <div class="w-3/12 text-right">
      <a href="#" class="btn-primary btn text-right">See All Products</a>
    </div>
  </div>
  <div class="flex card-prod">
    <div class="bg-white flex-auto z-10 mr-8">
      <img src="/assets/imgs/prod-book-sm.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
        <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li class="serif">Checklist item name or description</li>
          <li class="serif">Checklist item name</li>
          <li class="serif">Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
    <div class="bg-white flex-auto z-10 mr-8">
      <img src="/assets/imgs/prod-book-sm.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
        <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li class="serif">Checklist item name or description</li>
          <li class="serif">Checklist item name</li>
          <li class="serif">Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
    <div class="bg-white flex-auto z-10">
      <img src="/assets/imgs/prod-book-sm.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
        <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li class="serif">Checklist item name or description</li>
          <li class="serif">Checklist item name</li>
          <li class="serif">Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
  </div><!-- /card-prod -->
</div><!-- /three-card-prod -->