{% if page.categories contains "negotiate" %}   
{% include /product-ctas/sncc-inline.html %}
{% elsif page.categories contains "negotiate-sncc" %}   
{% include /product-ctas/sncc-inline.html %}
{% elsif page.categories contains "negotiate-sncc" %}   
{% include /product-ctas/fsn-inline.html %}
{% elsif page.categories contains "interview" %}   
{% include /product-ctas/fsn-inline.html %}
{% elsif page.categories contains "salary-questions" %}   
{% include /product-ctas/fsn-inline.html %}
{% elsif page.categories contains "raise" %}   
{% include /product-ctas/fsn-inline.html %}
{% elsif page.categories contains "promotion" %}   
{% include /product-ctas/fsn-inline.html %}
{% endif %}