{% if page.categories contains "negotiate" %}   
{% include /convertkit-forms/negotiate-inline.html %}
{% elsif page.categories contains "negotiate-sncc" %}   
{% include /product-ctas/sncc-inline.html %}
{% elsif page.categories contains "negotiate-lowball" %}   
{% include /convertkit-forms/negotiate-lowball-inline.html %}
{% elsif page.categories contains "interview" %}   
{% include /convertkit-forms/interview-checklist-inline.html %}
{% elsif page.categories contains "salary-questions" %}   
{% include /convertkit-forms/salary-question-scripts-inline.html %}
{% elsif page.categories contains "raise" %}   
{% include /convertkit-forms/raise-inline.html %}
{% elsif page.categories contains "promotion" %}   
{% include /convertkit-forms/promotion-inline.html %}
{% endif %}