<div class="bg-gray-700">
  <div class="container mx-auto">
    <div class="flex items-end">
      <div class="w-2/4">
        <p>A short positioning statement describing how Fearless Salary Negotiation helps people get the salaries they deserve.</p>
        <p><a href="#" class="py-2 px-4 bg-yellow-400 text-white">Get 1-on-1 Help</a><a href="#">Or contact Josh</a></p>
      </div>
      <div class="w-1/6">
        <p class="text-right"><a href="#">The Book</a></p>
        <p class="text-right"><a href="#">The Crash Course</a></p>
        <p class="text-right"><a href="#">Get a Raise</a></p>
        <p class="text-right"><a href="#">Complete Bundle</a></p>
      </div>
      <div class="w-1/6">
        <p class="text-right"><a href="#">Article</a></p>
        <p class="text-right"><a href="#">Free Resource</a></p>
        <p class="text-right"><a href="#">Success Stories</a></p>
        <p class="text-right"><a href="#">About</a></p>
      </div>
      <div class="w-1/6">
        <img src="https://via.placeholder.com/160x160?text=Brand" alt="">
      </div>
    </div>
  </div>
</div><!-- /footer -->

<div class="bg-gray-900">
  <div class="container mx-auto">
    <div class="grid grid-cols-2">
      <div>
        <p class="text-white">© Josh Doody, LLC All Right Reserved</p>
      </div>
      <div>
        <p class="text-white text-right">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </p>
      </div>
    </div>
  </div>
</div><!-- /copyright -->





</body>
</html>