<div class="footer">
  <div class="container mx-auto py-16">
    <div class="flex items-center">
      <div class="w-3/6 pr-24">
        <h5 class="text-xl mb-8 uppercase sans-serif">A short positioning statement describing how Fearless Salary Negotiation helps people get the salaries they deserve.</h5>
        <p class="serif"><a href="{{ site.baseurl }}/one-on-one/" class="btn-primary btn mr-5">Get 1-on-1 Help</a> <a href="{{ site.baseurl }}/contact/">Or contact Josh <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    <div class="w-1/6 footer-nav">
        <ul class="list-none">
          <li class="text-right"><a href="{{ site.baseurl }}/book/">The Book</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/crash-course/">The Crash Course</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/get-a-raise/">Get a Raise</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/complete-bundle/">Complete Bundle</a></li>
        </ul>
      </div>
      <div class="w-1/6 footer-nav">
        <ul class="list-none">
          <li class="text-right"><a href="{{ site.baseurl }}/articles/">Articles</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/free-resources/">Free Resource</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/success-stories/">Success Stories</a></li>
          <hr class="my-3">
          <li class="text-right"><a href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
      </div>
      <div class="w-1/6 ml-12">
        <a href="/">
          <img src="{{ site.baseurl }}/assets/imgs/fns-mark.svg" alt="Fearless Salary Negotiation">
        </a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container mx-auto py-8">
      <div class="grid grid-cols-2">
        <div>
          <p class="text-white sans-serif">© Josh Doody, LLC All Right Reserved</p>
        </div>
        <div>
          <p class="text-white text-right sans-serif">
            <a href="#">Privacy Policy</a>
            <a href="#" class="ml-8">Terms of Service</a>
          </p>
        </div>
      </div>
    </div>
  </div><!-- /copyright -->

</div><!-- /footer -->

{% if page.showAccessModal == "show" %}
  {% include access-gate.html %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d903f84f49.js" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/slick/slick.min.js"></script>
{% if page.layout == "resources" or page.layout == "articles" %}
  <script src="{{ site.baseurl }}/assets/js/iso.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

</body>
</html>