<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head> 
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.url == "/case-studies/" %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <title>{% if page.title %}{{ page.title | strip_html | escape }}{% else %}{{ site.title | strip_html | escape }}{% endif %} | Fearless Salary Negotiation</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{% if page.301_to_url %}{{ page.301_to_url }}{% elsif page.canonical_url %}{{ page.canonical_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | escape }}{% else %}{{ site.title | strip_html | escape }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:type" content="{% if page.og-type %}{{ page.og-type | escape }}{% else %}article{% endif %}" />
    <meta property="og:image" content="{{ site.url }}/assets/imgs/og/{% if page.og-image %}{{ page.og-image }}{% else %}fsn-og-baseline.png{% endif %}" />

    {% if page.og-image %}
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:site" content="@JoshDoody" />
      <meta property="twitter:title" content="{% if page.title %}{{ page.title | strip_html | escape }}{% else %}{{ site.title | strip_html | escape }}{% endif %}" />
      <meta property="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
      <meta property="twitter:image" content="{{ site.url }}/assets/imgs/og/{{ page.og-image }}" />
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="/assets/imgs/favicon.svg">
		<link rel="alternate icon" href="/assets/imgs/favicon.ico">
    <link rel="mask-icon" href="/assets/imgs/favicon.svg" color="#28282D">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/xkl6thl.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
		<link rel="canonical" href="{% if page.301_to_url %}{{ page.301_to_url }}{% elsif page.canonical_url %}{{ page.canonical_url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
		
		<!-- Begin production-only code -->
		{% if jekyll.environment == 'production' %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-67642804-1', 'auto', {'allowLinker': true});
			ga('require', 'linkid');
			ga('require', 'linker');
			ga('require', 'ecommerce');
			{% if page.redirect_url %}
		  ga('send', 'pageview', {
		    'hitCallback': function() {
		        window.location = "{{ page.redirect_url }}";
		    }
		  });
			{% else %}
		  ga('send', 'pageview');
			{% endif %}

		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
	
		<!-- hotjar snippet -->
		<script>
		(function(h,o,t,j,a,r){
		    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		    h._hjSettings={hjid:274804,hjsv:5};
		    a=o.getElementsByTagName('head')[0];
		    r=o.createElement('script');r.async=1;
		    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		    a.appendChild(r);
		})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	
		{% endif %}
		<!-- End production-only code -->
		
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "WebSite",
		  "name": "Fearless Salary Negotiation",
		  "url": "https://fearlesssalarynegotiation.com"
		}
		</script>
		
		<!-- RightMessage - NOT IN USE RIGHT NOW -->
		<!-- <script type="text/javascript">
		(function(p, a, n, d, o, b) {
		    o = n.createElement('script'); o.type = 'text/javascript'; o.async = true; o.src = 'https://tag.rightmessage.com/'+p+'.js';
		    b = n.getElementsByTagName('script')[0]; b.parentNode.insertBefore(o, b);
		    d = function(h, u, i) { var o = n.createElement('style'); o.id = 'rmcloak'+i; o.type = 'text/css';
		        o.appendChild(n.createTextNode('.rmcloak'+h+'{visibility:hidden}.rmcloak'+u+'{display:none}'));
		        b.parentNode.insertBefore(o, b); return o; }; o = d('', '-hidden', ''); d('-stay-invisible', '-stay-hidden', '-stay');
		    setTimeout(function() { o.parentNode && o.parentNode.removeChild(o); }, a);
		})('1676380240', 2500, document);
		</script> -->
  </head>

  <body class="{{ page.layout }} {{ page.bodyClass }}">

    <div class="main-nav-wrap bg-white">

      <div class="mx-auto py-4 px-8">
        <div class="flex justify-between items-center relative">

          <div class="brand">
            <a href="/">
              <img src="/assets/imgs/fsn-brand.svg" alt="Fearless Salary Negotiation">
            </a>
          </div>

          <div class="mobile-nav">
            <ul class="flex flex-row list-none">
              <li class="btn-link"><a href="/coach/">Get 1-on-1 Help</a></li>
              <li class="mobile-trigger"><a role="button" tabindex="0"></a></li>
            </ul>
          </div>

          <div class="main-nav flex flex-row flex-grow items-center justify-end">
            <ul class="flex flex-row list-none items-center">
              {% assign navigation_pages = site.html_pages | sort: "navWeight" %}
              {% for p in navigation_pages %}
                {% if p.navWeight %}
                  <li class="{% if p.navTitle == "Get 1-on-1 Help" %}btn-link{% endif %}{% if p.navTitle == "Products" %}nav-drop{% endif %}">
                    <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>{{ p.navTitle }}{% if p.navTitle == "Products"%} <i class="fas fa-caret-down"></i>{% endif %}</a>
                    {% if p.navTitle == "Products" %}
                      <div class="sub-nav-mobile">
                        <ul>
                          <li><a href="/get-started/">Fearless Salary Negotiation Book Bundles</a></li>
                          <li><a href="/salary-negotiation-video-course/">Salary Negotiation Crash Course</a></li>
                          <li><a href="/get-your-next-raise/">Get Your Next Raise</a></li>
                        </ul>
                      </div>
                      <div class="sub-nav-wrap">
                        <div class="sub-nav">
                          <div class="container mx-auto flex justify-center grid grid-cols-3 gap-x-14">
                            <div class="sub-nav-group">
                              <img src="/assets/imgs/ico-book-invert.svg" alt="The Book">
                              <h6>Fearless Salary Negotiation Book Bundles</h6>
                              <p>Get instant access to the <em>Fearless Salary Negotiation</em> book bundles</p>
                              <p><a href="/get-started/" class="btn-primary btn">Learn More</a></p>
                            </div>
                            <div class="sub-nav-group">
                              <img src="/assets/imgs/ico-crash-course-invert.svg" alt="The Crash Course">
                              <h6>Salary Negotiation Crash Course</h6>
                              <p>How to ask for more money at your next job without losing the offer</p>
                              <p><a href="/salary-negotiation-video-course/" class="btn-primary">Learn More</a></p>
                            </div>
                            <div class="sub-nav-group">
                              <img src="/assets/imgs/ico-raise-invert.svg" alt="Get a Raise">
                              <h6>Get Your Next Raise</h6>
                              <p>A step-by-step process to build your case and ask for the raise you deserve</p>
                              <p><a href="/get-your-next-raise/" class="btn-primary">Learn More</a></p>
                            </div>
                          </div>
                        </div>
                      </div><!-- /sub-nav-wrap -->
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!-- /main-nav -->

        </div>
      </div>

    </div><!-- /main-nav-wrap -->