<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Fearless Salary Negotiation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/slick/slick.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/slick/slick-theme.css" />
  </head>

  <body class="home">

    <div class="bg-white">
      <div class="container mx-auto py-4 px-8">
        <div class="flex items-center">
          <div>
            <img src="{{site.baseurl}}/imgs/fsn-brand.svg" alt="Fearless Salary Negotiation">
          </div>
          <div>
            <ul class="flex items-center text-right">
              <li class="mx-8"><a href="#">Products</a></li>
              <li class="mx-8"><a href="#">Articles</a></li>
              <li class="mx-8"><a href="#">Free Resources</a></li>
              <li class="mx-8"><a href="#">Success Stories</a></li>
              <li class="mx-8"><a href="#">About</a></li>
              <li class="mx-8"><a href="#">Contact</a></li>
              <li class="mx-8"><a href="#" class="rounded-md py-2 px-4 bg-yellow-400 text-white">Get 1-on-1 Help</a></li>
            </ul>
          </div><!-- /nav -->
        </div>
      </div>
    </div><!-- /navbar -->