    <div class="main-nav-wrap bg-white">

      <div class="mx-auto py-4 px-8">
        <div class="flex justify-between items-center relative">

          <div class="brand">
            <a href="/">
              <img src="/assets/imgs/fsn-brand.svg" alt="Fearless Salary Negotiation">
            </a>
          </div>

          <div class="mobile-nav">
            <ul class="flex flex-row list-none">
              <li class="btn-link"><a href="/coach/">Work with Josh</a></li>
              <li class="mobile-trigger"><a role="button" tabindex="0"></a></li>
            </ul>
          </div>

          <div class="main-nav flex flex-row flex-grow items-center justify-end">
            <ul class="flex flex-row list-none items-center">
              {% assign navigation_pages = site.html_pages | sort: "navWeight" %}
              {% for p in navigation_pages %}
                {% if p.navWeight %}
                  <li class="{% if p.navTitle == "Work with Josh" %}btn-link{% endif %}{% if p.navTitle == "Products" %}nav-drop{% endif %}">
                    <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>{{ p.navTitle }}{% if p.navTitle == "Products"%} <i class="fas fa-caret-down"></i>{% endif %}</a>
                    {% if p.navTitle == "Products" %}
                      <div class="sub-nav-mobile">
                        <ul>
                          <li><a href="/salary-negotiation-mastery/">Salary Negotiation Mastery</a></li>
                        </ul>
                      </div>
                      <div class="sub-nav-wrap">
                        <div class="sub-nav">
                          <div class="container mx-auto flex justify-center">
                            <div class="sub-nav-group">
                              <img src="/assets/imgs/ico-crash-course-invert.svg" alt="The Crash Course">
                              <h6>Salary Negotiation Mastery</h6>
                              <p>You've earned a solid job offer, now let's make sure you get paid exactly what you deserve</p>
                              <p><a href="/salary-negotiation-mastery/" class="btn-primary">Learn More</a></p>
                            </div>
                          </div>
                        </div>
                      </div><!-- /sub-nav-wrap -->
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!-- /main-nav -->

        </div>
      </div>

    </div><!-- /main-nav-wrap -->