<div class="hero">
  <div class="container mx-auto pt-28 pb-24">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <h1 class="text-4xl pb-6 pr-12">{{ page.title }}</h1>
        <p class="text-xl pb-6 pr-12">{{ page.subhead }}</p>
      </div>
    </div>
    <div class="grid grid-cols-1">
      <div class="cat-nav">
        <ul class="list-none ml-0 mb-16 resource-cat-nav">
          <li class="cat-active inline-block"><button id="show-all">All</button></li>
          {% assign categories_array = "" | split:"|" %}
          {% for post in site.success-stories %}
            {% for company in post.company %}
              {% assign categories_array = categories_array | push: company | uniq %}
            {% endfor %}
          {% endfor %}
          {% for company in categories_array %}
            <li class="inline-block"><button class="resource-filter" id="{{ company | slugify }}">{{ company }}</button></li>
          {% endfor %}
        </ul>
      </div><!-- /cat-nav -->
    </div>
  </div>
</div><!-- /hero section -->