<div class="hero">
  <div class="container mx-auto md:pt-28 md:pb-24 sm:pt-14 sm:pb-12">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-6">
      <div>
        {% if page.headline %}
          <h1 class="text-4xl pb-6 pr-12">{{ page.headline }}</h1>
        {% elsif page.title %}
          <h1 class="text-4xl pb-6 pr-12">{{ page.title }}</h1>
        {% endif %}
        {% if page.subhead %}
          <p class="text-xl pb-6 pr-12">{{ page.subhead }}</p>
        {% endif %}
        {% if page.ctaUrl %}
          <p><a href="{{ page.ctaUrl }}" class="btn-primary btn">{{ page.ctaText }}</a></p>
        {% elsif page.layout == "book" %}
          <p><a class="btn-primary btn btn-access-tag">{{ page.ctaText }}</a></p>
        {% endif %}
      </div>
      <div class="relative">
        {% if page.heroImg %}
          <img src="/assets/imgs/{{ page.heroImg }}" alt="" class="md:absolute sm:m-auto sm:block">
        {% endif %}
      </div>
    </div>
  </div>
</div><!-- /hero section -->