<div class="hero">
  <div class="container mx-auto pt-28 pb-24">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <h4 class="text-xl pb-6 pr-12 uppercase">{{ page.subhead }}</h4>
        <h1 class="text-4xl pb-6 pr-12">Salary expectations questions - How should you answer them?</h1>
        <p class="pb-6 pr-12">Don't panic! Here's how to tactfully answer salary expectations questions without costing yourself a ton of money (updated for 2021)</p>
        <p><a href="/salary-expectations-interview-question/" class="btn-primary btn">Read More</a></p>
      </div>
    </div>
  </div>
</div><!-- /hero section -->