<div class="hero hero-posts">
  <div class="container mx-auto pt-24">
    <p class="pb-3 mb-0 uppercase brand-primary text-lg font-black">{{ page.categories | join: ', ' }}</p>
    <h1 class="text-4xl pb-6">
			{% if page.headline %}
				{{ page.headline }}
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>
    {% if page.subhead %}
      <div class="hero-excerpt">
        {{ page.subhead }}
      </div>
    {% endif %}
    {% if page.layout == "resource_page" and page.resourceCTA %}
      <div class="resource-cta my-14 flex content-center gap-4">
        <div class="flex-initial">
          <p><a href="{{ page.resourceURL }}" class="btn btn-primary">{{ page.resourceCTA }}</a></p>
        </div>
        <div class="flex-auto">
          <hr class="mt-2.5">
        </div>
      </div>
    {% else %}
      <hr class="my-14">
    {% endif %}
  </div>
</div><!-- /hero section -->