<div class="hero">
  <div class="container mx-auto md:pt-28 md:pb-24 sm:pt-14 sm:pb-12">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-6">
      <div>
        <h4 class="text-xl pb-6 pr-12 uppercase">Articles</h4>
        <h1 class="text-4xl pb-6 pr-12">Salary Negotiation Articles for Software Engineers and Engineering Managers</h1>
        <div class="hero-excerpt">
          <p class="pb-6 pr-12">Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.</p>
        </div>
        <!-- <p><a href="/salary-expectations-interview-question/" class="btn-primary btn">Read More</a></p> -->
	      <div class="relative">
	        {% if page.heroImg %}
	          <img src="/assets/imgs/{{ page.heroImg }}" alt="" class="md:absolute sm:m-auto sm:block">
	        {% endif %}
	      </div>
      </div>
    </div>
  </div>
</div><!-- /hero section -->