<div class="interview-checklist-inline p-10 mt-12">

  <form action="https://www.getdrip.com/forms/78743461/submissions" method="post" data-drip-embedded-form="78743461">
    <h3 class="text-white text-2xl uppercase serif" data-drip-attribute="x-headline">Get interview checklists and scripts to take the stress out of interview prep</h3>
    <hr class="w-16 my-8">
    <div class="text-white text-base serif mb-8" data-drip-attribute="x-description">With The Interview Cheat Sheet, you get checklists, scripts, and even questions you can ask to take the stress out of interview prep and make a strong impression every time.</div>
    <div class="sm:flex sm:grid sm:grid-cols-2 gap-8">
      <div class="mb-4 md:mb-0">
        <label class="brand-secondary text-base serif mb-1" for="fields[first_name]">First Name</label>
        <input type="text" name="fields[first_name]" placeholder="First Name" value="" />
      </div>
      <div>
        <label class="brand-secondary text-base serif mb-1" for="fields[email]">Email Address</label>
        <input type="email" name="fields[email]" placeholder="Email Address" value="" />
      </div>
    </div>
     <div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
    <div class="mt-8">
      <input class="btn-primary" type="submit" name="submit" value="Get The Cheat Sheet" data-drip-attribute="sign-up-button" />
    </div>
  </form>

</div><!-- / interview-checklist-inline -->