<div class="container bg-white mx-auto mb-20 get-help">
  <div class="flex">
    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
      <h3 class="text-lg mb-4 uppercase sans-serif brand-primary">Work with Josh</h3>
			
			
      <h2 class="mb-10 uppercase sans-serif">Expert Salary Negotiation Coaching for High Earners</h2>
			<p>I'm Josh Doody, author of Fearless Salary Negotiation and one of the first professional compensation negotiators. I have a decade of experience negotiating compensation packages with the world's largest and most powerful companies. <strong>On average, High Earners improve their first-year compensation by {{ site.avg_coach_increase_devs }} with my help.</strong></p>
			<p>Put my expertise and experience to work for you, and together, we will ensure that you get the most from your compensation negotiation.</p>
      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Schedule an Intro Call</a> <a href="/about/" class="block sm:inline-block mt-4 sm:mt-0" style="vertical-align: 17px;">Or learn more about Josh <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div>
</div><!-- /get-help -->