<h2 class="text-3xl mb-8 uppercase sans-serif">Podcast Appearances</h2>
<div class="grid sm:grid-cols-1 lg:grid-cols-3 card-carousel">
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
  <div class="bg-white flex flex-col">
    <div class="p-8 pb-0 flex-grow flex-1">
      <p class="text-2xl serif">Article title goes here spanning as many lines as needed to fit the title</p>
      <hr class="my-6 w-16 hr-article">
    </div>
    <div class="category items-center justify-between flex">
      <div class="pl-8"><p class="text-xs uppercase sans-serif">ENGINEERING INSIGHTS</p></div>
      <div><a href="#" class="cat-arrow"><i class="fas fa-link"></i></a></div>
    </div>
  </div>
</div>