{% assign id = "/results/" | append: include.story-id %}
{% assign stories = site.success-stories | where:"id", id %}
{% for story in stories %}

  <div id="{{ include.story-id | slugify }}">
		{% if include.short == true and story.short_version %}
	    <p>{{ story.short_version | markdownify }}</p>
		{% else %}
	    <p>{{ story.excerpt }}</p>
		{% endif %}
    <div class="flex items-center mt-6">
      {% if story.headshot %}
        <div class="mr-4">
          <img src="/assets/imgs/results/{{ story.headshot }}" class="rounded-full h-20 w-20">
        </div>
      {% endif %}
      <div>
        <p class="name m-0">{{ story.name }}</p>
        {% if story.jobTitle %}
          <p class="title m-0">{{ story.jobTitle }}</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endfor %}