{% assign id = "/results/" | append: include.story-id %}
{% assign stories = site.success-stories | where:"id", id %}
{% for story in stories %}

  <div id="{{ include.story-id | slugify }}">
		{% if story.short_version %}
      {{ story.short_version | newline_to_br | markdownify }}
		{% else %}
      {{ story.excerpt }}
		{% endif %}
    <div class="flex items-center mt-6">
      {% if story.headshot %}
        <div class="mr-4">
          <img src="/assets/imgs/results/{{ story.headshot }}" class="rounded-full h-20 w-20">
        </div>
      {% endif %}
        <div>
          {% if story.name %}
            <p class="name m-0">{{ story.name }}</p>
					{% else %}
            <p class="name m-0">Anonymous</p>
					{% endif %}
          {% if story.job_title %}
            <p class="title m-0">{{ story.job_title }}</p>
          {% endif %}
          {% if story.level %}
            <p class="title m-0">{{ story.level }}</p>
          {% endif %}
          {% if story.company %}
            <p class="title m-0">{{ story.company }}</p>
          {% endif %}
        </div>
    </div>
  </div>

{% endfor %}