<div class="container mx-auto mt-32 mb-20 three-card-prod">
  <div class="flex justify-between mb-14">
    <div>
      <h4 class="uppercase text-4xl">Short call to action headline goes here</h4>
    </div>
    <div>
      <a href="#" class="btn-primary btn text-right">More Articles</a>
    </div>
  </div>
  <div class="flex card-prod">
    <div class="bg-white flex-auto z-10 mr-8">
      <img src="{{ site.baseurl }}/assets/imgs/placeholder-three-card-prod.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl mb-6">The Crash Course</h5>
        <p class="mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li>Checklist item name or description</li>
          <li>Checklist item name</li>
          <li>Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
    <div class="bg-white flex-auto z-10 mr-8">
      <img src="{{ site.baseurl }}/assets/imgs/placeholder-three-card-prod.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl mb-6">The Crash Course</h5>
        <p class="mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li>Checklist item name or description</li>
          <li>Checklist item name</li>
          <li>Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
    <div class="bg-white flex-auto z-10">
      <img src="{{ site.baseurl }}/assets/imgs/placeholder-three-card-prod.png" alt="">
      <div class="p-8">
        <h5 class="text-2xl mb-6">The Crash Course</h5>
        <p class="mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
        <ul class="mb-7">
          <li>Checklist item name or description</li>
          <li>Checklist item name</li>
          <li>Checklist item name here</li>
        </ul>
        <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
        <p><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
      </div>
    </div>
  </div><!-- /card-prod -->
</div><!-- /three-card-prod -->