<div class="mt-32 mb-20 three-card-prod">

  <div class="container mx-auto">
    <div class="md:flex md:items-center justify-between mb-14">
      <div class="w-full self-center">
        {% if page.url == "/coach/" %}
          <h3 class="sans-serif text-xl uppercase mb-2">Not Ready for 1-On-1 Coaching?</h3>
          <h4 class="uppercase text-4xl sans-serif">Check out these other options</h4>
        {% else %}
          <h4 class="uppercase text-4xl sans-serif">Short call to action headline goes here</h4>
        {% endif  %}
      </div>
      <div class="self-center md:w-3/12 w-full md:mt-0 sm:mt-8 mt-8 md:text-right">
        <a href="/products/" class="btn-primary btn text-right">See All Products</a>
      </div>
    </div>
  </div>

  <div class="mx-auto card-group">
    <div class="md:flex justify-center card-prod">
      <div class="bg-white md:flex-auto z-10 mr-8 mb-8 lg:mb-0">
        <img src="/assets/imgs/prod-book-sm.png" alt="">
        <div class="p-8">
          <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
          <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
          <ul class="mb-7">
            <li class="serif">Checklist item name or description</li>
            <li class="serif">Checklist item name</li>
            <li class="serif">Checklist item name here</li>
          </ul>
          <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
          <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
        </div>
      </div>
      <div class="bg-white md:flex-auto z-10 mr-8 mb-8 lg:mb-0">
        <img src="/assets/imgs/prod-book-sm.png" alt="">
        <div class="p-8">
          <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
          <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
          <ul class="mb-7">
            <li class="serif">Checklist item name or description</li>
            <li class="serif">Checklist item name</li>
            <li class="serif">Checklist item name here</li>
          </ul>
          <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
          <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
        </div>
      </div>
      <div class="bg-white md:flex-auto z-10 mb-8 lg:mb-0">
        <img src="/assets/imgs/prod-book-sm.png" alt="">
        <div class="p-8">
          <h5 class="text-2xl uppercase sans-serif mb-6">The Crash Course</h5>
          <p class="serif mb-6">Morbi elit tellus porttitor purus mauris. Non enim orci nisi neque, aliquam pharetra neque libero. Cras ultrices ac.</p>
          <ul class="mb-7">
            <li class="serif">Checklist item name or description</li>
            <li class="serif">Checklist item name</li>
            <li class="serif">Checklist item name here</li>
          </ul>
          <p class="mb-7"><a href="#" class="btn-primary btn uppercase w-full">BUY IT NOW FOR JUST $97</a></p>
          <p class="serif"><a href="#">Learn More <i class="fas fa-angle-double-right"></i></a></p>
        </div>
      </div>
    </div><!-- /card-prod -->
  </div>

</div><!-- /three-card-prod -->