---
layout: default
title: Salary Negotiation Coaching for High Earners
headline: 'High Earners: Improve your job offer with expert salary negotiation coaching'
subhead: 'Full-service salary negotiation coaching: Negotiate your job offer with personal help and actionable advice'
description: High Earners improve their job offers by an average of $47,273 with this full-service, expert salary negotiation coaching.
og-image: fsn-og-coach-high-earners.png
heroImg: hero-one-on-one.png
ctaUrl: '#help'
ctaText: Negotiating an offer? Let's talk
navTitle: Work with Josh
navWeight: 7
bodyClass: one-on-one
---

<div class="container mx-auto py-20">
  <div class="mx-auto md:w-9/12 lg:w-8/12">
    <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know if you're ready to accept it.</p>

		<p>You <em>think</em> you can command a higher salary and a better compensation package, but you just don't know how to negotiate these things in your job offer.</p>
	  <p>How do you counter their job offer? What if you ask for too much? What if you leave money on the table by asking for too little? What if they retract the job offer? <strong>How do you know <em>what to do</em> and <em>if you're doing it correctly</em>?</strong></p>
    <h2 class="text-3xl sans-serif uppercase">Wouldn't it be nice if someone else could just negotiate for you?</h2>
    <hr class="my-8 w-16">
    <p><strong>Imagine this...</strong></p>
		<ul class="checklist my-6">
		 <li><i class="fas fa-check-circle"></i>Imagine knowing exactly how much to ask for in your salary negotiation.</li>
			<li><i class="fas fa-check-circle"></i>Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</li>
			<li><i class="fas fa-check-circle"></i>Imagine knowing exactly what you'll say and do next.</li>
			<li><i class="fas fa-check-circle"></i>Imagine having word-for-word scripts and a step-by-step plan used by employees at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft to negotiate your salary and even other benefits like vacation or a signing bonus.</li>
		</ul>
		
    <h2 class="uppercase">Justin negotiated an additional $74,000 per year with Salary Negotiation Coaching</h2>
    <hr class="my-8 w-16">
		
		<p>That's exactly how Justin felt when we worked together to negotiate his Amazon offer. He has earned an additional $74,000 per year so far—that's $220,000 and counting!</p>
		<div class="mt-10">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/jh8Vs0TsEaw" title="$74,000/yr Salary Negotiation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
  </div>

  <!-- <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly how much to ask for in your salary negotiation.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly what you'll say and do next.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div> -->

	<div id="help" class="container bg-white mx-auto mt-28 mb-20 get-help">
	  <div class="flex">
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
	    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
	    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
	      <h3 class="text-lg mb-4 uppercase sans-serif brand-primary">On average, High Earners improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h3>
				<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps High Earners get more job offers and negotiate higher salaries</strong>. People going to Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
				<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
	      <!-- <p><a href="/coach/apply/" class="btn-primary btn mr-5">Apply now</a></p> -->
	      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Let's talk</a></p>
	    </div>
	  </div>
	</div><!-- /get-help -->


	<div class="md:flex md:justify-between mt-16 mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Results</h2>
    </div>
    <div class="md:mt-0 sm:mt-8 mt-8">
      <a href="/results/" class="btn-primary btn text-right">More Results</a>
    </div>
  </div>

  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes">
      {% include success-story.html story-id="josh_johnson" %}
      {% include success-story.html story-id="justin_garrison" %}
      {% include success-story.html story-id="anon_27" %}
      {% include success-story.html story-id="anon_25" %}
      {% include success-story.html story-id="jamie" %}
      {% include success-story.html story-id="wayne_b" %}
      {% include success-story.html story-id="william_cro" %}
      {% include success-story.html story-id="anon_11" %}
    </div><!-- /suc-quotes -->

    <div class="flex suc-control">
      <button type="button" class="suc-prev"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots"></div>

  </div><!-- /success-slider -->

  <!-- <div class="about-callout mt-48">
    <div class="flex bg-white">
      <div class="py-16 pl-10 pr-32 w-9/12">
        <p>I'm Josh Doody, a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
        <p>How does this work? When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
      </div>
      <div class="w-3/12"></div>
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
    </div>
  </div> /about-callout -->
  <div class="mx-auto md:w-9/12 lg:w-8/12">

  <div class="mb-16 mt-24">
    <h2 class="text-3xl sans-serif uppercase">"How much does this cost?"</h2>
  </div>

  <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">$3,000–$6,000 <br />Strategy Fee</h3>
      <hr class="hr-default w-16 my-6">
      <p>Depending upon the complexity of the situation and your needs, the strategy fee is between $3,000 and $6,000. The strategy fee is for all aspects of your salary negotiation. It ensures that I can build and execute the best possible strategy for each and every client.</p>
    </div>
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">10% First-year <br />Result Fee</h3>
      <hr class="hr-default w-16 my-6">
      <p>The result fee is due only when we improve your job offer, and is 10% of the improvement to your first-year compensation that we negotiate.</p>

			 <p>The result fee is to ensure that our incentives are aligned throughout our engagement and to help us both share directly in the results. Sometimes, a company is very flexible and will significantly improve their offer through negotiation. Sometimes they are inflexible and their first offer is also their best offer. We cannot know which case applies to your offer until we negotiate, and the result fee enables us to work together knowing that we will share in the result.</p>

			 <p>You keep 90% of the negotiated first-year compensation improvement, and I collect the remaining 10%.</p>
    </div>
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">Fees due upon <br />completion</h3>
      <hr class="hr-default w-16 my-6">
			<p>Your strategy fee and result fee will be paid after we complete our work, and I have a 100% satisfaction money back guarantee.</p>
    </div>
  </div>

  <div class="mb-16 mt-24">
    <h2 class="text-3xl sans-serif uppercase">How it works</h2>
    <hr class="my-8 w-16">
		<p>Once you sign and return your Letter of Engagement, we'll get started by scheduling your kickoff call. During this call, we will discuss your specific situation in detail and lay out our strategy for negotiating your offer.</p>

		<p>I'll negotiate your salary behind the scenes, consulting with you every step of the way to provide the best strategy to negotiate the best version of your job offer.</p>

		<p>Once we conclude our engagement, we will calculate the result fee—10% of the improvement in your first-year compensation—and arrange payment.</p>

    <h2 class="text-3xl sans-serif uppercase">CASE STUDY: Taylor negotiated an additional $160,000 in annual compensation as an executive joining Alphabet</h2>
    <hr class="my-8 w-16">

		<p>Taylor (name changed upon request) has built an extensive career in tech that spans more than 30 years, during which he's developed some unique and highly specialized expertise. It was this expertise that led Alphabet to approach him with a significant opportunity to direct one of their teams.</p>

		<p>Despite having a long career, Taylor hadn't gone through many salary negotiations, and never with a company like Alphabet. Being at the executive level, he knew that compensation packages differ quite a bit in terms of components such as stock options, vesting, signing bonuses, performance bonuses and so on.</p>

		<h3 class="sans-serif uppercase text-2xl mb-5">“What am I really worth in this situation?”</h3>

		<p>"This company is obviously one of the biggest in the world, the division I'd be working with is dealing with a lot of very novel technology, and I also happen to have a very unique skillset in the industry," says Taylor. <strong>"So all of that was creating a lot of angst on my part about what am I really worth in this situation? I can't really compare it to a lot of things."</strong></p>

		<p>Taylor wanted to do everything he could to put himself in a winning position for his salary negotiation, so he did some online research to find out all he could about Alphabet's compensation packages. His research led him to the Fearless Salary Negotiation material and my coaching service.</p>

		<p>Hiring a salary negotiation coach was not something he had considered since he wasn't previously aware that such a service existed. Like many people, Taylor wanted to confirm that I was legitimate before deciding to work with me, and felt more comfortable after finding my book and its reviews on Amazon.</p>

		<p>"The thing that really clinched it for me was <strong>Josh’s experience helping software engineers negotiate salaries and offers with these big tech companies</strong>," says Taylor. "It was pretty clear through the information I found that Josh really understood their process."</p>

		<p>As soon as he received word that he was chosen for the role and would be receiving an offer, Taylor reached out to me and we set to work immediately.</p>

		<h3 class="sans-serif uppercase text-2xl mb-5">Pushing the comfort zone to get the best offer possible</h3>

		<p>We focused first on setting the table for Alphabet to put a strong offer forward, which includes the often difficult task of refraining from disclosing salary history or salary requirements, even when asked multiple times over.</p>

		<p><strong>"I'm a scientist — when somebody asks me a question, I give them an answer,"</strong> says Taylor. "One of the most helpful things Josh did is he actually gave a script and the logic and the thinking behind how to play the game, so to speak."</p>

		<p>Taylor and I walked through each of the likely scenarios that he would face during the negotiation and I coached him on suggested responses in each case, providing wording he could use to tactfully respond to questions and set him up for success.</p>

		<p>"Of course I had the opportunity to put my own words in the response," he says. "<strong>But it's a lot easier to start with something you can rely on versus creating from a blank page.</strong> So for every conversation I went into with Alphabet, I was prepared."</p>

		<p>Alphabet came in with a strong offer, which included: <strong>a salary range that started around the $250,000 mark, a 30% performance bonus, and about seven-figures of equity in restricted stock units (RSUs) over four years.</strong></p>

		<p>In order to maximize the result and avoid leaving money on the table, we decided to put all our chips on trying to negotiate a bigger equity package for Taylor (since Alphabet typically doesn't move much on base salary and is generally fixed on performance bonus). We wanted him to go back with a number that would push the upper bounds of what they could offer without going way outside those bounds. <strong>We decided to go with a counteroffer for nearly double the equity they offered.</strong></p>

		<p>Pushing for a large number usually requires going quite a bit outside your comfort zone, as was the case for Taylor. A week went by with no response from the recruiter.</p>

		<p>"That waiting was very stressful," says Taylor. "My imagination's going all over the place with what they could be doing. Maybe they decided I'm just too greedy. Who knows what? Josh helped calm me down."</p>

		<p>When Taylor checked in with Alphabet to inquire how the process was going, the recruiter responded immediately and said everything was fine and they were just waiting on approvals. That showed us that we were in good shape and that we played it just where we wanted it. If we countered too low, they would have come back with a snap yes, and if what we asked for was way outside the bounds of what they could do, that also would have been a quick response.</p>

		<h3 class="sans-serif uppercase text-2xl mb-5">A six-figure negotiated improvement in annual compensation</h3>

		<p>After going through the necessary approvals on their side, Taylor's recruiter came back with a huge improvement to their original offer. They came close to meeting the number we suggested for equity and maxed out the salary to the top of the offered range as an offset, resulting in <strong>a total increase of about $160,000 in annual compensation over the original offer</strong>.</p>

		<p>It was a big win for Taylor, and more than doubled his current annual compensation as an executive at a startup.</p>

		<p>"Being able to proceed to the last few years of my career ending with this huge bonus is great," says Taylor. "You know, some of that money may end up being my kids' money — that's not necessarily a bad thing."</p>

		<p>Our work together was very collaborative and Taylor's willingness to go outside his comfort zone with a big counteroffer helped him get this fantastic result. Taylor says what helped give him confidence was working with someone who is knowledgeable about how the negotiation process and compensation programs work with big tech companies like Alphabet.</p>

		<p><strong>"It's like professional sports — if you don't have film on your opponent and you go into a game without any scouting report, you're in big trouble,"</strong> he says.</p>

		<p>"<strong>Josh has 'the film' on Alphabet and other tech companies. He knows who you're dealing with and that's a huge advantage.</strong> Even when Alphabet came up with some surprises, Josh was still able to pretty well predict what they were doing and why. It takes a lot of the anxiety out of the process."</p>

		<p>Taylor and I enjoyed working with each other immensely. I'm honored that he was so happy with our work together and the excellent result that he connected me with a colleague of his who is also negotiating with a big tech firm (and has even paid my coaching fee on his colleague's behalf).</p>

		<p>"Bringing on Josh made a huge difference for me — no way I would have ended up with that number without his help," Taylor says. "<strong>Whether you're a mid-level engineer or an executive — to me it's a no brainer to work with Josh.</strong> Even just a $10,000 difference in your annual compensation is a lot of money over time and a career."</p>
		
		<p>Here's what Taylor had to say about the experience of working together:</p>

		<div class="success-indi success-light mt-12">
	    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
	    <div class="suc-indi-quotes">
				<div>
					<p><strong>Josh helped me negotiate with Alphabet to get an additional $160k in annual compensation.</strong></p>

					<p>Alphabet is obviously one of the biggest in the world, the division I'd be working with is dealing with a lot of very novel technology, and I also happen to have a very unique skillset in the industry. <strong>So all of that was creating a lot of angst on my part about what am I really worth in this situation?</strong> I can't really compare it to a lot of things.</p>

					<p>It's like professional sports — if you don't have film on your opponent and you go into a game without any scouting report, you're in big trouble. <strong>Josh has 'the film' on Alphabet and other tech companies. He knows who you're dealing with and that's a huge advantage.</strong> Even when Alphabet came up with some surprises, Josh was still able to pretty well predict what they were doing and why. It takes a lot of the anxiety out of the process.</p>

					<p>Bringing Josh on made a huge difference for me — no way I would have ended up with that number without his help. <strong>Whether you're a mid-level engineer or an executive — to me it's a no brainer to work with Josh.</strong></p>

	        <div class="flex items-center mt-6">
	          <div>
	            <p class="name m-0">Taylor | Joined Alphabet, earning an additional $160,000 his first year</p>
	          </div>
	        </div>
	      </div>
			</div><!-- /suc-quotes -->
      <div class="suc-indi-dots">
        <ul class="slick-dots" role="tablist" style="display: block;">
          <li class="slick-active" role="presentation"><p>1</p></li>
        </ul>
      </div>
	    </div>
	  </div>
	</div>


</div>

<div class="get-access get-access-coach mx-auto mb-28">

  <div class="container mx-auto pt-24 pb-20">

    <div class="flex">
      <div class="w-3/5"></div>
      <div class="w-2/5">
        <h4 class="uppercase text-xl mb-2 sans-serif">Let's talk</h4>
        <h3 class="uppercase text-3xl sans-serif">1-on-1 Salary <br />Negotiation Coaching</h3>
        <hr class="my-8 w-16">
        <!-- <p class="text-white mb-8">If you're a High Earner expecting to negotiate a job offer in the next few weeks, then 1-on-1 Salary Negotiation Coaching could be perfect for you. Apply now so that we can meet for a brief intro call to talk about your situation and whether Salary Negotiation Coaching might be a good fit!</p>
        <p><a href="/coach/apply/" class="btn-primary mr-8">Apply Now</a></p> -->
        <p class="text-white mb-8">If you're a High Earner expecting to negotiate a job offer in the next few weeks, then 1-on-1 Salary Negotiation Coaching could be perfect for you. Let's schedule a brief intro call to talk about your situation and whether Salary Negotiation Coaching might be a good fit!</p>
	      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Let's talk</a></p>
      </div>
    </div>

  </div>

</div><!-- /get-access -->

<div class="container mx-auto">

  <div class="book-questions mx-auto grid grid-cols-1 lg:w-1/2 md:w-full mb-28 container">

    <div class="book-faq mb-12">
      <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
	    <hr class="my-8 w-16">
			<p class="text-lg">You can an extensive list of questions and detailed answers here: <a href="/coach/faq/">Salary Negotiation Coaching: Common Questions and Answers</a></p>			
      <p class="text-lg">These are a few of the most frequently asked questions that may be helpful...</p>
    </div>

    <div class="accordion">
      <div class="acc-open">
        <h6 class="text-black">I've never negotiated before. Will this coaching work for me?</h6>
        <div class="acc-hide">
          <p><strong>Yes!</strong> You don't need to be an experienced negotiator to benefit from negotiating your salary. With this salary negotiation coaching, you'll be totally prepared for every conversation, and even have word-for-word scripts to use every step of the salary negotiation process.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black"> What is a "High Earner"?</h6>
        <div class="acc-hide">
          <p>If you're making or expect to make at least $400,000 per year, then you're a High Earner and Salary Negotiation Coaching could be perfect for you.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black"> I'm not a High Earner. Can you help me?</h6>
        <div class="acc-hide">
          <p>I can definitely help, although 1-on-1 coaching may not be your best option depending on your budget and timeline.</p>
					<p>Let's schedule a brief intro call to talk about your situation and whether Salary Negotiation Coaching might be a good fit!</p>					
		      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Click here to schedule a call</a></p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black">What if I'm not happy with the results? Can I get my money back?</h6>
        <div class="acc-hide">
          <p>You won't pay any fees until we complete our work, and I have a 100% satisfaction money back guarantee. In other words, you'll only pay if you're satisfied with our engagement.</p>
        </div>
      </div>
    </div>

  </div><!-- /book-questions -->

  <div class="flex items-center grid md:grid-cols-2 mb-14">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Results</h2>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a href="/results/" class="btn-primary btn text-right">More Results</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="success-slider mb-32">
      <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
      <div class="suc-quotes-2">
        {% include success-story.html story-id="anon_23" %}
        {% include success-story.html story-id="leonardo" %}
        {% include success-story.html story-id="anon_engineer_3" %}
        {% include success-story.html story-id="julian_diaz" %}
        {% include success-story.html story-id="anon_26" %}
        {% include success-story.html story-id="taylor" %}
        {% include success-story.html story-id="k_s" %}
        {% include success-story.html story-id="martin" %}
        {% include success-story.html story-id="jane" %}
      </div><!-- /suc-quotes -->

      <div class="flex suc-control-2">
        <button type="button" class="suc-prev-2"><i class="fas fa-arrow-left"></i></button>
        <button type="button" class="suc-next-2"><i class="fas fa-arrow-right"></i></button>
      </div><!-- /suc-control -->

      <div class="suc-dots-2"></div>

    </div><!-- /suc-quotes -->

  </div><!-- /success-slider -->

</div>

	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12">
	    <h2 class="text-3xl sans-serif uppercase">Getting paid what you're worth
as a High Earner is tough. Work with me, and I'll show you how.</h2>
	    <hr class="my-8 w-16">
			<p>It's time to decide: Are you ready to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>

			<p>On average, High Earners I work with improve their job offers by {{ site.avg_coach_increase_devs }}.</p>

			<p><strong>If you're ready to invest in yourself, this is your chance to avoid leaving money on the table.</strong></p>

			<p>Salary negotiation coaching works. The testimonials and results from other High Earners are the outcomes we're aiming for when we work together to negotiate your salary and help you get paid what you're worth worth.</p>

			<p>You don't get many opportunities to change jobs and negotiate a significantly higher salary. Don't miss out on your chance to negotiate a higher salary at your next job.</p>

			<p>All the best</p>

			<p>Josh</p>
		</div>

		<div class="container bg-white mx-auto mt-28 mb-20 get-help">
		  <div class="flex">
		    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
		    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
		    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
		      <h3 class="text-lg mb-4 uppercase sans-serif brand-primary">On average, High Earners improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h3>
					<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps High Earners get more job offers and negotiate higher salaries</strong>. High Earners at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
					<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
		      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Let's talk</a></p>
		    </div>
		  </div>
		</div><!-- /get-help -->

	  <div class="mx-auto md:w-9/12 lg:w-8/12">
			<h3 class="text-lg mb-4 uppercase sans-serif brand-primary">PS, not yet ready to work together (or looking to DIY your Salary Negotiation)?</h3>
			<p>In that case, I recommend Salary Negotiation Mastery to help you negotiate the best compensation package possible without endangering your offer. Learn more here: <a href="/salary-negotiation-mastery/">Salary Negotiation Mastery</a></p>
		</div>
	</div>

<!-- { % include three-card-callout.html % } -->