---
layout: default
type: service
title: Professional Salary Negotiation for High Earners
headline: 'Professional Salary Negotiation for High Earners'
subhead: 'Put a decade of high-stakes compensation negotiation expertise to work for you'
description: High Earners improve their job offers by an average of $69,000 with this full-service, expert salary negotiation.
og-image: fsn-og-baseline.png
heroImg: hero-one-on-one.png
ctaUrl: '#help'
ctaText: Schedule an Intro Call
navTitle: Work with Josh
navWeight: 7
bodyClass: one-on-one
---

<div class="container mx-auto py-20">
  <div class="mx-auto md:w-9/12 lg:w-8/12">
    <p>Your skills have propelled you to a rarefied level where maximizing your compensation demands a serious negotiation. You could do it alone, but it's a high-stakes process with long-term consequences and you want to ensure that you get the best result possible.</p>

    <p>That's where I come in. I'm Josh Doody, a pioneer of professional compensation negotiation and author of Fearless Salary Negotiation. For more than a decade, I have negotiated compensation packages with the world's largest and most powerful companies, getting my clients what their skills deserve. Now, I will put that same experience and expertise to work for you, negotiating your compensation package from start to finish. All you have to do is get in touch with me.</p>
  </div>

  <!-- <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly how much to ask for in your salary negotiation.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly what you'll say and do next.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div> -->

	<div class="mt-16 mb-8 mx-auto md:w-9/12 lg:w-8/12">
    <h2 class="text-3xl uppercase sans-serif">Results</h2>
    <hr class="my-8 w-16">
  </div>

  <div class="mx-auto md:w-9/12 lg:w-8/12 mb-16">
    <p>On average, High Earners improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them.</p>
    <h3 class="sans-serif uppercase text-2xl mb-5">Justin negotiated an additional $74,000 per year with Professional Salary Negotiation</h3>
    <p>Before we worked together to negotiate his Amazon offer, Justin had never negotiated an additional dollar for himself at any time during his career. But through our work together, he has earned an additional $74,000 per year so far—that's $220,000 and counting!</p>
    <div class="mt-10" style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
      <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/jh8Vs0TsEaw" title="$74,000/yr Salary Negotiation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <div class="mx-auto md:w-9/12 lg:w-8/12">
    <h2 class="text-3xl uppercase sans-serif">More client results</h2>
    <hr class="my-8 w-16">
    {% include standalone-success-story-short.html story-id="taylor" %}
    {% include standalone-success-story-short.html story-id="josh_johnson" %}
    {% include standalone-success-story-short.html story-id="zach" %}
  </div>

  <div class="mx-auto md:w-9/12 lg:w-8/12 mt-8 mb-16">
    <p class="text-lg"><a href="/case-studies/">Case studies from negotiations I did for clients <i class="fas fa-angle-double-right"></i></a></p>
  </div>

  <!-- <div class="about-callout mt-48">
    <div class="flex bg-white">
      <div class="py-16 pl-10 pr-32 w-9/12">
        <p>I'm Josh Doody, a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
        <p>How does this work? I'll work behind the scenes to negotiate your compensation package for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
      </div>
      <div class="w-3/12"></div>
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
    </div>
  </div> /about-callout -->
  <div class="mx-auto md:w-9/12 lg:w-8/12">

  <div class="mb-6 mt-16">
    <h2 id="fee-structure" class="text-3xl sans-serif uppercase">Professional Salary Negotiation Fee Structure</h2>
    <hr class="my-8 w-16">
		<p>There are different fee structures offered by different salary negotiators. Some are flat-fee only, paid up front. Some are tiered by seniority or offer amount. Some are contingency-only.</p>
		<p>My fee structure is designed to be simple and enables us to work together to get the best possible result for you by perfectly aligning our incentives. The three things you need to know about my Professional Salary Negotiation fee structure are:</p>
		<ul class="checklist my-6">
			<li><i class="fas fa-check-circle"></i>There is a fixed Strategy Component that covers all strategic aspects of our work together.</li>
			<li><i class="fas fa-check-circle"></i>There is a performance-based Improvement Component that allows us to share in the results.</li>
			<li><i class="fas fa-check-circle"></i>The fee is paid <em>after</em> we work together.</li>
		</ul>
  </div>

  <div>
    <div class="mb-8">
      <h3 class="text-black sans-serif uppercase text-2xl">$4,000 Strategy Component</h3>
      <hr class="hr-default w-16 my-6">
      <p>The Strategy Component is $4,000 for all aspects of your salary negotiation.</p>

			<p>Each negotiation is unique and requires a nuanced, bespoke strategy in order to optimize your offer for your specific situation and priorities.</p>
    </div>
    <div class="mb-8">
      <h3 class="text-black sans-serif uppercase text-2xl">10% Improvement Component</h3>
      <hr class="hr-default w-16 my-6">
      <p>The Improvement Component is a performance fee which is common practice in negotiation-based industries like professional sports representation, entertainment talent agencies, and M&A advisory in investment banking, where compensation is tied directly to deal outcomes.</p>

	  <p>The Improvement Component is 10% of the improvement we negotiate in your first-year compensation. This is a win-only fee that only applies when we improve your offer and only applies if you accept the improved offer.</p>
          
	  <p>You keep 90% of the improvement in first-year compensation.</p>
    </div>
    <div class="mb-8">
      <h3 class="text-black sans-serif uppercase text-2xl">Fee is paid after completion</h3>
      <hr class="hr-default w-16 my-6">
			<p>No payment is due until after we complete our work.</p>
    </div>
  </div>

  <div class="mt-16">
    <h2 class="text-3xl sans-serif uppercase">How it works</h2>
    <hr class="my-8 w-16">
		<p>Once you sign and return your Letter of Engagement, we'll get started by scheduling your strategy call. During this call, we will discuss your specific situation in detail and lay out our strategy for negotiating your offer.</p>

		<p>I'll negotiate your salary behind the scenes, consulting with you every step of the way to provide the best strategy to negotiate the best version of your job offer.</p>

		<p>Once we conclude our engagement, we will calculate the Improvement Component—10% of the improvement in your first-year compensation—and arrange payment for the Negotiation Fee.</p>

  </div><!-- /mb-16 mt-24 -->

  </div><!-- /mx-auto w-9/12 -->

</div><!-- /container py-20 -->

<div class="get-access get-access-coach mx-auto">

  <div class="container mx-auto pt-24 pb-20">

    <div class="flex">
      <div class="w-3/5"></div>
      <div class="w-2/5">
        <h4 class="uppercase text-xl mb-2 sans-serif">Schedule an Intro Call</h4>
        <h3 class="uppercase text-3xl sans-serif">Professional Salary Negotiation for High Earners</h3>
        <hr class="my-8 w-16">
        <!-- <p class="text-white mb-8">If you're a High Earner expecting to negotiate a job offer in the next few weeks, then 1-on-1 Professional Salary Negotiation could be perfect for you. Apply now so that we can meet for a brief intro call to talk about your situation and whether Professional Salary Negotiation might be a good fit!</p>
        <p><a href="/coach/apply/" class="btn-primary mr-8">Apply Now</a></p> -->
        <p class="text-white mb-8">If you're preparing for a high-stakes compensation negotiation, let's schedule a brief intro call to discuss your situation and whether Professional Salary Negotiation is the right fit.</p>
	      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Schedule an Intro Call</a></p>
      </div>
    </div>

  </div>

</div><!-- /get-access -->

<div class="container mx-auto py-16">

  <div class="mx-auto md:w-9/12 lg:w-8/12">

    <div class="book-faq mb-12">
      <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
	    <hr class="my-8 w-16">
			<p class="text-lg">You can find an extensive list of questions and detailed answers here: <a href="/coach/faq/">Professional Salary Negotiation: Common Questions and Answers</a></p>			
      <p class="text-lg">These are a few of the most frequently asked questions that may be helpful...</p>
    </div>

    <div class="accordion">
      <div class="acc-open">
        <h6 class="text-black">I've never negotiated before. Will Professional Salary Negotiation work for me?</h6>
        <div class="acc-hide">
          <p><strong>Yes!</strong> You don't need to be an experienced negotiator to benefit from negotiating your salary. I will do it for you.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black"> What is a "High Earner"?</h6>
        <div class="acc-hide">
          <p>If you're making or expect to make at least $400,000 per year, then you're a High Earner and Professional Salary Negotiation could be perfect for you.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black"> I'm not a High Earner. Can you help me?</h6>
        <div class="acc-hide">
          <p>I can definitely help, although Professional Salary Negotiation may not be your best option depending on your budget and timeline.</p>
					<p>Let's schedule a brief intro call to talk about your situation and whether Professional Salary Negotiation might be a good fit.</p>					
		      <p><a data-savvycal-embed href="https://savvycal.com/JoshDoody/10-min" class="btn-primary btn mr-5">Click here to schedule a call</a></p>
        </div>
      </div>
    </div>

  </div><!-- /book-questions -->

</div>

<!-- { % include three-card-callout.html % } -->