---
layout: default
title: Salary Negotiation Coaching for Senior Software Engineers and Engineering Managers
headline: 'Senior Software Engineers and Engineering Managers: Improve your job offer with expert salary negotiation coaching'
subhead: 'Full-service salary negotiation coaching: Negotiate your job offer with personal help and actionable advice'
description: Senior Software Engineers and Engineering Managers improve their job offers by an average of $46,150 with this full-service, expert salary negotiation coaching.
heroImg: hero-one-on-one.png
ctaUrl: /coach/apply/
ctaText: Negotiating an offer? Apply Now
navTitle: Get 1-on-1 Help
navWeight: 7
bodyClass: one-on-one
---

<div class="container mx-auto py-20">
  <div class="mx-auto md:w-9/12 lg:w-8/12">
    <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know if you're ready to accept it.</p>

		<p>You <em>think</em> you can command a higher salary and a better compensation package, but you just don't know how to negotiate these things in your job offer.</p>
	  <p>How do you counter their job offer? What if you ask for too much? What if you leave money on the table by asking for too little? What if they retract the job offer? <strong>How do you know <em>what to do</em> and <em>if you're doing it correctly</em>?</strong></p>
    <h2 class="text-3xl sans-serif uppercase">Wouldn't it be nice if someone else could just negotiate for you?</h2>
    <hr class="my-8 w-16">
    <p><strong>Imagine this...</strong></p>
		<ul class="checklist my-6">
		 <li><i class="fas fa-check-circle"></i>Imagine knowing exactly how much to ask for in your salary negotiation.</li>
			<li><i class="fas fa-check-circle"></i>Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</li>
			<li><i class="fas fa-check-circle"></i>Imagine knowing exactly what you'll say and do next.</li>
			<li><i class="fas fa-check-circle"></i>Imagine having word-for-word scripts and a step-by-step plan used by employees at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft to negotiate your salary and even other benefits like vacation or a signing bonus.</li>
		</ul>
  </div>

  <!-- <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly how much to ask for in your salary negotiation.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
    <div class="book-block mb-8 md:mb-0">
      <img src="/assets/imgs/ico-check.svg" class="mb-4">
      <p class="mb-4">Imagine knowing exactly what you'll say and do next.</p>
      <p><a href="#">Optional Call to Action <i class="fas fa-angle-double-right"></i></a></p>
    </div>
  </div> -->

	<div class="container bg-white mx-auto mt-28 mb-20 get-help">
	  <div class="flex">
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
	    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
	    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
	      <h3 class="text-lg mb-4 uppercase sans-serif brand-primary">On average, Software Engineers and Engineering Managers improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h3>
				<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps Senior Software Engineers and Engineering Managers get more job offers and negotiate higher salaries</strong>. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
				<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
	      <p><a href="/coach/apply/" class="btn-primary btn mr-5">Apply now</a></p>
	    </div>
	  </div>
	</div><!-- /get-help -->


	<div class="md:flex md:justify-between mt-16 mb-8">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Results</h2>
    </div>
    <div class="md:mt-0 sm:mt-8 mt-8">
      <a href="/results/" class="btn-primary btn text-right">More Results</a>
    </div>
  </div>

  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="suc-quotes">
      {% include success-story.html story-id="j_b" %}
      {% include success-story.html story-id="taylor" %}
    </div><!-- /suc-quotes -->

    <div class="flex suc-control">
      <button type="button" class="suc-prev"><i class="fas fa-arrow-left"></i></button>
      <button type="button" class="suc-next"><i class="fas fa-arrow-right"></i></button>
    </div><!-- /suc-control -->

    <div class="suc-dots"></div>

  </div><!-- /success-slider -->

  <!-- <div class="about-callout mt-48">
    <div class="flex bg-white">
      <div class="py-16 pl-10 pr-32 w-9/12">
        <p class="serif">I'm Josh Doody, a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
        <p class="serif">How does this work? When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
      </div>
      <div class="w-3/12"></div>
	    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
    </div>
  </div> /about-callout -->
  <div class="mx-auto md:w-9/12 lg:w-8/12">

  <div class="mb-16 mt-24">
    <h2 class="text-3xl sans-serif uppercase">"How much does this cost?"</h2>
  </div>

  <div class="flex grid md:grid-cols-3 md:gap-6 sm:grid-cols-1 sm:gap-0 justify-items-center">
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">$3000 <br />Service Fee</h3>
      <hr class="hr-default w-16 my-6">
      <p class="serif">The $3,000 service fee is for all aspects of your salary negotiation. It ensures that I can provide the best quality service for every client.</p>
    </div>
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">10% First-year <br />Result Fee</h3>
      <hr class="hr-default w-16 my-6">
      <p class="serif">The result fee is due only when we improve your job offer, and is 10% of the improvement to your first-year compensation that we negotiate.</p>

			 <p class="serif">The result fee is to ensure that our incentives are aligned throughout our engagement and to help us both share directly in the results. Sometimes, a company is very flexible and will significantly improve their offer through negotiation. Sometimes they are inflexible and their first offer is also their best offer. We cannot know which case applies to your offer until we negotiate, and the result fee enables us to work together knowing that we will share in the result.</p>

			 <p class="serif">You keep 90% of the negotiated first-year compensation improvement, and I collect the remaining 10%.</p>
    </div>
    <div class="mb-8 md:mb-0">
      <h3 class="text-black sans-serif uppercase text-2xl">Happy Client <br />Guarantee</h3>
      <hr class="hr-default w-16 my-6">
      <p class="serif">And you’re protected by the Happy Client Guarantee. My focus for every client is to provide the absolute best possible service and results.</p>

			<p class="serif">Until our kickoff meeting if you aren’t happy, for any reason, just let me know, and I’ll do my best to fix it. And if you’d like a refund of your service fee, I’ll immediately refund your money.</p>

			<p class="serif">Once we have our kickoff call, our engagement is underway and there are no refunds available.</p>
    </div>
  </div>

  <div class="mb-16 mt-24">
    <h2 class="text-3xl sans-serif uppercase">How it works</h2>
    <hr class="my-8 w-16">
		<p>As soon as your service fee payment is received, we'll get started by scheduling your kickoff call. During this call, we will discuss your specific situation in detail and lay out our strategy for negotiating your offer.</p>

		<p>I'll negotiate your salary behind the scenes, consulting with you every step of the way to provide the best strategy to negotiate the best version of your job offer.</p>

		<p>Once we conclude our engagement, we will calculate the result fee—10% of the improvement in your first-year compensation—and arrange payment.</p>

    <h2 class="text-3xl sans-serif uppercase">Jonathan turned disappointing offers from Amazon and Tesla into an additional $80,000 compensation at Tesla</h2>
    <hr class="my-8 w-16">

		<p>Jonathan was a Senior Software Engineer with lots of experience working for big-time tech companies. He was ready for a change, so he applied for Senior engineering roles at Amazon and Tesla. He quickly got two job offers, but they were both very disappointing.</p>

		<p>He reached out and asked if I could help.</p>

		<p>Since the offers were both disappointing, I recommended that we get Amazon and Tesla to improve the offers before we began negotiating. If they would improve the offers from 'disappointing' to 'negotiable', then we could go to work.</p>

		<p>After a few days, both companies came back to Jonathan with significantly better offers. Now we had room to work!</p>

		<h3 class="text-black sans-serif uppercase text-2xl mb-5">Negotiating total compensation with base salary and RSUs in play</h3>

		<p>One tricky aspect of each offer was that they were very heavily focused on RSUs—Restricted Stock Units—which is common for public tech companies. Amazon caps base salary for most employees, and they offer RSUs as their primary negotiation lever once that base salary cap is reached.</p>

		<p>RSUs can potentially be very valuable, but it's difficult to impute a present value on them in order to compare the value of the RSUs to, say, base salary or a signing bonus.</p>

		<p>Through a careful analysis of the job offer and current market conditions, I was able to estimate the present value of the RSUs and help Jonathan negotiate on the two dimensions he cared most about: his base salary and RSUs.</p>

		<h3 class="text-black sans-serif uppercase text-2xl mb-5">Choosing between two good options</h3>

		<p>We were able to significantly improve both of Jonathan's job offers from Amazon and Tesla so that he had a difficult decision to make.</p>

		<p>With the hard work of negotiating behind us, we turned our focus to comparing the two opportunities on several dimensions to help Jonathan determine which opportunity was right for him.</p>

		<p>In the end, he chose Tesla for the work environment, greater opportunity to work on new technology and manage a team, and better compensation.</p>

		<p>By investing in salary negotiation coaching, Jonathan was able to improve his first-year compensation by $80,000.</p>

		<p>Here's what Jonathan had to say about the experience of working together:</p>


		<div class="success-indi success-light mt-12">
	    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote">
	    <div class="suc-indi-quotes">
				<div>
	        <p><strong>I would highly recommend Josh as a salary negotiation coach because has the knowledge and experience of what it takes to maximize your salary and total compensation.</strong></p>

					<p>I was expecting job offers from <strong>Amazon</strong> and <strong>Tesla</strong>, and I wanted to be confident I got the best offer from each company so I could make the right decision. <strong>I considered just handling it myself, but decided I would rather work with an experienced coach and expert with whom I could discuss all aspects of the positions and corresponding offers.</strong></p>

					<p>What a great decision!</p>

					<p><strong>Approachable, knowledgeable, available</strong></p>

					<p>Josh is very approachable and knowledgeable about the entire process and was able to provide possible next steps that were very accurate. <strong>He made himself available for calls and was very quick responding to emails with thorough, specific guidance on what to write or say at each stage in the negotiations.</strong> He was there to answer even the smallest of questions.</p>

					<p>Josh took time to research specific questions related to both positions and the intricacies of the salary and total compensation discussions for both companies. The offers I got were <em>very</em> different offers, and he took the time to break them down into components so we could negotiate effectively and do an apples-to-apples comparison so I could make the best decision.</p>

					<p><strong>A great investment</strong></p>

					<p>I would highly recommend Josh as a salary negotiation coach because has the knowledge and experience of what it takes to maximize your salary and total compensation. He is also highly approachable and made himself available on very short notice.</p>

					<p>Josh added value by making me confident when performing salary negotiations and showing me how to take the right steps in the process. He was professional and honest during the entire process.</p>

					<p>This was a great investment.</p>

	        <div class="flex items-center mt-6">
	          <div>
	            <p class="name m-0">Jonathan | Joined Tesla, earning an additional $80,000 his first year</p>
	          </div>
	        </div>
	      </div>
			</div><!-- /suc-quotes -->
      <div class="suc-indi-dots">
        <ul class="slick-dots" role="tablist" style="display: block;">
          <li class="slick-active" role="presentation"><p>1</p></li>
        </ul>
      </div>
	    </div>
	  </div>
	</div>


</div>

<div class="get-access get-access-device mx-auto mb-28">

  <div class="container mx-auto pt-24 pb-20">

    <div class="flex">
      <div class="w-3/5"></div>
      <div class="w-2/5">
        <h4 class="uppercase text-xl mb-2 sans-serif">Apply Now</h4>
        <h3 class="uppercase text-3xl sans-serif">1-on-1 Salary <br />Negotiation Coaching</h3>
        <hr class="my-8 w-16">
        <p class="serif text-white mb-8">If you're a Senior Software Engineer or Engineering Manager expecting to negotiate with a big tech company in the next few weeks, then 1-on-1 Salary Negotiation Coaching could be perfect for you. Apply now so that we can meet for a brief intro call to talk about your situation and whether Salary Negotiation Coaching might be a good fit!</p>
        <p><a href="/coach/apply/" class="btn-primary mr-8">Apply Now</a></p>
      </div>
    </div>

  </div>

</div><!-- /get-access -->

<div class="container mx-auto">

  <div class="book-questions mx-auto grid grid-cols-1 lg:w-1/2 md:w-full mb-28 container">

    <div class="book-faq mb-12">
      <h2 class="text-3xl sans-serif uppercase mb-8">Still have questions?</h2>
	    <hr class="my-8 w-16">
      <p class="serif text-lg">Salary negotiation coaching isn't for everyone, here's how to determine if this is right for you...</p>
    </div>

    <div class="accordion">
      <div class="acc-open">
        <h6 class="text-black">I've never negotiated before. Will this coaching work for me?</h6>
        <div class="acc-hide">
          <p><strong>Yes!</strong> You don't need to be an experienced negotiator to benefit from negotiating your salary. With this salary negotiation coaching, you'll be totally prepared for every conversation, and even have word-for-word scripts to use every step of the salary negotiation process.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black"> I'm not a Senior Software Engineer or Engineering Manager. Can you help me?</h6>
        <div class="acc-hide">
          <p>I can definitely help, although 1-on-1 coaching may not be your best option depending on your budget and timeline.</p>
					<p>Please complete <a href="/coach/apply/">this application</a> and I'll schedule a free 15-minute call to suggest the best option for you.</p>
        </div>
      </div>
      <div class="acc-open">
        <h6 class="text-black">What if I'm not happy with the results? Can I get my money back?</h6>
        <div class="acc-hide">
          <p>Until our kickoff meeting, you can request a refund of your service fee at any time for any reason. Once we have completed our kickoff call, the engagement is underway and refunds are not available.</p>
					<p>And the result fee is designed so that we share in the result, regardless of the outcome. There will only be a result fee if we improve your offer.</p>
        </div>
      </div>
    </div>

  </div><!-- /book-questions -->

  <div class="flex items-center grid md:grid-cols-2 mb-14">
    <div>
      <h2 class="text-3xl uppercase sans-serif">Results</h2>
    </div>
    <div class="md:text-right sm:text-left mt-6 sm:mt-8 md:mt-0">
      <a href="/results/" class="btn-primary btn text-right">More Results</a>
    </div>
  </div>
  <div class="success-slider mb-32">
    <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
    <div class="success-slider mb-32">
      <img src="/assets/imgs/ico-success-quote.svg" class="suc-quote" >
      <div class="suc-quotes-2">
        {% include success-story.html story-id="jane" %}
        {% include success-story.html story-id="daniel" %}
        {% include success-story.html story-id="mark_o" %}
        {% include success-story.html story-id="julian_diaz" %}
        {% include success-story.html story-id="anon_engineer_3" %}
        {% include success-story.html story-id="k_s" %}
        {% include success-story.html story-id="anon_11" %}
        {% include success-story.html story-id="leonardo" %}
        {% include success-story.html story-id="martin" %}
      </div><!-- /suc-quotes -->

      <div class="flex suc-control-2">
        <button type="button" class="suc-prev-2"><i class="fas fa-arrow-left"></i></button>
        <button type="button" class="suc-next-2"><i class="fas fa-arrow-right"></i></button>
      </div><!-- /suc-control -->

      <div class="suc-dots-2"></div>

    </div><!-- /suc-quotes -->

  </div><!-- /success-slider -->

</div>

	<div class="container mx-auto py-20">
	  <div class="mx-auto md:w-9/12 lg:w-8/12">
	    <h2 class="text-3xl sans-serif uppercase">Getting paid what you're worth
as a Senior Software Engineer or Engineering Manager is tough. Work with me, and I'll show you how.</h2>
	    <hr class="my-8 w-16">
			<p>It's time to decide: Are you ready to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>

			<p>On average, Senior Software Engineers and Engineering Managers I work with improve their job offers by $46,150. And other professionals—marketers, coding school instructors, and others—improve their job offers by $12,231.</p>

			<p><strong>If you're ready to invest in yourself, this is your chance to avoid leaving money on the table.</strong></p>

			<p>Salary negotiation coaching works. The testimonials and results from other Software Developers are the outcomes we're aiming for when we work together to negotiate your salary and help you get paid what you're worth worth.</p>

			<p>You don't get many opportunities to change jobs and negotiate a significantly higher salary. Don't miss out on your chance to negotiate a higher salary at your next job.</p>

			<p>All the best</p>

			<p>Josh</p>
		</div>

		<div class="container bg-white mx-auto mt-28 mb-20 get-help">
		  <div class="flex">
		    <img src="/assets/imgs/callout-josh-headshot.png" alt="Josh Doody" class="hidden md:block">
		    <div class="w-3/12 sm:w-1/3 hidden md:block"></div>
		    <div class="md:py-16 md:pr-10 md:pl-32 p-8 lg:w-9/12 md:w-2/3 w-full">
		      <h3 class="text-lg mb-4 uppercase sans-serif brand-primary">On average, Software Engineers and Engineering Managers improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h3>
					<p>I'm Josh Doody, <strong>a professional salary negotiation coach who helps Senior Software Engineers and Engineering Managers get more job offers and negotiate higher salaries</strong>. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
					<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
		      <p><a href="/coach/apply/" class="btn-primary btn mr-5">Apply now</a></p>
		    </div>
		  </div>
		</div><!-- /get-help -->

	  <div class="mx-auto md:w-9/12 lg:w-8/12">
			<h3 class="text-lg mb-4 uppercase sans-serif brand-primary">PS, not yet ready to work together (or looking to DIY your Salary Negotiation)?</h3>
			<p>In that case, I recommend The Salary Negotiation Crash Course. It’ll help you learn the basics of salary negotiation and build your own strategy in about 90 minutes. Learn more here: <a href="/salary-negotiation-video-course/">The Salary Negotiation Crash Course</a></p>
		</div>
	</div>

<!-- { % include three-card-callout.html % } -->