.btn-primary {
  background-color: $brand-secondary;
  color: $brand-white;
  font: {
    family: $font-sans-serif;
    size: 1em;
    weight: 900;
  }
  text: {
    align: center;
    transform: uppercase;
  }
  padding: 9px 12px 11px;
  border: none;
  &:hover {
    opacity: .75;
  }
}

button {
  &:focus {
    border-radius: 0;
    outline: none;
  }
}