.btn-primary {
  background-color: $brand-secondary;
  color: $brand-white;
  font: {
    family: $font-sans-serif;
    size: 1em;
    weight: 900;
  }
  text-transform: uppercase;
  padding: 9px 12px 11px;
  &:hover {
    opacity: .75;
  }
}