/* Articles */
.cat-arrow {
  background-color: $brand-secondary;
  text-align: center;
  width: 56px;
  height: 56px;
  border-left: 12px solid $brand-light-gray;
  border-top: 12px solid $brand-light-gray;
  display: block;
  .fas {
    color: $brand-gray;
    vertical-align: -0.80em;
  }
}

.category p {
  color: $brand-gray;
  text-transform: uppercase;
  opacity: .5;
}

.article-lists {
  p {
    font-family: $font-serif;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid $brand-secondary;
    &:hover {}
  }
}


/* Card Carousel/Toc Carousel */
.card-carousel .slick-slide,
.toc-carousel .slick-slide {
  padding-right: 2em;
}

.card-carousel .slick-dots,
.toc-carousel .slick-dots {
  bottom: 0;
  top: -4em;
  right: 1.5em;
  text-align: right;
}

.card-carousel .slick-prev,
.card-carousel .slick-next
.toc-carousel .slick-prev,
.toc-carousel .slick-next {
  top: -46px;
}

.card-carousel,
.toc-carousel {
  .slick-prev {
    right: 200px;
    left: unset;
  }
  .slick-next {
    right: 0;
  }
}


/* Get help callout */
.get-help {
  outline: 2px solid $brand-primary;
  border: 8px solid $brand-light-gray;
  position: relative;
  h2 {
    color: $brand-black;
    font-size: 2em;
  }
  img {
    position: absolute;
    // bottom: -56px;
    bottom: 0;
    left: 0;
  }
}


/* Blog Posts */
.blog-post-wrap {}

.blog-post {
  h2, h3, h4, h5, h6 {
    margin-bottom: 1.25em;
  }
  p {
    font-family: $font-serif;
  }
  iframe {
    margin: 2.5em 0;
    box-shadow: 32px 32px 40px rgba($brand-black, .15);
  }
}

.blog-slider {}

.slider-controls {}

.blog-prev,
.blog-next {
  color: $brand-gray;
  opacity: .25;
  &:hover {
    opacity: 1;
  }
}

.blog-dots {
  margin: 0 10px;
}

.blog-slider-wrap {
  .slick-dots {
    text-align: center;
    position: relative;
    bottom: 0;
    li {
      button {
        &:before {
          content: ' ';
          background-color: $brand-white;
          color: $brand-white;
          font-size: 16px;
          line-height: 14px;
          width: 16px;
          height: 16px;
          opacity: 1;
          border: 3px solid $brand-white;
          border-radius: 50%;
        }
      }
      &.slick-active button:before {
        background-color: $brand-secondary;
        opacity: 1;
      }
    }
  }
}

.blog-sidebar h3 {
  color: $brand-primary;
}

.load-more {
  position: relative;
  &:after {
    content: ' ';
    background-color: $brand-secondary;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
  }
  a {
    background-color: $brand-light-gray;
    color: $brand-gray;
    font-size: 1em;
    font-weight: 900;
    padding: .5em .75em;
    border: 2px solid $brand-secondary;
    display: inline-block;
    position: relative;
    z-index: 3;
    .fas {
      color: $brand-gray;
    }
    &:hover {
      background-color: $brand-white;
    }
  }
}


/* Accordion */
.accordion {
  .acc-open {
    background-color: $brand-white;
    margin-bottom: 1.25em;
    padding: 1.5em;
  }
  h6 {
    font: {
      family: $font-serif;
      size: 1.125em;
      weight: 400;
    }
    margin-bottom: 0;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &:after {
      font: {
        family: "Font Awesome 5 Free";
        weight: 900;
      }
      color: $brand-secondary;
      content: "\f0dd";
      position: absolute;
      right: 0;
      top: -5px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &.active {
      font-weight: 700;
    }
  }
  p {
    font-family: $font-serif;
    &:first-of-type {
      margin-top: 2em;
    }
  }
}


/* Products - three cards */
.three-card-prod {
  position: relative;
  z-index: 3;
  &:after {
    content: ' ';
    background-color: $brand-gray;
    opacity: .1;
    width: 1000%;
    height: 526px;
    position: absolute;
    top: 8.85em;
    right: -50%;
    left: -50%;
    z-index: 1;
    display: block;
  }
}

.three-card-prod h4, .card-prod h5 {
  color: $brand-primary;
}


/* Success Stories slider */
.success-slider {
  background-color: $brand-gray;
  position: relative;
  .suc-quote {
    position: absolute;
    top: 3.875em;
    left: 2.5em;
  }
}

.suc-quotes {
  padding: 6.75em 4em 2.75em 4.25em;
  p {
    color: $brand-white;
    font: {
      family: $font-serif;
      size: 1.5em;
    }
    &.name {
      color: $brand-secondary;
      font: {
        family: $font-sans-serif;
        size: .875em;
        weight: 900;
      }
      text-transform: uppercase;
    }
    &.title {
      color: rgba($brand-white,.5);
      font: {
        family: $font-sans-serif;
        size: .75em;
      }
      text-transform: uppercase;
    }
  }
  ul {
    li {
      color: $brand-white;
      font: {
        family: $font-serif;
        size: 1.5em;
      }
    }
  }
  strong {
    color: $brand-secondary;
  }
}

.suc-control {
  position: absolute;
  right: 4em;
  bottom: 2em;
}

.suc-prev,
.suc-next {
  border: 2px solid $brand-secondary;
  opacity: .25;
  .fas {
    background-color: $brand-gray;
    color: $brand-white;
    padding: 1em;
  }
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.suc-next {
  margin-left: 0.75em;
}

.suc-dots {
  .slick-dots {
    position: absolute;
    bottom: -44px;
    text-align: left;
    li {
      width: 44px;
      height: 44px;
      margin: 0;
      button {
        font-size: 1em;
        width: 1em;
        height: 1em;
        padding: 0;
        &:before {
          background-color: $brand-gray;
          content: ' ';
          font-family: inherit;
          font-size: 1em;
          line-height: 1em;
          position: absolute;
          top: 0;
          left: 0;
          /* width: 2.75em;
          height: 2.75em; */
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 44px 44px 0 0;
          border-color: $brand-gray $brand-light-gray $brand-light-gray $brand-light-gray;
          text-align: left;
        }
      }
      &:nth-child(5) button:before { opacity: .1; }
      &:nth-child(4) button:before { opacity: .2; }
      &:nth-child(3) button:before { opacity: .3; }
      &:nth-child(2) button:before { opacity: .4; }
      &:nth-child(1) button:before { opacity: .5; }
      &.slick-active button:before {
        opacity: 1;
      }
    }
  }
}


/* Blog category nav */
.cat-nav {
  li {
    text-align: center;
  }
  a, button {
    background-color: transparent;
    color: $brand-gray;
    font: {
      family: $font-sans-serif;
      size: 1em;
      weight: 900;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    margin-right: 1.25em;
    padding: .65em .75em;
    border: 2px solid $brand-secondary;
    display: inline-block;
    &:active, &:focus {
      outline: none;
    }
    &:hover {
      background-color: $brand-white;
      color: $brand-gray;
    }
  }
}

.cat-active a, .cat-active button, .btn-active {
  background-color: $brand-secondary !important;
  color: $brand-white !important;
}


/* Blog page featured posts */
.blog-featured {
  h4 {
    color: $brand-primary;
  }
}


// Book page
.book-intro {
  width: 70%;
  @media (max-width: 960px) {
    width: 90%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
  hr {
    border-top: 2px solid $brand-primary;
  }
}

.book-block {
  p {
    font-family: $font-serif;
    a {
      font-weight: 700;
    }
  }
  li {
    font-family: $font-serif;
    margin-bottom: 0.75em;
  }
}

.book-toc {
  h6 {
    color: rgba($brand-black,.5);
  }
  p {
    margin-bottom: 1.125em;
  }
}

.fade-course {
  .flex {
    position: relative;
    &:before {
      background: linear-gradient(0deg, #EAEBEC 3%, rgba(196, 196, 196, 0) 100%);
      content: " ";
      width: 100%;
      height: 240px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; /* text still selectable */
    }
  }
}

.book-video-block {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 1111;
  }
  .video-callout {
    background-color: $brand-gray;
    width: 25%;
    position: absolute;
    top: 6em;
    right: 0;
    z-index: 3333;
    h3 {
      color: $brand-white;
      font: {
        family: $font-sans-serif;
        size: 1.5em;
      }
      text-transform: uppercase;
    }
    p {
      color: $brand-white;
      font-family: $font-serif;
      a {
        color: $brand-white;
      }
    }
    hr {
      width: 4em;
      margin: 1.5em 0;
    }
  }
}

.book-perks {
  .perk-group {
    border: 1px solid $brand-secondary;
    img {
      width: 104px;
      max-width: 104px;
    }
  }
}

.book-sidebar {
  >div {
    background-color: $brand-white;
  }
  h3 {
    color: $brand-primary;
  }
  h4.toc-title {
    color: $brand-secondary;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-bottom: .875em;
    position: relative;
    &:after {
      font: {
        family: "Font Awesome 5 Free";
        size: 16px;
        weight: 900;
      }
      color: $brand-secondary;
      content: "\f068";
      position: absolute;
      right: 0;
      top: 0;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      &:after {
        content: "\f067";
      }
    }
  }
  h5 {
    font: {
      family: $font-serif;
      size: 1em;
      weight: 700;
    }
    margin-bottom: .875em;
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      text-indent: -17px;
      margin: {
        bottom: .875em;
        left: 17px;
      }
      &.no-indent {
        text-indent: 0;
        margin-left: 0;
      }
      a {
        color: $brand-gray;
        text-decoration: none;
        font-size: .875em;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.toc {
      li {}
    }
  }
  .toc-chapter {
    display: none;
  }
  .toc-open {
    display: block;
  }
}

.book-content {
  h2, h3, h4, h5, h6, p, li {
    font-family: $font-serif;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 1.25em;
  }
}

.book-pag {}

.book-nav {
  &.add-border {
    position: relative;
    &:after {
      background-color: $brand-gray;
      width: 1px;
      height: 100%;
      display: block;
      content: " ";
      position: absolute;
      top: .5em;
      left: 50%;
    }
  }
  h5 {
    color: $brand-gray;
  }
  a {
    color: $brand-gray;
    text-decoration: none;
    padding: .5em .75em .75em;
    border: 2px solid $brand-secondary;
    &:hover {
      background-color: $brand-secondary;
      text-decoration: none;
    }
  }
}

.get-access {
  background: url("../imgs/prod-book-lg.png") left bottom no-repeat $brand-gray;
  background-size: contain;
  max-width: 1440px;
  &.get-access-device {
    background-image: url("../imgs/prod-devices.png");
  }
  h4 {
    color: $brand-secondary;
  }
  h3 {
    color: $brand-white;
  }
  ul {
    color: $brand-white;
    li {
      margin-bottom: .75em;
    }
  }
  span {
    color: $brand-white;
    font: {
      family: $font-sans-serif;
      size: 2.5em;
      weight: 900;
    }
    padding-bottom: 6px;
    display: inline-block;
  }
}

.book-questions {}

// Resources
.resource-cta {}