// Articles
.cat-arrow {
  background-color: $brand-secondary;
  text-align: center;
  width: 56px;
  height: 56px;
  border-left: 12px solid $brand-light-gray;
  border-top: 12px solid $brand-light-gray;
  display: block;
  .fas {
    color: $brand-gray;
    // vertical-align: -9px;
    vertical-align: -16px;
  }
}

.category p {
  color: $brand-gray;
  text-transform: uppercase;
  opacity: .5;
}

.article-lists {
  p {
    font-family: $font-serif;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid $brand-secondary;
    &:hover {}
  }
}


// Card Carousel/Toc Carousel
.card-carousel .slick-slide,
.card-carousel-2 .slick-slide,
.card-carousel-3 .slick-slide,
.toc-carousel .slick-slide,
.in-press-inc .slick-slide,
.podcast-inc .slick-slide {
  padding-right: 2em;
}

.toc-carousel .slick-dots {
  bottom: 0;
  top: -4em;
  right: 50px;
  text-align: right;
}

.toc-carousel .slick-prev,
.toc-carousel .slick-next {
  top: -46px;
  &:before {
    color: $brand-gray;
    font: {
      family: "Font Awesome 5 Free";
      weight: 900;
    }
  }
}

.toc-carousel .slick-prev {
  &:before {
    content: "\f060";
  }
}

.toc-carousel .slick-next {
  right: 27px;
  &:before {
    content: "\f061";
  }
}

.toc-carousel {
  .slick-prev {
    right: 200px;
    left: unset;
  }
  .slick-next {
    right: 0;
  }
}

.success-stories {
  .card-carousel.slick-slider {
    margin-bottom: 6.25rem;
  }
}

.card-control,
.card-control-2,
.card-control-3,
.toc-control,
.in-press-control,
.podcast-control {
  margin-top: .6rem;
  @media (max-width: 876px) {
    display: none;
  }
  .card-next,
  .card-prev,
  .card-next-2,
  .card-prev-2,
  .card-next-3,
  .card-prev-3,
  .toc-next,
  .toc-prev,
  .in-press-next,
  .in-press-prev,
  .podcast-next,
  .podcast-prev {
    margin-bottom: 4px;
  }
  .card-next,
  .card-next-2,
  .card-next-3,
  .toc-next,
  .in-press-next,
  .podcast-next {
    margin-left: 7px;
  }
  .card-prev,
  .card-prev-2,
  .card-prev-3,
  .toc-prev,
  .in-press-prev,
  .podcast-prev {
    margin-right: 5px;
  }
  .card-dots,
  .card-dots-2,
  .card-dots-3,
  .toc-dots {
    .slick-dots {
      position: relative;
      bottom: 3px;
      li {
        button {
          &:before {
            color: $brand-white;
            font-size: 16px;
            opacity: 1;
            position: relative;
            z-index: 1;
          }
          &:after {
            content: ' ';
            color: $brand-secondary;
            font: {
              family: 'slick';
              size: 8px;
            }
            width: 20px;
            height: 20px;
            position: absolute;
            top: 15px;
            left: 3px;
            z-index: 2;
          }
        }
        &.slick-active {
          button {
            &:after {
              content: '•';
            }
          }
        }
      }
    }
  }
}

.toc-control {
  margin: {
    top: 0;
    bottom: 1rem;
  }
}


// Get help callout
.get-help {
  outline: 2px solid $brand-primary;
  border: 8px solid $brand-light-gray;
  position: relative;
  @media (max-width: 876px) {
    outline: none;
    border-width: 1rem;
  }
  h2 {
    color: $brand-black;
    font-size: 2em;
  }
  a {
    border: none;
  }
  img {
    position: absolute;
    // bottom: -56px;
    bottom: 0;
    left: 0;
  }
}

// Product grid
.product-grid {
  a {
    border: none;
  }
  .grid-cols-2 {
    .product-column {
      &:nth-child(1) { background-color: #28282D; }
      &:nth-child(2) { background-color: #2D2D32; }
    }
  }
  .grid-cols-3 {
    .product-column {
      &:nth-child(1) { background-color: #28282D; }
      &:nth-child(2) { background-color: #232328; }
      &:nth-child(3) { background-color: #28282D; }
    }
  }
  .product-copy, .product-copy-sm {}
  .product-copy {}
  .product-copy-sm {
    .btn-primary {
      @media (max-width: 1420px) {
        max-width: 50%;
        margin-bottom: 1em;
        display: block;
      }
      @media (max-width: 1110px) {
        max-width: 100%;
      }
    }
  }
}

// Blog Posts
.blog-post-wrap {}

.blog-post {
  h2, h3, h4, h5, h6 {
    margin: {
      top: 1rem;
      bottom: 1.25em;
    }
  }
  p {
    font-family: $font-serif;
  }
  iframe {
    margin: 2.5em 0;
    box-shadow: 32px 32px 40px rgba($brand-black, .15);
  }
}

.blog-slider {}

.slider-controls {}

.blog-prev,
.blog-next {
  color: $brand-gray;
  opacity: .25;
  &:hover {
    opacity: 1;
  }
}

.blog-dots {
  margin: 0 10px;
}

.blog-slider-wrap {
  .slick-dots {
    text-align: center;
    position: relative;
    bottom: 0;
    li {
      button {
        &:before {
          content: ' ';
          background-color: $brand-white;
          color: $brand-white;
          font-size: 16px;
          line-height: 14px;
          width: 16px;
          height: 16px;
          opacity: 1;
          border: 3px solid $brand-white;
          border-radius: 50%;
        }
      }
      &.slick-active button:before {
        background-color: $brand-secondary;
        opacity: 1;
      }
    }
  }
}

.blog-sidebar {
  h3 {
    color: $brand-black;
  }
  .related-posts {
    a {
      border: none;
    }
  }
}


.load-more {
  position: relative;
  &:after {
    content: ' ';
    background-color: $brand-secondary;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
  }
  button {
    background-color: $brand-light-gray;
    color: $brand-gray;
    font-size: 1em;
    font-weight: 900;
    padding: .5em .75em;
    border: 2px solid $brand-secondary;
    display: inline-block;
    position: relative;
    z-index: 3;
    .fas {
      color: $brand-gray;
    }
    &:hover {
      background-color: $brand-white;
    }
  }
}


// Accordion
.accordion {
  .acc-open {
    background-color: $brand-white;
    margin-bottom: 1.25em;
    padding: 1.5em;
  }
  h6 {
    font: {
      family: $font-serif;
      size: 1.125em;
      weight: 400;
    }
    margin-bottom: 0;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &:after {
      font: {
        family: "Font Awesome 5 Free";
        weight: 900;
      }
      color: $brand-secondary;
      content: "\f0dd";
      position: absolute;
      right: 0;
      top: -5px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &.active {
      font-weight: 700;
    }
  }
  p {
    font-family: $font-serif;
    &:first-of-type {
      margin-top: 2em;
    }
  }
}


// Products - three cards
.three-card-prod {
  h4 {
    color: $brand-primary;
  }
  .card-group {
    position: relative;
    z-index: 3;
    &:after {
      content: ' ';
      background-color: $brand-gray;
      opacity: .1;
      // width: 1000%;
      width: 100%;
      height: 526px;
      position: absolute;
      top: 3.5em;
      // right: -50%;
      // left: -50%;
      right: 0;
      left: 0;
      z-index: 1;
      display: block;
      @media (max-width: 876px) {
        display: none;
      }
    }
  }
  .card-prod {
    h5 {
      color: $brand-primary;
    }
    > div {
      max-width: 350px;
      @media (max-width: 876px) {
        margin: {
          right: auto;
          left: auto;
        }
      }
    }
    .btn {
      @media (max-width: 1050px) {
        font-size: .75rem;
      }
      @media (max-width: 890px) {
        font-size: 1rem;
      }
    }
  }
}


// Success Stories slider
.success-slider, .success-indi {
  background-color: $brand-gray;
  position: relative;
  .suc-quote {
    position: absolute;
    top: 3.875em;
    left: 2.5em;
    @media (max-width: 660px) {
      top: 26px;
      left: 11px;
    }
  }
}

.success-indi {
  margin-bottom: 8rem;
  .suc-dots, .suc-indi-dots {
    .slick-dots {
      position: absolute;
      bottom: -44px;
      left: 0;
      text-align: left;
      li {
        width: 44px;
        height: 44px;
        margin: 0;
        p {
          font-size: 1em;
          width: 1em;
          height: 1em;
          padding: 0;
          &:before {
            background-color: $brand-gray;
            content: ' ';
            font-family: inherit;
            font-size: 1em;
            line-height: 1em;
            position: absolute;
            top: 0;
            left: 0;
            /* width: 2.75em;
            height: 2.75em; */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 44px 44px 0 0;
            border-color: $brand-gray $brand-light-gray $brand-light-gray $brand-light-gray;
            text-align: left;
          }
        }
      }
    }
  }
}

.success-light {
  background-color: $brand-white;
  .suc-quotes,
  .suc-quotes-2,
  .suc-indi-quotes {
    p, p.title, li {
      color: $brand-gray;
    }
  }
  .suc-dots,
  .suc-dots-2,
  .suc-indi-dots {
    .slick-dots {
      li {
        p {
          &:before {
            background-color: $brand-white;
            border-color: $brand-white $brand-light-gray $brand-light-gray $brand-light-gray;
          }
        }
      }
    }
  }
}

.suc-quotes,
.suc-quotes-2,
.suc-indi-quotes {
  padding: 6.75em 4em 2.75em 4.25em;
  @media (max-width: 660px) {
    padding: 3em 2em 6em;
    // padding-bottom: 6em;
  }
  p {
    color: $brand-white;
    font: {
      family: $font-serif;
      size: 1.5em;
    }
    &.name {
      color: $brand-secondary;
      font: {
        family: $font-sans-serif;
        size: .875em;
        weight: 900;
      }
      text-transform: uppercase;
    }
    &.title {
      color: rgba($brand-white,.5);
      font: {
        family: $font-sans-serif;
        size: .75em;
      }
      text-transform: uppercase;
    }
  }
  ul {
    li {
      color: $brand-white;
      font: {
        family: $font-serif;
        size: 1.5em;
      }
    }
  }
  strong {
    color: $brand-secondary;
  }
}

.suc-control,
.suc-control-2 {
  position: absolute;
  right: 4em;
  bottom: 2em;
  @media (max-width: 876px) {
    right: 1em;
    bottom: 1em;
  }
}

.suc-prev,
.suc-next,
.suc-prev-2,
.suc-next-2 {
  border: 2px solid $brand-secondary;
  opacity: .25;
  .fas {
    background-color: $brand-gray;
    color: $brand-white;
    padding: 1em;
  }
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.suc-next,
.suc-next-2 {
  margin-left: 0.75em;
}

.suc-dots,
.suc-dots-2,
.suc-indi-dots {
  .slick-dots {
    position: absolute;
    bottom: -44px;
    text-align: left;
    li {
      width: 44px;
      height: 44px;
      margin: 0;
      button {
        font-size: 1em;
        width: 1em;
        height: 1em;
        padding: 0;
        &:before {
          background-color: $brand-gray;
          content: ' ';
          font-family: inherit;
          font-size: 1em;
          line-height: 1em;
          position: absolute;
          top: 0;
          left: 0;
          /* width: 2.75em;
          height: 2.75em; */
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 44px 44px 0 0;
          border-color: $brand-gray $brand-light-gray $brand-light-gray $brand-light-gray;
          text-align: left;
        }
      }
      &:nth-child(5) button:before { opacity: .1; }
      &:nth-child(4) button:before { opacity: .2; }
      &:nth-child(3) button:before { opacity: .3; }
      &:nth-child(2) button:before { opacity: .4; }
      &:nth-child(1) button:before { opacity: .5; }
      &.slick-active button:before {
        opacity: 1;
      }
    }
  }
}


// Blog category nav
.cat-nav {
  li {
    text-align: center;
    margin: {
      right: 1.25em;
      bottom: 1.25em;
    }
  }
  a, button {
    background-color: transparent;
    color: $brand-gray;
    font: {
      family: $font-sans-serif;
      size: 1em;
      weight: 900;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    padding: .65em .75em;
    border: 2px solid $brand-secondary;
    display: inline-block;
    &:active, &:focus {
      outline: none;
    }
    &:hover {
      background-color: $brand-white;
      color: $brand-gray;
    }
  }
}

.cat-active a, .cat-active button, .btn-active {
  background-color: $brand-secondary !important;
  color: $brand-white !important;
}


// Blog page featured posts
.blog-featured {
  @media (max-width: 876px) {
    div:first-of-type {
      margin-bottom: 2em;
    }
  }
  h4 {
    color: $brand-primary;
  }
  a {
    border: none;
  }
}

.blog-list {
  a {
    border: none;
  }
}


// Book page
.book-intro {
  width: 70%;
  @media (max-width: 960px) {
    width: 90%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
  .book & {
    width: 50%;
  }
  .complete-bundle & {
    width: 55%;
  }
  hr {
    border-top: 2px solid $brand-primary;
  }
}

.book-block {
  p {
    font-family: $font-serif;
    a {
      font-weight: 700;
    }
  }
  li {
    font-family: $font-serif;
    margin-bottom: 0.75em;
  }
}

.book-toc {
  h6 {
    color: rgba($brand-black,.5);
  }
  p {
    margin-bottom: 1.125em;
  }
}

.fade-course {
  .flex {
    position: relative;
    &:before {
      background: linear-gradient(0deg, #EAEBEC 3%, rgba(196, 196, 196, 0) 100%);
      content: " ";
      width: 100%;
      height: 240px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; /* text still selectable */
    }
  }
}

.book-video-block {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  @media (max-width: 860px) {
    height: auto;
    padding-bottom: 6em;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 1111;
    @media (max-width: 860px) {
      position: relative;
      width: 100%;
      height: 300px;
      margin-bottom: 1em;
    }
  }
  .video-callout {
    background-color: $brand-gray;
    width: 25%;
    position: absolute;
    top: 6em;
    right: 0;
    z-index: 3333;
    @media (max-width: 1100px) {
      top: 3em;
    }
    @media (max-width: 950px) {
      width: 35%;
    }
    @media (max-width: 860px) {
      width: 100%;
      position: relative;
      top: 0;
    }
    h3 {
      color: $brand-white;
      font: {
        family: $font-sans-serif;
        size: 1.5em;
      }
      text-transform: uppercase;
    }
    p {
      color: $brand-white;
      font-family: $font-serif;
      a {
        color: $brand-white;
      }
    }
    hr {
      width: 4em;
      margin: 1.5em 0;
    }
  }
}

.book-perks {
  .perk-group {
    border: 1px solid $brand-secondary;
    img {
      width: 104px;
      max-width: 104px;
    }
  }
}

.book-sidebar {
  >div {
    background-color: $brand-white;
  }
  h3 {
    color: $brand-primary;
  }
  h4.toc-title {
    color: $brand-secondary;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-bottom: .875em;
    position: relative;
    &:after {
      font: {
        family: "Font Awesome 5 Free";
        size: 16px;
        weight: 900;
      }
      color: $brand-secondary;
      content: "\f067";
      position: absolute;
      right: 0;
      top: 0;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      &:after {
        content: "\f068";
      }
    }
  }
  h5 {
    font: {
      family: $font-serif;
      size: 1em;
      weight: 700;
    }
    margin-bottom: .875em;
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      text-indent: -17px;
      margin: {
        bottom: .875em;
        left: 17px;
      }
      &.no-indent {
        text-indent: 0;
        margin-left: 0;
      }
      a {
        color: $brand-gray;
        text-decoration: none;
        font-size: .875em;
        border: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.toc {
      li {}
    }
  }
  .toc-chapter {
    display: none;
  }
  .toc-open {
    display: block;
  }
}

.book-content {
  h2, h3, h4, h5, h6, p, li {
    font-family: $font-serif;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 1.25em;
  }
}

.book-pag {}

.book-nav {
  &.add-border {
    position: relative;
    &:after {
      background-color: $brand-gray;
      width: 1px;
      height: 100%;
      display: block;
      content: " ";
      position: absolute;
      top: .5em;
      left: 50%;
    }
  }
  h5 {
    color: $brand-gray;
  }
  a {
    color: $brand-gray;
    text-decoration: none;
    padding: .5em .75em .75em;
    border: 2px solid $brand-secondary;
    .fas {
      &:before {
        color: $brand-black;
      }
    }
    &:hover {
      background-color: $brand-secondary;
      text-decoration: none;
      .fas {
        &:before {
          color: $brand-black;
        }
      }
    }
  }
}

.book-excerpt-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid $brand-black;
  p {
    color: $brand-black;
    font-family: $font-serif;
    text-align: center;
    a {
      color: $brand-black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.get-access {
  background: url("../imgs/prod-book-lg.png") left bottom no-repeat $brand-gray;
  background-size: contain;
  max-width: 1440px;
  @media (max-width: 876px) {
    background-image: none;
    .w-3\/5 {
      display: none;
    }
    .w-2\/5 {
      width: 100%;
    }
  }
  &.get-access-device {
    background-image: url("../imgs/prod-devices.png");
    @media (max-width: 867px) {
      background-image: none;
    }
  }
  h4 {
    color: $brand-secondary;
  }
  h3 {
    color: $brand-white;
  }
  ul {
    color: $brand-white;
    li {
      margin-bottom: .75em;
    }
  }
  span {
    color: $brand-white;
    font: {
      family: $font-sans-serif;
      size: 2.5em;
      weight: 900;
    }
    padding-bottom: 6px;
    display: inline-block;
  }
}

.book-questions {}

// Resources
.resource-cta {}

.email-block {
  margin-bottom: 3.5em;
  position: relative;
  p, li {
    font: {
      family: $font-sans-serif;
      size: .875em;
    }
  }
  hr {}
  .masthead {
    background-color: #DADBDC;
    padding: .5em 1.5em;
    border-radius: 8px 8px 0px 0px;
    .fas {
      color: $brand-white;
      font-size: 1em;
      margin-right: .375em;
    }
  }
  .email-header {
    background-color:#FCFCFD;
    padding: 1.5em;
    border-bottom: 1px solid #F0F0F4;
  }
  .email-copy {
    background-color: $brand-white;
    padding: 1.5em;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    z-index: 3333;
  }
  &:after {
    content: "";
    background: rgba(40,40,45,1);
    width: 95%;
    height: 20px;
    filter: blur(16px);
    border-radius: 20px;
    position: absolute;
    left: 2.5%;
    bottom: -2px;
    z-index: 1111;
  }
}

.img-caption {
  background-color: $brand-white;
  margin-bottom: 2.5em;
  p {
    font: {
      family: $font-sans-serif;
      size: .875em;
    }
    margin: 0;
    padding: 0 1.5em 1.5em;
  }
  img {
    margin-bottom: 1.5em;
  }
}


// About
.about-content {}

.about-sidebar {}

.help-callout {
  background-color: $brand-white;
  outline: 2px solid $brand-secondary;
  border: 5px solid $brand-light-gray;
	position: sticky;
	top: 10px;
}

.about-callout {
  outline: 2px solid $brand-secondary;
  border: 8px solid $brand-light-gray;
  position: relative;
  img {
    position: absolute;
    bottom: -56px;
    right: 0;
  }
}

// In the press/Podcast appearances
.podcast-wrap, .in-the-press-wrap {
  max-width: $container-width;
  margin: {
    right: auto;
    left: auto;
  }
  overflow: hidden;
  .slick-list {
    overflow: visible;
  }
}

.podcast-episode, .press-article {
  position: relative;
  .podcast-thumb {
    max-width: 168px;
    // margin-bottom: 1.375rem;
    display: block;
    position: relative;
    top: -2.375rem;
    left: 2rem;
    z-index: 6666;
  }
  .podcast-title {
    margin-top: -1.5rem;
  }
  .category {
    width: 100%;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    position: relative;
    &:before {
      content: ' ';
      background-color: $brand-primary;
      width: 4rem;
      height: 2px;
      position: absolute;
      top: 0;
      left: 2rem;
    }
  }
}

// Longform
.longform-content {
  p {
    font-family: $font-serif;
  }
}