.footer {
  background-color: $brand-gray;
  h5 {
    color: $brand-white;
  }
  p {
    color: $brand-white;
  }
  .fas {
    color: $brand-secondary;
  }
  a {
    color: $brand-white;
    text-decoration: none;
    &:hover {
      opacity: .5;
    }
  }
  .flex {
    @media (max-width: 980px) {
      display: block;
      position: relative;
    }
  }
  .footer-mark {
    @media (max-width: 980px) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .footer-help {
    @media (max-width: 980px) {
      width: 100%;
      margin-bottom: 4rem;
      padding-right: 0;
    }
  }
}

.footer-nav {
  li {
    margin: 0;
  }
  a {
    color: $brand-white;
    font-family: $font-serif;
    text-decoration: none;
    display: block;
    &:hover {
      opacity: .5;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid $brand-secondary;
    width: 20px;
    margin-left: auto;
  }
  @media (max-width: 980px) {
    width: 100%;
    ul {
      margin: 0;
    }
    li {
      text-align: left;
    }
    hr {
      margin: {
        right: auto;
        left: 0;
      }
    }
  }
}

.copyright {
  background-color: rgba($brand-black,.2);
  .grid {
    @media (max-width: 770px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      div:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }
  p {
    font-size: 12px;
    color: $brand-white;
    text-transform: uppercase;
    opacity: .5;
    @media (max-width: 770px) {
      text-align: center;
    }
  }
  a {
    color: $brand-white;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.access-tag {
  bottom: 0;
  z-index: 7777;
  button {
    background-color: $brand-secondary;
    color: $brand-gray;
    font: {
      family: $font-sans-serif;
      weight: 900;
    }
    text-transform: uppercase;
    padding: 1em 1.875em;
    border-radius: 25px 25px 0 0;
    display: inline-block;
    transition: .5s ease all;
    &:hover {
      color: $brand-white;
    }
    &:focus {
      outline: none;
      border-radius: 25px 25px 0 0;
    }
  }
}

// Access modal
.access-overlay {
  background-color: rgba($brand-gray,.5);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7777;
  overflow: auto; /* Scroll if needed */
}

.access-modal {
  background-color: $brand-white;
  width: 80%;
  max-width: 740px;
  padding: 2.5em;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 8888;
  // h2 {
  //   color: $brand-gray;
  //   font: {
  //     family: $font-sans-serif;
  //     size: 2em;
  //   }
  //   text-transform: uppercase;
  // }
  // hr {
  //   margin: 2em 0;
  // }
  // p {
  //   color: $brand-gray;
  //   font-family: $font-serif;
  //   margin-bottom: 2em;
  // }
  .access-close {
    color: $brand-white;
    font-size: 28px;
    font-weight: 900;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: .5s ease all;
    &:hover,
    &:focus {
      opacity: .5;
      cursor: pointer;
    }
  }
}