.footer {
  background-color: $brand-gray;
  h5 {
    color: $brand-white;
  }
  p {
    color: $brand-white;
  }
  .fas {
    color: $brand-secondary;
  }
  a {
    color: $brand-white;
    text-decoration: none;
    &:hover {
      opacity: .5;
    }
  }
}

.footer-nav {
  li {
    margin: 0;
  }
  a {
    color: $brand-white;
    font-family: $font-serif;
    text-decoration: none;
    display: block;
    &:hover {
      opacity: .5;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid $brand-secondary;
    width: 20px;
    margin-left: auto;
  }
}

.copyright {
  background-color: rgba($brand-black,.2);
  p {
    font-size: 12px;
    color: $brand-white;
    text-transform: uppercase;
    opacity: .5;
  }
  a {
    color: $brand-white;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

.access-tag {
  bottom: 0;
  z-index: 9999;
  a {
    background-color: $brand-secondary;
    color: $brand-gray;
    font: {
      family: $font-sans-serif;
      weight: 900;
    }
    text-transform: uppercase;
    padding: 1em 1.875em;
    border-radius: 25px 25px 0 0;
    display: inline-block;
    &:hover {
      color: $brand-white;
    }
  }
}