body {
  background: url(../imgs/bg.png) right top no-repeat $brand-light-gray;
  color: $brand-black;
  font: {
    family: $font-base;
    size: $font-base;
    weight: 400;
  }
  line-height: $font-line-height-base;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: .5s ease all;
  &:visited {}
  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 {
  color: $brand-black;
  font-family: $font-sans-serif;
  text-transform: uppercase;
}

h2 {
  color: $brand-primary;
}

h3 {
  color: $brand-black;
  &.alt {
    color: $brand-primary;
  }
}

h4 {}

h5 {}

h6 {}

p {
  margin-bottom: 1.25em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

ul, ol {
  margin: 0 0 1em 20px;
  list-style-position: outside;
  li {
    margin-bottom: .25em;
  }
}

ul {
  list-style-type: disc;
  &.checklist,
  &.arrows,
  &.nope {
    margin-left: 0;
    list-style-type: none;
    li {
      font-family: $font-serif;
      display: flex;
      .fas {
        background-color: $brand-secondary;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        margin-right: .75em;
        &:before {
          color: $brand-white;
          font-size: 24px;
          margin-left: -1px;
        }
      }
    }
  }
  &.arrows {
    li .fas {
      &:before {
        color: $brand-light-gray;
      }
    }
  }
  &.nope {
    li {
      opacity: .5;
      .fas {
        color: #EE1A26;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  &.numbered {
    margin-left: 12px;
    list-style: none;
    counter-reset: num-counter;
    li {
      text-indent: -24px;
      margin-left: 20px;
      counter-increment: num-counter;
      position: relative;
      &:before {
        content: counter(num-counter) " ";
        counter-increment: item;
        color: $brand-secondary;
        font: {
          family: $font-serif;
          size: 1em;
          weight: 700;
        }
        text-align: center;
        line-height: 1;
        margin-right: 12px;
        position: relative;
        z-index: 2222;
      }
      &:after {
        background-color: $brand-white;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        content: " ";
        position: absolute;
        left: -32px;
        top: 0;
        z-index: 1111;
      }
    }
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  &.ico {
    width: 104px;
    height: 104px;
    display: block;
  }
}

hr {
  border: none;
  border-top: 2px solid $brand-secondary;
  &.hr-default {
    border-color: $brand-gray;
    opacity: .25;
  }
  &.hr-article {
    border-color: $brand-primary;
  }
  &.hr-gray {
    border-color: $brand-gray;
  }
}

.blog-post hr {
  max-width: 64px;
  margin: 2.5em 0;
}

.fas.fa-angle-double-right {
  &:before {
    color: $brand-secondary;
  }
}

.container {
  max-width: $container-width;
}

.txt-link {
  color: $brand-gray;
  text-decoration: none;
}

.sans-serif {
  font-family: $font-sans-serif;
}

.serif {
  font-family: $font-serif;
}

.brand-primary {
  color: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

blockquote {
  color: $brand-gray;
  margin: 2.5em 0;
  padding: 1.5em;
  border: 1px solid $brand-secondary;
  .book_page & {
    font-weight: 700;
  }
  p {
    font: {
      family: $font-serif;
      size: 1.25em;
    }
    margin-bottom: .75em;
  }
  sub {
    font: {
      family: $font-sans-serif;
      size: .65em;
    }
    line-height: 1em;
  }
}