.brand img {
  max-width: 270px;
  @media (max-width: 690px) {
    max-width: 220px;
  }
}


// Navigation
.main-nav-wrap {
  >div {
    width: 100%;
    max-width: 1375px;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    li {
      margin: 0;
      &.btn-link a {
        background-color: $brand-secondary;
        color: $brand-white;
        font-size: 1em;
        font-weight: 900;
        text-transform: uppercase;
        padding: 9px 12px 11px;
        overflow: hidden;
        display: inline-block;
        &:after {
          content: ' ';
          // background: #D4B868;
          background: $brand-white;
          height: 155px;
          left: -75px;
          opacity: .35;
          position: absolute;
          top: -50px;
          transform: rotate(35deg);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          width: 50px;
          z-index: 10;
        }
        &:hover {
          opacity: 1 !important;
          &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }
  }
  a {
    color: $brand-black;
    font: {
      family: $font-serif;
      size: 1em;
      weight: 700;
    }
    text-decoration: none;
    vertical-align: sub;
    &:hover {
      opacity: .75;
      .fa, .fas {
        margin-left: 0;
      }
    }
  }
}

.main-nav {
  @media (max-width: 1140px) {
    display: none;
  }
  &.active-nav {
    background-color: $brand-gray;
    width: 100%;
    padding: {
      top: 2.5em;
      bottom: 2.5em;
    }
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 9999;
    @media (max-width: 690px) {
      top: 68px;
    }
    ul {
      display: block;
      li {
        // padding: {
        //   right: 2.5em;
        //   left: 2.5em;
        // }
        display: block;
        &:last-of-type a {
          margin-bottom: 0;
        }
        &.btn-link {
          @media (max-width: 1140px) {
            display: none;
          }
          @media (max-width: 700px) {
            display: block;
          }
        }
      }
    }
    a {
      color: $brand-white;
      margin: {
        left: 0;
        bottom: 2em;
      }
      padding: {
        right: 2.5em;
        left: 2.5em;
      }
      display: block;
    }
  }
  li {
    &:first-of-type a {
      margin-left: 0;
    }
    &.btn-link {
      @media (max-width: 700px) {
        text-align: center;
        margin: {
          right: 2.5em;
          left: 2.5em;
        }
      }
    }
    &.nav-drop {
      .fas {
        color: $brand-secondary;
      }
      a:first-of-type {
        @media (max-width: 1140px) {
          // pointer-events: none;
        }
      }
      // @media (min-width: 1140px) {
      //   &:hover {
      //     .sub-nav-wrap {
      //       display: block;
      //     }
      //   }
      // }
    }
  }
  a {
    color: $brand-gray;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.5em;
    &:hover {}
    &.active {}
    @media (max-width: 1245px) {
      margin-left: 1.5em;
    }
  }
  .sub-nav-mobile {
    background-color: rgba($brand-white,.1);
    margin-bottom: 1.5em;
    padding: {
      top: 2em;
      bottom: 2em;
    }
    display: none;
    position: relative;
    &:after {
      content: ' ';
      background-color: #395382;
      width: 72px;
      height: 8px;
      position: absolute;
      top: -4px;
      left: 2.5em;
    }
    ul {
      li {
        &:last-of-type {
          a {
            margin-bottom: 0;
          }
        }
      }
      a {
        font: {
          family: $font-sans-serif;
          size: .935em;
        }
        text-transform: uppercase;
        margin-bottom: 1.5em;
      }
    }
  }
}

.sub-nav-wrap {
  // padding-top: 35px;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
}

.sub-nav {
  background-color: $brand-gray;
  // Aligns top of dropdown nav with bottom of navbar
  margin-top: 35px;
  .container {
    padding: 4em 0;
  }
  .sub-nav-group {
    h6 {
      color: $brand-secondary;
      font: {
        family: $font-sans-serif;
        size: 1em;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      margin-bottom: .75em;
    }
    p {
      color: $brand-white;
      font-size: 14px;
      text-align: center;
      margin-bottom: 2em;
    }
    img {
      margin: 0 auto 1em;
      display: block;
    }
    a {
      color: $brand-white;
      font-family: $font-sans-serif;
    }
  }
}

.mobile-nav {
  display: none;
  @media (max-width: 1140px) {
    display: flex;
  }
  .btn-link {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .mobile-trigger {
    margin-left: 2.5em;
    @media (max-width: 700px) {
      margin: {
        bottom: 1.5rem;
        left: 1rem;
      }
    }
    a {
      width: 1em;
      height: 1em;
      position: relative;
      &:after {
        content: '\f0c9';
        color: $brand-secondary;
        font: {
          family: "Font Awesome 5 Free";
          size: 1em;
        }
        position: absolute;
        top: 0;
        left: 0;
      }
      &.close-nav {
        &:after {
          color: $brand-gray;
          content: '\f00d';
        }
      }
    }
  }
}