.brand img {
  max-width: 270px;
}

.main-nav {
  li {
    &:first-of-type a {
      margin-left: 0;
    }
    &.btn-link a {
      background-color: $brand-secondary;
      color: $brand-white;
      font-size: 1em;
      font-weight: 900;
      text-transform: uppercase;
      padding: 9px 12px 11px;
    }
    // Doing dropdown with jQuery
    // &.nav-drop {
    //   &:hover {
    //     .sub-nav-wrap {
    //       display: grid;
    //     }
    //   }
    // }
  }
  a {
    color: $brand-gray;
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.5em;
    &:hover {}
    &.active {}
  }
}

.sub-nav-wrap {
  // padding-top: 35px;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
}

.sub-nav {
  background-color: $brand-gray;
  // Aligns top of dropdown nav with bottom of navbar
  margin-top: 35px;
  .container {
    padding: 4em 0;
  }
  .sub-nav-group {
    h6 {
      color: $brand-secondary;
      font: {
        family: $font-sans-serif;
        size: 1.125em;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      margin-bottom: .75em;
    }
    p {
      color: $brand-white;
      font-size: 14px;
      text-align: center;
      margin-bottom: 2em;
    }
    img {
      margin: 0 auto 1em;
      display: block;
    }
    a {
      color: $brand-white;
      font-family: $font-sans-serif;
    }
  }
}