// Hero
.hero {
  background-color: rgba($brand-gray,.10);
  h4 {
    font-family: $font-sans-serif;
    color: $brand-primary;
  }
  p {
    font-family: $font-serif;
  }
  img {
    z-index: 4444;
  }
}

.hero-posts {
  background-color: transparent;
}

.hero-book {
  min-height: 410px;
  position: relative;
  img {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}


// Navigation
.main-nav-wrap {
  >div {
    width: 100%;
    max-width: 1375px;
    margin: 0 auto;
  }
}
.main-nav {
  ul {
    margin: 0;
    li {
      margin: 0;
    }
  }
  a {
    color: $brand-black;
    font: {
      family: $font-serif;
      size: 1.125em;
      weight: 700;
    }
    text-decoration: none;
    &:hover {
      opacity: .75;
    }
  }
}