// Hero
.hero {
  background-color: rgba($brand-gray,.10);
  h4 {
    font-family: $font-sans-serif;
    color: $brand-primary;
  }
  p {
    font-family: $font-serif;
  }
  img {
    z-index: 4444;
    .about & {
      position: absolute;
      right: 0;
      bottom: -56px;
      @media (max-width: 1100px) {
        bottom: -50px;
      }
      @media (max-width: 980px) {
        bottom: -45px;
      }
      @media (max-width: 880px) {
        bottom: -40px;
      }
      @media (max-width: 876px) {
        bottom: -50px;
      }
      @media (max-width: 780px) {
        bottom: -45px;
      }
    }
    .products & {
      top: -36px;
    }
  }
  // @media (max-width: 876px) {
  //   .grid {
  //     display: block;
  //   }
  // }
  .about & {
    .relative {
      @media (max-width: 880px) {
        display: none;
      }
    }
  }
  .products & {
    .container {
      padding-bottom: 12rem;
      @media (max-width: 1000px) {
        padding-bottom: 7rem;
      }
      @media (max-width: 876px) {
        padding-bottom: 4rem;
      }
    }
  }
  .get-a-raise & {
    .relative {
      img {
        top: -3rem;
      }
    }
  }
  .complete-bundle & {
    .relative {
      img {
        top: -3rem;
      }
    }
  }
}

.hero-posts {
  background-color: transparent;
}

.hero-book {
  min-height: 410px;
  position: relative;
  img {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}