// Colors
$brand-primary: #315488; // blue
$brand-secondary: #BF9724; // gold
// $brand-tertiary: green; // green
// $brand-quaternary: pink; // pink
$brand-white: #fff;
$brand-black: #000;
$brand-gray: #28282D;
$brand-light-gray: #eaebec;

// Fonts
$font-sans-serif: sweet-sans-pro, Helvetica, sans-serif;
$font-serif: mrs-eaves-xl-serif, serif;
$font-base: Helvetica, sans-serif;

// Type
$font-size-base: 16px;
$font-line-height-base: 1.5;

// Layout
$container-width: 1130px;