{% include header.html %}

{% include hero-alt.html %}

<div class="container mx-auto py-20">
  <div class="md:flex gap-12">

    <div class="md:w-8/12 w-100 book-content-wrap order-1 sm:order-2">

      <div class="book-content">
        {{ content }}
      </div><!-- /book-content -->

			{% include /product-ctas/fsn-inline.html %}
      
      {% include book-pagination.html %}

    </div><!-- /book-content-wrap -->

    <div class="md:w-4/12 w-100 book-sidebar sm:order-1 order-2">

      <div class="p-8">
        <h3 class="text-2xl mb-3.5 uppercase sans-serif">Contents</h3>
        <ul>
          <li><h5><a href="/book/about-the-author/">About the Author</a></h5></li>
          <li><h5><a href="/book/introduction/">Introduction</a></h5></li>
          <li><h5><a href="/book/how-to-get-the-most-out-of-this-book/">How to get the most out of this book</a></h5></li>
        </ul>

        <hr class="mt-8 pb-8">

        <h4 class="toc-title">Part 1</h4>
        <div class="toc-chapter">
          <h5>Understanding your Market Value</h5>
          <ul class="toc">
            <li class="no-indent"><a href="/book/foundational-concepts/">A few fundamental concepts</a></li>
            <li><a href="/book/salary-structures/"><strong>1.</strong> How companies manage their salary structures</a></li>
            <li><a href="/book/value/"><strong>2.</strong> How to estimate your market value</a></li>
          </ul>
        </div><!-- /toc-chapter -->

        <hr class="mt-8 pb-8">

        <h4 class="toc-title">Part 2</h4>
        <div class="toc-chapter">
          <h5>Getting Paid What You’re Worth When Changing Companies</h5>
          <ul class="toc">
          <li class="no-indent"><a href="/book/changing-companies/">Leveraging your best opportunity to significantly increase your salary</a></li>
            <li><a href="/book/interview/"><strong>3.</strong> How to ace your next interview</a></li>
            <li><a href="/book/negotiate/"><strong>4.</strong> How to negotiate your new salary</a></li>
            <li><a href="/book/leave/"><strong>5.</strong> How to leave a job on the best possible terms</a></li>
          </ul>
        </div><!-- /toc-chapter -->

        <hr class="mt-8 pb-8">

        <h4 class="toc-title">Part 3</h4>
        <div class="toc-chapter">
          <h5>Getting Paid What You’re Worth Within Your Current Company</h5>
          <ul class="toc">
            <li class="no-indent"><a href="/book/should-you-pursue-a-promotion-or-raise/">Do you have to quit your job to get a big raise?</a></li>
            <li><a href="/book/promotion/"><strong>6.</strong> How to get your next promotion</a></li>
            <li><a href="/book/raise/"><strong>7.</strong> How to get your next raise</a></li>
          </ul>
        </div><!-- /toc-chapter -->
      </div>

    </div><!-- /book-sidebar -->

  </div>
</div>

{% include one-on-one-help.html %}

{% include footer.html %}