{% include header.html %}

{% include header-nav.html %}

<div class="container mx-auto pb-20">

  <div class="md:flex">

    <div class="md:w-7/12 md:mr-12 blog-post-wrap">

      {% include hero-posts.html %}

      <div class="blog-post">

        {{ content }}

      </div>

    </div><!-- /blog-post-wrap -->

    <div class="md:w-4/12 md:ml-12 blog-sidebar pt-24">
      {% if page.company %}
	      <div class="help-callout p-8 pb-12">
	        <h4 class="sans-serif uppercase text-lg brand-secondary mb-4">Work with Josh</h4>
	        <h3 class="sans-serif uppercase text-2xl text-black mb-10">Need full-service 1-on-1 support to help guide you through your {{ page.company }} salary negotiation?</h3>
	        <p><a href="/coach/" class="btn btn-primary">Work with Josh</a></p>
	      </div>
			{% endif %}
    </div><!-- /blog-sidebar -->

  </div>

</div>

{% include one-on-one-help.html %}

{% include footer-nav.html %}

{% include footer.html %}
