---
layout: page
---

{% include header.html %}

<div class="container mx-auto pb-20">

  <div class="flex">

    <div class="w-7/12 mr-12 blog-post-wrap">

      {% include hero-posts.html %}

      <div class="blog-post">

        {{ content }}

      </div>

    </div><!-- /blog-post-wrap -->

    <div class="w-4/12 ml-12 blog-sidebar pt-24">

      <h3 class="text-2xl mb-8 text-center uppercase sans-serif">You Might Also Like</h3>

      <div class="related-posts">
        {% for post in site.related_posts limit : 3 %}
          <div class="bg-white mb-8 flex flex-col">
            <div class="p-8 flex-grow flex-1">
              <p class="text-2xl serif"><a href="{{ post.url }}">{{ post.title }}</a></p>
              <hr class="my-6 w-16 hr-article">
              <p class="text-sm mb-6 sans-serif">{{ post.excerpt }}</p>
            </div>
            <div class="category flex justify-between items-center">
              <div class="pl-8"><p class="sans-serif text-xs">{{ post.categories | join: ', ' }}</p></div>
              <div><a href="{{ post.url }}" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
            </div>
          </div>
        {% endfor %}
        <p class="text-center"><a href="/blog/" class="btn btn-primary">Back to Articles</a></p>
      </div><!-- /related-posts -->

    </div><!-- /blog-sidebar -->

  </div>

  {% include three-card-callout.html %}

  {% include one-on-one-help.html %}

</div>

{% include footer.html %}
