---
showAccessTag: show
showAccessModal: show
---

{% include header.html %}

<div class="container mx-auto pb-20">

  <div class="flex">

    <div class="lg:w-7/12 mr-12 blog-post-wrap">

      {% include hero-posts.html %}

      <div class="blog-post">

        {{ content }}

      </div>

    </div><!-- /blog-post-wrap -->

    <div class="lg:w-4/12 ml-12 blog-sidebar pt-24">

      <h3 class="text-2xl mb-8 text-center brand-primary uppercase sans-serif">You Might Also Like</h3>

      <div class="related-posts">
        {% for resources in site.resources limit : 3 %}
          {% if page.category == resources.category %}
          <div class="bg-white mb-8 flex flex-col">
            <div class="p-8 flex-grow flex-1">
              <p class="text-2xl"><a href="{{ resources.url }}">{{ resources.title }}</a></p>
              <hr class="my-6 w-16 hr-article">
              <p class="text-sm mb-6 sans-serif">{{ resources.excerpt }}</p>
            </div>
            <div class="category flex justify-between items-center">
              <div class="pl-8"><p class="sans-serif text-xs">{{ resources.category }}</p></div>
              <div><a href="{{ resources.url }}" class="cat-arrow"><i class="fas fa-arrow-right"></i></a></div>
            </div>
          </div>

          {% endif %}
        {% endfor %}
        <p class="text-center"><a href="/resource-library/" class="btn btn-primary">Back to Resources</a></p>
      </div><!-- /related-posts -->

    </div><!-- /blog-sidebar -->

  </div>

  {% include three-card-callout.html %}

  {% include one-on-one-help.html %}

</div>

{% include footer.html %}
