@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  background: url(../imgs/bg.png) right top no-repeat #F0F0F4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: .5s ease all;
}

a:visited, a:hover {}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 {
  color: #000;
}

h2 {
  color: #315488;
}

h3 {
  color: #000;
}

h3.alt {
  color: #315488;
}

h4 {}

h5 {}

h6 {}

p {
  margin-bottom: 1.25em;
}

p:last-of-type {
  margin-bottom: 0;
}

ul, ol {
  margin: 0 0 1em 20px;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ul.checklist {
  list-style-type: none;
  text-indent: -10px;
}

ul.checklist .fas:before {
  color: #fff;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: .25em;
}

/* p:last-of-type {
  margin-bottom: 0;
} */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

img.ico {
  width: 104px;
  height: 104px;
  display: block;
}

hr {
  border: none;
  border-top: 2px solid #BF9724;
}

hr.hr-default {
  border-top: 2px solid #28282D;
  opacity: .25;
}

hr.hr-article {
  border-top: 2px solid #315488;
}

.blog-post hr {
  max-width: 64px;
  margin: 2.5em 0;
}

.container {
  max-width: 1120px;
}


/* Hero */
.hero {
  background-color: rgba(40,40,45,.10);
}

.hero-posts {
  background-color: transparent;
}

.hero h4 {
  color: #315488;
}


/* Main Nav */
.brand img {
  max-width: 270px;
}

.main-nav {}

.main-nav li {}

.main-nav a {
  color: #28282D;
  font-size: 1.125em;
  font-weight: 700;
  text-decoration: none;
  margin-left: 2.5em;
}

.main-nav li:first-of-type a {
  margin-left: 0;
}

.main-nav a:hover {}

.main-nav a.active {}

.main-nav li.btn-link a {
  background-color: #BF9724;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 9px 12px 11px;
}


/* Articles */
.cat-arrow {
  background-color: #BF9724;
  text-align: center;
  width: 56px;
  height: 56px;
  border-left: 12px solid #F0F0F4;
  border-top: 12px solid #F0F0F4;
  display: block;
}

.cat-arrow .fas {
  color: #28282D;
  vertical-align: -0.55em;
}

.category p {
  color: #28282D;
  text-transform: uppercase;
  opacity: .5;
}

.article-lists a {
  text-decoration: none;
  border-bottom: 1px solid #BF9724;
}

.article-lists a:hover {}


/* Buttons */
.btn-primary {
  background-color: #BF9724;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 9px 12px 11px;
}

.txt-link {
  color: #28282D;
  text-decoration: none;;
}


/* Card Carousel */
.card-carousel .slick-dots {
  bottom: 0;
  top: -4em;
  right: 1.5em;
  text-align: right;
}

.card-carousel .slick-dots li button:before {

}

.card-carousel .slick-prev,
.card-carousel .slick-next {
  top: -46px;
}

.card-carousel .slick-prev {
  right: 200px;
  left: unset;
}

.card-carousel .slick-next {
  right: 0;
}


/* Get help callout */
.get-help {
  outline: 2px solid #315488;
  border: 8px solid #F0F0F4;
  position: relative;
}

.get-help img {
  position: absolute;
  bottom: -56px;
  right: 0;
}


/* Footer */
.footer {
  background-color: #28282D;
}

.footer h5 {
  color: #fff;
}

.footer p {
  color: #fff;
}

.footer .fas {
  color: #BF9724;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  opacity: .5;
}

.footer-nav {}

.footer-nav li {
  margin: 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer-nav a:hover {
  opacity: .5;
}

.footer-nav hr {
  border: none;
  border-bottom: 1px solid #BF9724;
  width: 20px;
  margin-left: auto;
}


/* Copyright */
.copyright {
  background-color: rgba(0,0,0,.2);
}

.copyright p {
  font-size: 12px;
  color: #fff;
  opacity: .5;
}

.copyright a {
  color: #fff;
  text-transform: uppercase;
  opacity: .5;
}

.copyright a:hover {
  opacity: 1;
}


/* Blog Posts */
.blog-post-wrap {}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  margin-bottom: 1.25em;
}

.blog-post blockquote {
  color: #28282D;
  font-size: 1.5em;
  margin: 2.5em 0;
  padding: 1.5em;
  border: 1px solid #BF9724;
}

.blog-post blockquote p {
  margin-bottom: .75em;
}

.blog-post blockquote p:last-of-type {
  margin-bottom: 0.5em;
}

.blog-post blockquote sub {
  font-size: .65em;
  line-height: 1em;
}

.blog-post iframe {
  margin: 2.5em 0;
  box-shadow: 32px 32px 40px rgba(0, 0, 0, 0.15);
}

.blog-slider {}

.slider-controls {}

.blog-prev,
.blog-next {
  color: #28282D;
  opacity: .25;
}

.blog-prev:hover,
.blog-next:hover {
  opacity: 1;
}

.blog-dots {
  margin: 0 10px;
}

.blog-slider-wrap .slick-dots {
  text-align: center;
  position: relative;
  bottom: 0;
}

.blog-slider-wrap .slick-dots li button {}

.blog-slider-wrap .slick-dots li button:before {
  content: ' ';
  background-color: #fff;
  color: #fff;
  font-size: 16px;
  line-height: 14px;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: 3px solid #fff;
  border-radius: 50%;
}
.blog-slider-wrap .slick-dots li.slick-active button:before {
  background-color: #BF9724;
  opacity: 1;
}

.blog-slider-wrap .slick-dots li:hover {}

.blog-sidebar {}

.blog-sidebar h3 {
  color: #BF9724;
}

.load-more {
  position: relative;
}

.load-more:after {
  content: ' ';
  background-color: #BF9724;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
}

.load-more a {
  background-color: #F0F0F4;
  color: #28282D;
  font-size: 1em;
  font-weight: 900;
  padding: .5em .75em;
  border: 2px solid #BF9724;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.load-more a .fas {
  color: #28282D;
}

.load-more a:hover {
  background-color: #fff;
}


/* Misc */
.accordion {
  margin: 1.75em 0 2.5em;
}

.accordion .acc-open {
  background-color: #fff;
  margin-bottom: 1.25em;
  padding: 1.5em 3.8em 1.5em 1.5em;
}

.accordion h6 {
  font-size: 1.125em;
  margin-bottom: 0;
  position: relative;
}

.accordion h6:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #BF9724;
  content: "\f0dd";
  position: absolute;
  right: 0;
  top: -5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.accordion h6:hover {
  cursor: pointer;
}

.accordion p:first-of-type {
  margin-top: 2em;
}


/* Products - three cards */
.three-card-prod {
  position: relative;
  z-index: 3;
}

.three-card-prod:after {
  content: ' ';
  background-color: #28282D;
  opacity: .1;
  width: 1000%;
  height: 526px;
  position: absolute;
  top: 8.85em;
  right: -50%;
  left: -50%;
  z-index: 1;
  display: block;
}

.three-card-prod h4, .card-prod h5 {
  color: #315488;
}


/* Success Stories slider */
.success-slider {
  background-color: #28282D;
  position: relative;
}

.success-slider .suc-quote {
  position: absolute;
  top: 3.875em;
  left: 2.5em;
}

.suc-quotes {
  padding: 6.75em 4em 2.75em 4.25em;
}

.suc-quotes p {
  color: #fff;
  font-size: 1.5em;
}

.suc-quotes strong {
  color: #BF9724;
}

.suc-quotes p.name {
  color: #BF9724;
  font-size: .875em;
  font-weight: 900;
  text-transform: uppercase;
}

.suc-quotes p.title {
  color: rgba(255,255,255,.5);
  font-size: .75em;
  text-transform: uppercase;
}

.suc-control {
  position: absolute;
  right: 4em;
  bottom: 2em;
}

.suc-prev,
.suc-next {
  border: 2px solid #BF9724;
  opacity: .25;
}

.suc-next {
  margin-left: 0.75em;
}

.suc-prev .fas,
.suc-next .fas {
  background-color: #28282D;
  color: #fff;
  padding: 1em;
}

.suc-prev:hover,
.suc-next:hover,
.suc-prev:focus,
.suc-next:focus,
.suc-prev:active,
.suc-next:active {
  opacity: 1;
}

.suc-dots .slick-dots {
  position: absolute;
  bottom: -44px;
  text-align: left;
}

.suc-dots .slick-dots li {
  width: 44px;
  height: 44px;
  margin: 0;
}

.suc-dots .slick-dots li button {
  font-size: 1em;
  width: 1em;
  height: 1em;
  padding: 0;
}

.suc-dots .slick-dots li button:before {
  background-color: #28282D;
  content: ' ';
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 2.75em;
  height: 2.75em; */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 44px 0 0;
  border-color: #28282d #F0F0F4 #F0F0F4 #F0F0F4;
  text-align: left;
}

.suc-dots .slick-dots li:nth-child(1) button:before { opacity: .1; }
.suc-dots .slick-dots li:nth-child(1) button:before { opacity: .2; }
.suc-dots .slick-dots li:nth-child(1) button:before { opacity: .3; }
.suc-dots .slick-dots li:nth-child(1) button:before { opacity: .4; }
.suc-dots .slick-dots li:nth-child(1) button:before { opacity: .5; }

.suc-dots .slick-dots li.slick-active button:before {
  opacity: 1;
}


/* Blog category nav */
.cat-nav {}

.cat-nav li {
  text-align: center;
}

.cat-nav a {
  background-color: transparent;
  color: #28282D;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-right: 1.25em;
  padding: .65em .75em;
  border: 2px solid #BF9724;
  display: inline-block;
}

.cat-nav a:hover {
  background-color: #fff;
  color: #28282D;
}

.cat-active a {
  background-color: #BF9724;
  color: #fff;
}


/* Blog page featured posts */
.blog-featured {}

.blog-featured h4 {
  color: #28282D;
}