@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  background: url(../../imgs/bg.png) right top no-repeat #F0F0F4;
}

a {
  text-decoration: none;
}

a:visited, a:hover {}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 {
  color: #000;
}

h2 {
  color: #315488;
}

h3 {
  color: #000;
}

h3.alt {
  color: #315488;
}

h4 {}

h5 {}

h6 {}

img.ico {
  width: 104px;
  height: 104px;
  display: block;
}

hr.hr-default {
  border: none;
  border-top: 2px solid #28282D;
  opacity: .25;
}

hr.hr-article {
  border: none;
  border-top: 2px solid #315488;
}


/* Hero */
.hero {
  background-color: rgba(40,40,45,.10);
}

.hero h4 {
  color: #315488;
}

/* Articles */
.cat-arrow {
  background-color: #BF9724;
  text-align: center;
  width: 56px;
  height: 56px;
  border-left: 12px solid #F0F0F4;
  border-top: 12px solid #F0F0F4;
  display: block;
}

.cat-arrow .fas {
  color: #28282D;
  vertical-align: -0.55em;
}

.category p {
  color: #28282D;
  text-transform: uppercase;
  opacity: .5;
}

.article-lists a {
  text-decoration: none;
  border-bottom: 1px solid #BF9724;
}

.article-lists a:hover {}

/* Buttons */
.btn-primary {
  background-color: #BF9724;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 9px 12px 11px;
}

.txt-link {
  color: #28282D;
  text-decoration: none;;
}


/* Card Carousel */
.card-carousel .slick-dots {
  bottom: 0;
  top: -4em;
  right: 1.5em;
  text-align: right;
}

.card-carousel .slick-dots li button:before {

}

.card-carousel .slick-prev,
.card-carousel .slick-next {
  top: -46px;
}

.card-carousel .slick-prev {
  right: 200px;
  left: unset;
}

.card-carousel .slick-next {
  right: 0;
}


/* Get help callout */
.get-help {
  outline: 2px solid #315488;
  border: 8px solid #F0F0F4;
  position: relative;
}

.get-help img {
  position: absolute;
  bottom: -56px;
  right: 0;
}