@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  background: url(../imgs/bg.png) right top no-repeat #F0F0F4;
}

a {
  text-decoration: none;
}

a:visited, a:hover {}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 {
  color: #000;
}

h2 {
  color: #315488;
}

h3 {
  color: #000;
}

h3.alt {
  color: #315488;
}

h4 {}

h5 {}

h6 {}

p {
  margin-bottom: 1.25em;
}

ul, ol {
  margin: 0 0 1em 20px;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ul.checklist {
  list-style-type: none;
  text-indent: -10px;
}

ul.checklist .fas:before {
  color: #fff;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: .25em;
}

/* p:last-of-type {
  margin-bottom: 0;
} */

img.ico {
  width: 104px;
  height: 104px;
  display: block;
}

hr {
  border: none;
  border-top: 2px solid #BF9724;
}

hr.hr-default {
  border-top: 2px solid #28282D;
  opacity: .25;
}

hr.hr-article {
  border-top: 2px solid #315488;
}

.blog-post hr {
  max-width: 64px;
  margin: 2.5em 0;
}

.container {
  max-width: 1120px;
}


/* Hero */
.hero {
  background-color: rgba(40,40,45,.10);
}

.hero-posts {
  background-color: transparent;
}

.hero h4 {
  color: #315488;
}

/* Articles */
.cat-arrow {
  background-color: #BF9724;
  text-align: center;
  width: 56px;
  height: 56px;
  border-left: 12px solid #F0F0F4;
  border-top: 12px solid #F0F0F4;
  display: block;
}

.cat-arrow .fas {
  color: #28282D;
  vertical-align: -0.55em;
}

.category p {
  color: #28282D;
  text-transform: uppercase;
  opacity: .5;
}

.article-lists a {
  text-decoration: none;
  border-bottom: 1px solid #BF9724;
}

.article-lists a:hover {}


/* Buttons */
.btn-primary {
  background-color: #BF9724;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 9px 12px 11px;
}

.txt-link {
  color: #28282D;
  text-decoration: none;;
}


/* Card Carousel */
.card-carousel .slick-dots {
  bottom: 0;
  top: -4em;
  right: 1.5em;
  text-align: right;
}

.card-carousel .slick-dots li button:before {

}

.card-carousel .slick-prev,
.card-carousel .slick-next {
  top: -46px;
}

.card-carousel .slick-prev {
  right: 200px;
  left: unset;
}

.card-carousel .slick-next {
  right: 0;
}


/* Get help callout */
.get-help {
  outline: 2px solid #315488;
  border: 8px solid #F0F0F4;
  position: relative;
}

.get-help img {
  position: absolute;
  bottom: -56px;
  right: 0;
}


/* Footer */
.footer {
  background-color: #28282D;
}

.footer h5 {
  color: #fff;
}

.footer p {
  color: #fff;
}

.footer .fas {
  color: #BF9724;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  opacity: .5;
}

.footer-nav {}

.footer-nav li {
  margin: 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer-nav a:hover {
  opacity: .5;
}

.footer-nav hr {
  border: none;
  border-bottom: 1px solid #BF9724;
  width: 20px;
  margin-left: auto;
}


/* Copyright */
.copyright {
  background-color: rgba(0,0,0,.2);
}

.copyright p {
  font-size: 12px;
  color: #fff;
  opacity: .5;
}

.copyright a {
  color: #fff;
  text-transform: uppercase;
  opacity: .5;
}

.copyright a:hover {
  opacity: 1;
}


/* Blog Posts */
.blog-post-wrap {
  margin-right: 6em;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  margin-bottom: 1.25em;
}

.blog-post blockquote {
  color: #28282D;
  font-size: 1.5em;
  margin: 2.5em 0;
  padding: 1.5em;
  border: 1px solid #BF9724;
}

.blog-post blockquote p {
  margin-bottom: .75em;
}

.blog-post blockquote p:last-of-type {
  margin-bottom: 0.5em;
}

.blog-post blockquote sub {
  font-size: .65em;
  line-height: 1em;
}

.blog-post iframe {
  margin: 2.5em 0;
  box-shadow: 32px 32px 40px rgba(0, 0, 0, 0.15);
}

.blog-sidebar {}

.blog-sidebar h3 {
  color: #BF9724;
}


/* Misc */
.accordian {
  margin: 1.75em 0 2.5em;
}

.accordian .acc-open {
  background-color: #fff;
  margin-bottom: 1.25em;
  padding: 1.5em 3.8em 1.5em 1.5em;
}

.accordian h6 {
  font-size: 1.125em;
  margin-bottom: 0;
  position: relative;
}

.accordian h6:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #BF9724;
  content: "\f0dd";
  position: absolute;
  right: 1em;
  top: 0;
}

.accordian h6:hover {
  cursor: pointer;
}

.accordian p:first-of-type {
  margin-top: 2em;
}